<div class="grid Padded">
		{{#each sortedArtists as |artist|}}
		{{#if artist.acf.festival_date}}
			<div class="program-item">
				{{program-item artist=artist}}
			</div>
		{{/if}}
		{{/each}}
</div>

