
<div id="ticker-container">
<div class="moving-container">
	{{#each items as |artist|}}
			<div class="ticker">
					{{#link-to 'program.artist' artist}}
						<h1 class="titles"> | {{artist.title}}</h1>
					{{/link-to}}
			</div>
	{{/each}}
</div>
</div>




{{yield}}





