//- global vars
- var language = 'da'
- var dir = 'root'
- var description = ''

//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]

	head
		include layout-header

	body(class="#{bodyClass}")
		block content-header

		header#l-Header.l-Header
			h1.Logo
				a(href="/")
					img(src='images/alivefestival.png', alt='')

			nav#l-Navigation.l-Navigation
				include navigation

			.Social
				a.Social-facebook(href="http://facebook.com/alivefestival")
					img(src="images/handycons/facebook_32.png", alt="")
					//img(src='images/icon/social-facebook.png', alt='')

		#l-Main.l-Main
			block content

		block content-footer
		include layout-footer
