block header
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width')

	link(rel='canonical', href='http://alivefestival.dk/')
	| <meta property="fb:app_id" content="114798911889232" />
	| <meta property="og:title" content="Alive Festival" />
	| <meta property="og:url" content="http://facebook.om/alivefestival" />
	| <meta property="og:image" content="" />
	
	if active == 'Index'
		title Alive Festival
	else
		title #{active} - Alive Festival
	
	meta(name='description', content='#{description}')
	
	link(rel='stylesheet', href='scripts/vendor/royalslider/royalslider.css')
	link(rel='stylesheet', href='scripts/vendor/royalslider/skins/default/rs-default.css')
	link(rel='stylesheet', href='styles/main.css')

	script(src='scripts/vendor/modernizr.custom.min.js')
	//-| <script src="//use.typekit.net/wpt0izv.js"></script>
	//-| <script>try{Typekit.load();}catch(e){}</script>
