//- global vars
- var language = 'da'
- var dir = 'root'
- var description = ''

//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='description', content='#{description}')
		link(rel='canonical', href='http://alivefestival.dk/')
		| <meta property="fb:app_id" content="114798911889232" />
		| <meta property="og:title" content="Alive Festival" />
		| <meta property="og:url" content="http://facebook.om/alivefestival" />
		| <meta property="og:image" content="" />

		link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
		link(rel='icon', type='image/png', href='/favicon-196x196.png', sizes='196x196')
		link(rel='icon', type='image/png', href='/favicon-160x160.png', sizes='160x160')
		link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='msapplication-TileImage', content='/mstile-144x144.png')


		if active == 'Index'
			title Alive Festival
		else
			title #{active} - Alive Festival

		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild

		script(src='scripts/vendor/modernizr.custom.min.js')

		script.
			//- WebFontConfig = { fontdeck: { id: '46228' } };
			//- (function() {
			//- var wf = document.createElement('script');
			//- wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			//- '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			//- wf.type = 'text/javascript';
			//- wf.async = 'true';
			//- var s = document.getElementsByTagName('script')[0];
			//- s.parentNode.insertBefore(wf, s);
			//- })();


			var html = document.getElementsByTagName('html')[0];
			html.className += '  wf-loading';
			setTimeout(function() {
			html.className = html.className.replace(' wf-loading', '');
			}, 5000);

			WebFontConfig = { fontdeck: { id: '46228' } };

			(function() {
			var wf = document.createElement('script');
			wf.src = 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();


	body(class="#{bodyClass}")

		header#Header.Header
			h1.Logo
				a(href="/")
					//- img(src='images/2014/alivefestival-2014-logo.png', alt='Alive Festival')
					//- img(src='images/2014/alive-header.jpg', alt='Alive Festival')
					img(src='images/2014/alive-header-trans.png', alt='Alive Festival')

			nav#SiteNav.SiteNav
				include navigation

			.Social
				a.Social-facebook(href="http://facebook.com/alivefestival")
					img(src="images/handycons/facebook_32.png", alt="")
					//img(src='images/icon/social-facebook.png', alt='')

		#Main.Main
			block content

		.Loader
			ul.Loader-object
				li
				li
				li

		include layout-footer
