.Scripts
	// build:js(app) scripts/main.js
	script(src='bower_components/jquery/dist/jquery.js')

	//- imagesLoaded
	script(src="bower_components/eventEmitter/EventEmitter.js")
	script(src="bower_components/eventie/eventie.js")
	script(src='bower_components/imagesloaded/imagesloaded.js')

	//- Masonry
	script(src="bower_components/get-style-property/get-style-property.js")
	script(src="bower_components/get-size/get-size.js")
	script(src="bower_components/outlayer/item.js")
	script(src="bower_components/doc-ready/doc-ready.js")
	script(src="bower_components/jquery-bridget/jquery.bridget.js")
	script(src="bower_components/matches-selector/matches-selector.js")
	script(src="bower_components/outlayer/outlayer.js")
	script(src='bower_components/masonry/masonry.js')

	//-script(src='scripts/vendor/jquery.zlayer.full.js')
	script(src='bower_components/jquery-waypoints/waypoints.js')
	script(src='bower_components/magnific-popup/dist/jquery.magnific-popup.js')
	//- script(src='scripts/vendor/fittext.js')
	script(src='scripts/vendor/royalslider/jquery.royalslider.custom.min.js')

	script(src='scripts/menu.js')
	script(src='scripts/history.js')
	script(src='scripts/practical.js')
	script(src='scripts/gallery.js')
	script(src='scripts/program.js')
	//- script(src='scripts/tabs.js')
	script(src='scripts/slideshow.js')
	script(src='scripts/main.js')
	// endbuild

	.Facebook.
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=114798911889232";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	script.
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='https://www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-3906535-9');ga('send','pageview');
