//- global vars
- var language = 'da'
- var dir = 'root'
- var description = ''

//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='description', content='#{description}')

		if active == 'Index'
			title Alive Festival
		else
			title #{active} - Alive Festival

		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild

		script(src='scripts/vendor/modernizr.custom.min.js')
		//-| <script src="//use.typekit.net/wpt0izv.js"></script>
		//-| <script>try{Typekit.load();}catch(e){}</script>
		script.
			WebFontConfig = { fontdeck: { id: '46228' } };
			(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();

		link(rel='canonical', href='http://alivefestival.dk/')
		| <meta property="fb:app_id" content="114798911889232" />
		| <meta property="og:title" content="Alive Festival" />
		| <meta property="og:url" content="http://facebook.om/alivefestival" />
		| <meta property="og:image" content="" />

	body(class="#{bodyClass}")

		header#Header.Header
			h1.Logo
				a(href="/")
					//- img(src='images/2014/alivefestival-2014-logo.png', alt='Alive Festival')
					//- img(src='images/2014/alive-header.jpg', alt='Alive Festival')
					img(src='images/2014/alive-header-trans.png', alt='Alive Festival')

			nav#SiteNav.SiteNav
				include navigation

			.Social
				a.Social-facebook(href="http://facebook.com/alivefestival")
					img(src="images/handycons/facebook_32.png", alt="")
					//img(src='images/icon/social-facebook.png', alt='')

		#Main.Main
			block content

		.Loader
			ul.Loader-object
				li
				li
				li

		include layout-footer
