.scripts
	// build:js(app) scripts/main.js
	script(src='bower_components/jquery/jquery.js')
	script(src='bower_components/jquery/jquery-migrate.min.js')
	
	script(src='scripts/vendor/imagesloaded.pkgd.js')
	script(src='scripts/vendor/masonry.pkgd.min.js')

	script(src='scripts/vendor/jquery.zlayer.full.js')
	script(src='bower_components/jquery-waypoints/waypoints.js')

	script(src='scripts/vendor/magnificPopup.custom.min.js')
		
	script(src='scripts/menu.js')
	script(src='scripts/nav.js')
	script(src='scripts/praktisk.js')
	script(src='scripts/gallery.js')
	script(src='scripts/program.js')
	script(src='scripts/tabs.js')
	
	script(src='scripts/vendor/royalslider/jquery.royalslider.min.js')
	script(src='scripts/slideshow.js')

	
	script(src='scripts/main.js')
	// endbuild
	
	.fb.
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=114798911889232";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	.gag.
		<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-3906535-9']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>