//- global vars
- var language = 'da'
- var dir = 'root'
- var description = ''

//- local vars
block vars	
	- var bodyClass = ''
	- var active = active || ''

doctype
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]
	
	head
		include layout-header
		
	body(class="#{bodyClass}")

		header.l-Header
			h1.SiteLogo
				a(href="/")
					img(src='images/2013/header.png', alt='')

			nav.l-Navigation
				include navigation

		.l-Main
			block content
			
		include layout-footer
