//- Mixin that takes care of 'is-active' class
mixin menu-item(url, title, classnames)
	li(class='#{classnames}')
		a(href=url, class=active == title ? 'is-active' : '')= title

ul(class=active == 'Index' ? 'is-hidden' : '').Navigation.Navigation--primary
	//+menu-item('/', 'Forside', 'link-Index')
	+menu-item('nyheder.html', 'Nyheder', 'link-News')
	+menu-item('musik.html', 'Musik', 'link-Music')
	+menu-item('billetter.html', 'Billetter', 'link-Tickets')
	+menu-item('frivillig.html', 'Frivillig', 'link-Volunteer')
	+menu-item('gallery.html', 'Galleri', 'link-Gallery')
	+menu-item('praktisk.html', 'Praktisk', 'link-Practical')
	+menu-item('om-alive.html', 'Om Alive', 'link-About')
	+menu-item('historie.html', 'Historie', 'link-History')
	+menu-item('kontakt.html', 'Kontakt', 'link-Contact')
