//- Mixin that takes care of 'is-active' class
mixin menu-item(url, title, classnames)
	li(class='#{classnames}')
		a(href=url, class=active == title ? 'is-active' : '')= title

ul(class=active == 'Index' ? 'is-hidden' : '').Navigation.Navigation--primary
	//-+menu-item('/', 'Forside', 'link-index')
	//-+menu-item('nyheder.html', 'Nyheder', 'link--news')
	+menu-item('musik.html', 'Musik', 'Link--music')
	+menu-item('billetter.html', 'Billetter', 'Link--tickets')
	+menu-item('frivillig.html', 'Frivillig', 'Link--volunteer')
	+menu-item('gallery.html', 'Galleri', 'Link--gallery')
	+menu-item('praktisk.html', 'Praktisk', 'Link--practical')
	+menu-item('om-alive.html', 'Om Alive', 'Link--about')
	+menu-item('historie.html', 'Historie', 'Link--history')
	+menu-item('kontakt.html', 'Kontakt', 'Link--contact')
