//
// Base
// 

html {
	line-height: $base-line-height-unitless;
	font-size: $base-font-size;
	font-family: $font-body;
	background-color: $blue;
	color: #f1f1f1;
}

// Headers
h1,
h2,
h3,
h4 {
	margin-top: auto;
	margin-bottom: 1em;
	line-height: 1.1;
	font-family: $font-bold;
}
h3 {
	font-weight: 400;
	font-size: 22px;
	margin-bottom: 0;
}
p {
	margin-top: auto;
	margin-bottom: 1em;
	
	a {
		color: $red;
		text-decoration: underline;
	}
}
.small {
	font-size: 80%;
}
strong {
	font-weight: 400;
	font-family: $font-bold;
}
.l-Main > p:first-of-type strong {
	font-size: 1.25rem;
}


// Links
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: $green;
}


// Media
img {
	max-width: 100%;
	vertical-align: bottom;
}
a img {
	border: 0;
}
figure {
	margin: 0;
}
iframe {
	max-width: 100%;
}

.Button {
	display: inline-block;
	background-color: $red;
	color: #fff;
	padding: 1em 3em;
	box-shadow: 4px 4px 0 0 darken($red, 20);
	font-family: $font-bold;
	font-size: 1.5rem;
	&:hover {
		background-color: lighten($red, 2);
		color: #fff;
		box-shadow: 2px 2px 0 0 darken($red, 20);
	}
	small {
		display: block;
		font-size: 60%;
		font-family: $font-light;
	}
}