//
// Buttons
//

a.Button {
	text-decoration: none;
}
.Button {
	display: inline-block;
	background-color: $red;
	color: #fff;
	padding: 0.5em 1em 0.4em;
	box-shadow: 3px 3px 0 0 darken($red, 20);
	font-family: $font-bold;
	letter-spacing: 1px;

	&:hover {
		background-color: lighten($red, 2);
		color: #fff;
		box-shadow: 2px 2px 0 0 darken($red, 20);
	}
	small {
		display: block;
		font-size: 60%;
		font-family: $font-light;
	}
}
.Button--small {
	font-size: 0.75rem;
	//padding: 1em 3em 0.9em;	
}
.Button--big {
	font-size: 1.5rem;
	padding: 1em 3em 0.9em;	
}