//
// Layout
//

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-position: fixed;
	background-image: url(../images/2013/alivefestival-2013-bg2.jpg);
	@include background-size(cover);
}
.PageIndex {
	background-image: url(../images/alivefestival-collage.jpg);
	.l-Main {
		padding: 0;
	}
}

// Override cursor image
// html,
// a {
// 	cursor: url(../images/cursor.png) -20 -40, default;
// }


.l-Header {
	padding-top: 8em;
}
.l-Main {
	position: relative;
	z-index: 1;
	
	p {
		max-width: em(600);
		margin-left: auto;
		margin-right: auto;
	}
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 4em;
	
	background-color: rgb(240, 238, 234);
	box-shadow: 5px 5px 0 0 rgba(0,0,0,0.5);
	padding: 2em 1em;
	overflow: hidden;
	color: #222;
	text-align: center;
	.roundmain & {
		border-radius: 50%;
	}
}

.denengelske,
.urt,
.heltborg,
.tican {
	position: fixed;
	width: 100%;
	height: 1px;
	//border-radius: 3em;
	top: 50%;
	left: 0;
}
.denengelske {
	background-color: $darkeryellow;
	@include animation(rotateDenEngelske 40s infinite linear);
}
@include keyframes(rotateDenEngelske) {
	0% { @include rotate(90deg); }
	100% { @include rotate(450deg); }
}

.urt {
	background-color: darken($white, 4);
	@include animation(rotateURT 50s infinite linear);
}
@include keyframes(rotateURT) {
	0% { @include rotate(0); }
	100% { @include rotate(-360deg); }
}


.heltborg {
	background-color: lighten($green, 10);
	height: 1em;
	left: -0.5em;
	border-radius: 50%;
	@include animation(rotateCounterClockwise 200s infinite linear);
	@include animation-fill-mode(both);
}
@include keyframes(rotateCounterClockwise) {
	0% { @include rotate(-38deg); }
	100% { @include rotate(322deg); }
}

.tican {
	background-color: darken($white, 8);
	height: 1em;
	left: -0.5em;
	border-radius: 50%;
	background-color: $yellow;
	@include animation(rotateClockwise 200s infinite linear);
	@include animation-fill-mode(both);
}
@include keyframes(rotateClockwise) {
	0% { @include rotate(38deg); }
	100% { @include rotate(398deg); }
}

.speedy .tican,
.speedy .heltborg {
	@include animation-duration(5s);
}

