//
// Modules
//

.SiteLogo {
	position: absolute;
	top: 54px;
	left: 1em;
	right: 1em;
	z-index: 20;
	margin: 0 auto;
	text-align: center;
	img {
		max-width: em(200);
	}
	> a {
		display: block;
	}
}
// .PageIndex .SiteLogo {
// 	top: 50%;
// 	margin-top: (115/2)*-1px;
// 	@include animation(fadeIn 2s ease-in);
// 	img { max-width: none; }
// }
// @include keyframes(fadeIn) {
// 	0% { opacity: 0; @include translateY(5px); }
// 	100% { opacity: 1; @include translateY(0); }
// }


// Social
// -----------------------------------
div.fb_iframe_widget {
}


// Page titles
// -----------------------------------
.PageTitle {
	font-size: 40px;
	min-height: 1.5em;
	line-height: 1;
  	text-align: center;

  	padding-top: em(10,40);
  	background: transparent url(../images/pensel1.png) no-repeat center center;
  	background-size: cover;
  	color: #222;


	// span {
	// 	display: inline-block;
	// 	position: relative;  
	// }
	// span:before,
	// span:after {
	// 	content: "";
	// 	position: absolute;
	// 	border-top: 4px solid darken(rgb(240, 238, 234),10);
	// 	top: 0.4em;
	// 	width: 600px;
	// }
	// span:before {
	// 	right: 100%;
	// 	margin-right: 15px;
	// }
	// span:after {
	// 	left: 100%;
	// 	margin-left: 15px;
	// }
}


.Callout {
	text-align: center;
	background-color: lighten($dark, 5%);
	background-color: rgba(#fff,0.05);
	background-color: hsl(117, 51%, 34%);
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;

	> h1 {
		margin-bottom: 0;
	}
}

.PageHistory {
	background-image: none;
	.l-Main {
		max-width: em(700);
	}
}
.Page2009 {
	@include aliveBorder(50);
	background-image: url(../images/2009/alivefestival-2009-bg.jpg);
}
.Page2010 {
	@include aliveBorder(56);
	background-image: url(../images/2010/alivefestival-2010-bg.jpg);
}
.Page2011 {
	@include aliveBorder(250);
	background-color: hsl(198, 61%, 12%);
	background-image: url(../images/2011/alivefestival-2011-bg.jpg);
}
.Page2012 {
	@include aliveBorder(360);
	background-image: url(../images/2012/alivefestival-2012-bg.jpg);
}



