// Primary navigation 
// -----------------------------------
.Navigation--primary {
	@include pie-clearfix;
	font-family: $font-header;
	text-align: center;
	
	
	@media screen and (min-width: em(700)) {
		font-size: 30px;
		font-size: 2.5vw;
	}

	ul {
		font-size: $base-font-size+2;
	}
	li {
		display: inline-block;
		@include transition(transform 1000ms);
	}
	a {
		display: inline-block;
		padding: 0.5em 1em;
		color: white;
		text-decoration: none;
		&:hover,
		&.selected {
			background: transparent url(../images/pensel1.png) no-repeat center center;
			background-size: contain;
			color: #222;
		}
		&:hover {
			@include scale(1.15);
		}
	}
	
	.PageIndex & {
		font-size: 3.5vw;
		a {
			padding: 0 0.3em;
		}
	}
	&.is-hidden {
		.LinkProgram {
			// top: 0.65em;
			// left: 0.2em;
			@include translate(-5em, -5em);
		}
		.LinkTickets {
			// top: 0.65em;
			// right: 0.2em;
			@include translate(5em, -5em);
		}
		.LinkInfo {
			// right: 0.25em;
			// bottom: 0.5em;
			@include translate(5em, 5em);
		}
		.LinkHistory {
			// left: 0.25em;
			// bottom: 0.5em;
			@include translate(-5em, 5em);
		}
		.LinkGallery {
			@include translateX(-5em);
		}
	}
}
.PageIndex .Navigation--primary > li {
	@include animation-fill-mode(both);
}


@media screen and (min-width: em(700)) {
	.Navigation--primary {
		text-align: left;
	}

	li.LinkIndex {
		display: none;
	}
	.LinkProgram {
		top: 0.65em;
		left: 0.2em;
		
		.PageIndex & {
			@include animation(fadeInLeft 2s ease-in);
		}
		
	}
	.LinkTickets {
		top: 0.65em;
		right: 0.2em;
		
		.PageIndex & {
			@include animation(fadeInRight 2s ease-in);
		}
	}
	.LinkInfo {
		right: 0.25em;
		bottom: 0.5em;

		.PageIndex & {
			@include animation(fadeInLeft 2s ease-in);
		}
	}
	.LinkHistory {
		left: 0.25em;
		bottom: 0.5em;
		
		.PageIndex & {
			@include animation(fadeInRight 2s ease-in);
		}
	}
	.Navigation--primary > li {
		position: fixed;
		z-index: 20;
	}
	.LinkGallery {}
	.LinkProgram,
	.LinkInfo { @include transform(rotate(-15deg)); }
	.LinkHistory,
	.LinkTickets { @include transform(rotate(15deg)); }
	.LinkGallery {
		@include rotate(-90deg);
		top: 50%;
		margin-top: -39px;
		left: -0.2em;
		text-align: center;	
	}
}