//
// Navigation
//

.Navigation {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	.selected {
		color: $blue;
	}
}
.Navigation--primary {
	@include pie-clearfix;
	
	@include rem(font-size, 22px);
	font-family: $font-header;
	
	li {
		display: inline;
	}
	a {
		display: inline-block;
		padding: 0.5em 1em;
		color: black;
		text-decoration: none;
		&:hover {
			color: $red;
		}
	}
}

// this is the dropdown of share and language 
.Dropdown {
	position: absolute;
	top: auto;
	right: 0;
	display: none;
	background-color: #fff;
	
	a {
		display: block;
	}
}
//li:hover > .Dropdown,
.js-hover > .Dropdown {
	display: block;
}
