<div class="Section">
	<div class="Page">
		<div class="Page-body">

			<h1 class="Title">{{{model.page.title}}}</h1>
			<div class="Page-content">
				{{{model.page.content}}}
			</div>

			{{!-- time-schedule artists=model.artists --}}
		</div>
	</div>
</div>

{{outlet}}