<div class="Manchet">
	<h1 class="Title">{{model.page.title}}</h1>
	{{{model.page.content}}}
</div>

{{#liquid-bind model.artists class="CityIndexAnimation"}}
	<div class="Grid">
		{{#each model.artists as |artist|}}
			<div class="Grid-item">
				{{#link-to 'music.artist' artist}}
					{{teaser-item item=artist}}
				{{/link-to}}
			</div>
		{{/each}}
	</div>
{{/liquid-bind}}