
<div class="Container Newsletter Padded">
<form class="NewsletterForm" action="https://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<div class="headlines">
	<h3 class="outlined-headline">TILMELD DIG VORES <h3 class="regular-headline">NYHEDSBREV</h3>
	</h3>
	</div>

	<div class="inputButton">
	<label for="mce-EMAIL">
		<input type="email" placeholder="funfunfun@mylife.com" value="" name="EMAIL" required="required" id="mce-EMAIL">
	</label>
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3a2e1bf24336c9a6bf87f2fc7_e29c6f4325" tabindex="-1" value=""></div>
	<input type="submit" value="Ja tak" name="subscribe" id="mc-embedded-subscribe" class="Button purple">
	</div>
</form>
</div>
{{yield}}


{{!-- <p><small>
			<a href="https://us1.campaign-archive.com/home/?u=3a2e1bf24336c9a6bf87f2fc7&id=e29c6f4325" target="_blank" rel="noreferrer">Se tidligere breve</a>
	</small></p> --}}