<form class="NewsletterForm" action="https://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<h3>Få Alive Festival's nyhedsbrev</h3>

	<label for="mce-EMAIL">
		<input type="email" placeholder="Indtast e-mail..." value="" name="EMAIL" required="required" id="mce-EMAIL">
	</label>

	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3a2e1bf24336c9a6bf87f2fc7_e29c6f4325" tabindex="-1" value=""></div>

	<input type="submit" value="Ja tak" name="subscribe" id="mc-embedded-subscribe" class="Button Button--black">

	<p><small>
			<a href="https://us1.campaign-archive.com/home/?u=3a2e1bf24336c9a6bf87f2fc7&id=e29c6f4325" target="_blank" rel="noreferrer">Se tidligere breve</a>
	</small></p>
</form>

{{yield}}