 /**
 * Base
 */

html {
	@extend %font-regular;
	@include negative-text;
	line-height: $base-line-height-unitless;
	background-color: $bg-color;
	color: $text-color;

	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;
	font-size: 15px;
	@media (min-width: $layout-s) {
		font-size: $base-font-size;
	}
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure,
time {
	margin: 0 0 rem($space);
}

h1 {
	@include h1;
}
h2 {
	@include h2;
}
h3 {
	@include h3;
}

// Links
a,
a:visited {
	color: $white;
	text-decoration: none;
	transition: color 150ms;

	// &:hover,
	// &:active,
	// &.is-active {
	// 	color: $grey;
	// }
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.uppercase {
	text-transform: uppercase;
}
.big {
	@extend %font-bold;
}
.muted {
	font-size: $font-16;
}
.Hr {
	width: 155px;
	height: 4px;
	margin: 2.3rem auto 2.5rem;
	background: transparent url('../assets/images/hr.png') center no-repeat;
	background-size: contain;
	border: 0;
	@media (min-width: $layout-sm) {
		width: 255px;
		height: 7px;
	}
}
