//
// Base
//

html {
	text-rendering: optimizeLegibility;
	// -webkit-font-smoothing: antialiased;
	@extend %patron-light;
	// @extend %brezel-regular;
	// @extend %burbank-light;
	// font-family: 'apercu';
	font-size: $base-font-size;
	line-height: $base-line-height-unitless;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %burbank-bold;
	line-height: 1.1;
	color: $brown;
}
.PageTitle {
	font-size: 40px;
	margin: 5rem 2rem 2rem;

	@media (min-width: $layout-l) {
		margin-left: 4rem;
		font-size: 50px;
	}

	// padding-top: em(10,40);
	// background: transparent url(../images/pensel1.png) no-repeat center center;
	// background-size: cover;
	// min-height: 1.5em;

	// background: hsl(125, 81%, 40%);
	// background-image: linear-gradient(hsla(0, 100%, 100%, 0.25), hsla(0, 0%, 0%, 0.02));
	// color: hsl(0, 0%, 98%);
	// border-bottom: 5px solid hsl(0, 100%, 100%);
	// border-radius: 5px;
	// border-bottom-left-radius: 0;
	// border-bottom-right-radius: 0;
	// padding: 0.6em 0.5em 0.5em;
}

// Make sure (many) elements have the same margin
blockquote,
ol,
ul
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
fieldset {
    margin: 0 0 rem($space);
}
.Title {
	transform: rotate(-2deg);
	margin-bottom: 3rem;

	@media (min-width: $layout-s) {
		font-size: 60px;
		max-width: 90%;
	}
}
h2 {
	font-size: rem(30);
}
h3,
h4 {
	font-size: rem(20);
	margin-bottom: 0.25em;
	letter-spacing: 0.05em;
	color: hsl(17, 100%, 47%);
}
h4 {
	margin-top: rem($space*2);
	letter-spacing: 0.05em;
}
fieldset {
    border: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
strong {
	// font-weight: bold;
	@extend %burbank-bold;
}
blockquote {
	// @extend %burbank-bold;
	font-size: rem(22);
	margin-left: 1em;
	font-style: italic;

	p {
		letter-spacing: 0;
	}
}
.Muted {
	@extend %burbank-light;
}

// Links
.Main {
	a {
		// text-decoration: none;
		color: $green;
	}
	a:hover {
		color: $black;
		background-color: $yellow;
	}
}

// responsive
img {
	vertical-align: top;
}
iframe,
img {
	max-width: 100%;
}


// Alignment helpers
.align-left {
	float: left;
	margin-right: rem($space);
	margin-bottom: rem($space);
}
.align-right {
	float: right;
	margin-left: rem($space);
	margin-bottom: rem($space);
}
.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
