//
// Buttons
//

a.Button {
	text-decoration: none;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.Button {
	@extend %burbank-bold;
	display: inline-block;
	//background-color: $red;
	background-image: linear-gradient(to bottom, $red, darken($red, 6%));
	color: #fff;
	padding: 0.5em 1em 0.4em;
	box-shadow: 2px 2px 0 0 darken($red, 20);
	letter-spacing: 1px;
	border: 0;
	border-radius: 3px;

	&:hover {
		//background-color: lighten($red, 2);
		background-image: linear-gradient(to bottom, $red, darken($red, 10%));
		color: #fff;
		box-shadow: 1px 1px 0 0 darken($red, 20);
	}
	small {
		@extend %burbank-light;
		display: block;
		font-size: 60%;
	}
}
.Button--small {
	font-size: 0.75rem;
	//padding: 1em 3em 0.9em;
}
.Button--big {
	font-size: 1.5rem;
	padding: 0.6em 2em 0.5em;
	@media (min-width: $layout-s) {
		padding-left: 3em;
		padding-right: 3em;
	}
}
.Button + .Button {
	margin-left: em(5);
}
