// Typography
$base-font-size: 17px;
$base-font-size-unitless: 17;
$base-line-height-unitless: (26/17);

// Colors
$blue: #233e6c;
$black: hsl(0, 0%, 5%);
$white: hsl(0, 0%, 98%);
$gold: #f7c443;
$orange: #e65200;
$green: #579A1A;
$verygreen: #00FF99;
$yellow: #FFBF00;
// $sand: #e8d5bf;
$teal: #175D44;
$red: #f00;
$purple: hsl(240, 30%, 20%);

// Color definitions
$primary-color: $blue;
$bg-color: $teal;
$grey: #9e9e9e;//#D5D5D5;
$darkgrey: rgb(76, 76, 76);
$text-color: #fff;

// Layout
$space: 20px;
$border-width: 2px;
$header-bar-height: 84px;//93px;
$aside-width: 13rem;
$max-width: 700px;

// Susy
// gutters are defined in a ratio to the column width
$susy: (
	box-sizing: border-box,
	columns: 12,
	gutters: (12/88),
	container: 1060px
);

// debug: (
// image: show,
// color: hsla(0, 100%, 71%, 0.42),
// output: overlay,
// toggle: top right,
// )

// Good looking easings for animation
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300);
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easing4: cubic-bezier(0.250, 1.400, 0.180, 1.000); // try with 200ms
$easing5: cubic-bezier(0.200, 0.300, 0.250, 0.900);

// Breakpoints
$layout-s: 414px;
$layout-sm: 600px;
$layout-m: 740px;
$layout-mm: 970px;
$layout-ml: 1024px;
$layout-l: 1280px;
