//
// Config
//

$base-font-size-unitless: 16;
$base-font-size: $base-font-size-unitless * 1px;
$base-line-height-unitless: 1.4;

// Colors
$white:         hsl(0, 0%, 95%);
$blue:          hsl(187, 66%, 57%);
// $red:           hsl(6, 66%, 50%);
// $red2:          hsl(0, 100%, 69%);
// $yellow:        hsl(55, 98%, 76%);
$darkeryellow:  hsl(66, 25%, 49%);
// $green:         hsl(106, 52%, 44%);
$dark:          hsl(150, 2%, 18%);
$black:         hsl(0, 0%, 13%);
$orange:        hsl(14, 100%, 48%);
$bleached:      hsl(58, 100%, 95%);
$tandpasta:     hsl(106, 35%, 90%);
$pink:          hsl(2, 82%, 80%);
$red:           hsl(8, 80%, 61%);
$yellow:        hsl(45, 100%, 68%);
$brown:         hsl(21, 19%, 20%);
$green:         hsl(105, 46%, 48%);


// Layout
$space: 24px;

// Susy
$total-columns: 4;
$column-width: 15em;
$gutter-width: 1.25em;
$grid-padding: 1.25em;

// Breakpoints
$layout-s: 580px;
$layout-m: 720px;
$layout-l: 1023px;
