///used config values;

$coverimagesize: 100vh;
$MobileImageSizeLarge: 100vh;
$ContainerPadding: 18px ;
$ContainerPadding2: 36px ;
$ContainerPaddingDesktop: 65px;
$boxmargin: 0px;
$padding: 10px;
$BoxPadding: 10px;

$LargeContainerPadding: 10vh;

// Colors
//new colors
$turquise:  rgb(132, 255, 169);
$buttonblue: rgb(86, 134, 255);
$coral: #ff938b;
$purple: #af00ff;
$transparent: rgba(0,0,0,0);
$blue: #2540FF;
$green:#256b25;

///images
$MobileImageSize: 80vh;


$image-border: 10vh;
$footer-image-height: 120vh;
$Listimagewidth: 80vw;
$ListimageHeight: 60vh;


//new margin
$menufont: 10vw;
$submenufont: 3vw;
$largermenufont: 5vw;
$largersubmenufont: 20px;
$menupadding: 15px;

$masonry-gutter: 1.5rem;

$blogpage: 600px;
$blogpagehalf: 250px;

$burger: 50px;
$calcBurger: 90px;
$artistlistfont: 10vw;
$smallartistlistfont: 50px;

$minimum-icon-height: 30px;
$maximum-icon-height: 30px;


$imageborder: 30px;
$doubleImageBorder: 60px;
$tickermargin: 10px;


$relativepadding: 2vh;


$hugeContainerPadding: 20vh;
$topPadding: 20vh;
$listpadding: 30px;
$listpaddinglarge: 60px;

$thumbnailImage: 300px;
$smallImageSize: 70vw;
$bigImageSize: 100vh;














// Typography
$base-font-size: 17px;
$base-font-size-unitless: 17;
$base-line-height-unitless: (26/17);



;
$dark-green: hsl(154, 48%, 16%);
$gold: hsl(43, 92%, 62%);

$lightblue: #2581f5;
$nice-slated-red: hsl(13, 59%, 53%);
$orange: hsl(21, 100%, 45%);
// $purple: hsl(240, 26%, 25%);
$red: hsl(0, 100%, 50%);
$sand-stone: hsl(334, 10%, 92%);
$sand: hsl(10, 21%, 92%);
$silk: hsl(48, 70%, 95%);
$teal: hsl(189, 71%, 32%);
$yellow: hsl(45, 100%, 60%);
$whitewhite: hsl(0, 0%, 100%);
$white: hsl(0, 0%, 98%);
$gray: hsl(0, 6%, 72%);
$grey: hsl(0, 0%, 62%);
$darkgrey: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 5%);

// Color definitions
$primary-color: $blue;
$bg-color:  #f4e7d6;
$text-color: $black;

// Layout
$space: 10px;
$border-width: 2px;
$header-bar-height: 84px; //93px;
$aside-width: 11rem;
$max-width: 100vw;
$max-width-small: 32rem;

// Susy
// gutters are defined in a ratio to the column width
$susy: (
	box-sizing: border-box,
	columns: 12,
	gutters: (12/88),
	container: 1060px
);

// debug: (
// image: show,
// color: hsla(0, 100%, 71%, 0.42),
// output: overlay,
// toggle: top right,
// )

// Good looking easings for animation
// $easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing: cubic-bezier(0.4, 0, 0.2, 1);
$easing2: cubic-bezier(0.3, 0, 0, 1.3);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.25, 1.4, 0.18, 1); // try with 200ms
$easing5: cubic-bezier(0.2, 0.3, 0.25, 0.9);

$ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
// Deceleration curve, use this for elements entering the screen, on mobile 225ms
$ease-decelerate: cubic-bezier(0, 0, 0.2, 1);
// Acceleration curve, use this for elements leaving the screen, on mobile 195ms
$ease-accelerate: cubic-bezier(0.4, 0, 1, 1);
// The sharp curve is used by objects that may return to the screen at any time.
// Combine with easing-out. On mobile 300ms
$ease-sharp: cubic-bezier(0.4, 0, 0.6, 1);

// Breakpoints
$layout-s: 550px;
$layout-sm: 600px;
$layout-m: 740px;
$layout-mm: 970px;
$layout-ml: 1024px;
$layout-l: 1280px;
$layout-xl: 1500px;
