/**
 * Fonts
 */
 @font-face {
	font-family: 'DINAlternate-Bold';
	src: url('fonts/DINAlternate/DINAlternateBold.ttf') format('ttf');
	font-weight: bold;

}
@font-face {
	font-family: 'OptiBrianItalic';
	src: url('fonts/opti-brian-james/OPTIBrianJamesBold-Italic.otf') format('otf');
	font-style: italic;
}
@font-face {
	font-family: 'OptiBrian';
	src: url('fonts/opti-brian-james/OPTIBrianJamesBoldCond.otf') format('otf');
	font-weight: bold;
}
@font-face {
	font-family: 'brian-james';
	src: url('fonts/brian-james/BrianJames.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GT Haptik Light';
	src: url('fonts/gt-haptik/gt-haptik-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GT Haptik regular';
	src: url('fonts/gt-haptik/gt-haptik-regular.woff') format('woff');
	
}
@font-face {
	font-family: 'GT Haptik medium';
	src: url('fonts/gt-haptik/gt-haptik-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GT Haptik Bold Oblique';
	src: url('fonts/gt-haptik/gt-haptik-bold-oblique.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'GT Haptik Bold';
	src: url('fonts/gt-haptik/gt-haptik-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


@mixin big-headline {
	font-family: 'GT Haptik regular';
	letter-spacing: normal;
	font-weight: 800;
	font-style: normal;
}

@mixin date-text {
	font-family: 'DINAlternate-Bold';
	color: #FFFFFF;
	letter-spacing: 0.89px;
	text-align: center;
	font-size: rem(20);
}

@mixin buttontext {
	font-family: 'OptiBrian';
	letter-spacing: 0;
	text-align: center;
	font-size: rem(18);
	font-weight: 800;
}

@mixin OptiBrian{
	font-family: 'brian-james';
	letter-spacing: 0;
	font-weight: 900;
}
@mixin OptiBrianItalic{
	font-family: 'OptiBrianItalic';
	font-style: italic;
	font-weight: 900;
}
@mixin obliqueGTHaptic{
	font-family: 'GT Haptik Bold Oblique';
	font-style: oblique;
	font-weight: 900;
}
@mixin lightGTHaptic{
	font-family: 'GT Haptik Light';
	font-style: normal;
	font-weight: 100;
}
@mixin boldGTHaptic{
	font-family: 'GT Haptik Bold';
	font-style: bold;
	font-weight: 900;
}
@mixin mediumGTHaptic{
	font-family: 'GT Haptik medium';
	font-style: medium;
	font-weight: medium;
}
@mixin regGTHaptic{
	font-family: "GT Haptik Light";
	letter-spacing: normal;
	font-weight: 100;
}


















$font-14: rem(14);
$font-16: rem(16);
$font-17: rem(17);
$font-18: rem(18);
$font-20: rem(20);
$font-25: rem(25);
$font-30: rem($space);
$font-35: rem(35);
$font-40: rem(40);
$font-50: rem(50);
$font-70: rem(60);





@font-face {
	font-family: 'GT Haptik';
	src: url('fonts/gt-haptik/gt-haptik-black.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GT Haptik Rotalic';
	src: url('fonts/gt-haptik/gt-haptik-bold-rotalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



%font-light {
	font-family: 'GT Haptik', sans-serif;
	font-weight: 300;
}
%font-regular {
	font-family: 'brian-james', sans-serif;
	font-weight: 400;
}
%font-medium {
	font-family: 'GT Haptik', sans-serif;
	font-weight: 500;
}
%font-bold {
	font-family: 'GT Haptik', sans-serif;
	font-weight: 600;
}
%font-black {
	font-family: 'GT Haptik', sans-serif;
	font-weight: 700;
}
%font-black-rotalic {
	font-family: 'GT Haptik Rotalic', sans-serif;
}

%font-bold-brian-james{
	font-family: 'brian-james', sans-serif;
	font-weight: 600;
}
// Headers
@mixin h1 {
	@extend %font-bold;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-size: $font-70;
	z-index: 9999999999999;
	@media (min-width: $layout-m) {
		font-size: $font-70;
	}
	@media (min-width: $layout-l) {
		font-size: $font-70;
	}	
}
@mixin h2 {
	@extend %font-bold-brian-james;
	font-size: $font-40;
	line-height: 1.3;
	// text-transform: uppercase;

	@media (min-width: $layout-m) {
		font-size: rem(26);
	}
}
@mixin h3 {
	// basically the same as a normal <p><strong combo
	@extend %font-bold;
	line-height: 1;
	font-size: 1rem;
	font-size: $font-70;
}

@mixin small-caps {
	text-transform: uppercase;
	font-size: rem(12);
	letter-spacing: 0.1em;
}










