/**
 * Fonts
 */

// font-sizes
$font-14: rem(14);
$font-16: rem(16);
$font-17: rem(17);
$font-20: rem(20);
$font-25: rem(25);
$font-30: rem($space);
$font-35: rem(35);
$font-40: rem(40);
$font-50: rem(50);
//$font-55: rem(55);


@font-face {
	font-family: 'GT Haptik';
	src: url('fonts/gt-haptik-light-webfont.eot');
	src: url('fonts/gt-haptik-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gt-haptik-light-webfont.woff') format('woff'),
		 url('fonts/gt-haptik-light-webfont.ttf') format('truetype'),
		 url('fonts/gt-haptik-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Haptik';
	src: url('fonts/gt-haptik-medium-webfont.eot');
	src: url('fonts/gt-haptik-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gt-haptik-medium-webfont.woff') format('woff'),
		 url('fonts/gt-haptik-medium-webfont.ttf') format('truetype'),
		 url('fonts/gt-haptik-medium-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT Haptik';
	src: url('fonts/gt-haptik-bold-webfont.eot');
	src: url('fonts/gt-haptik-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gt-haptik-bold-webfont.woff') format('woff'),
		 url('fonts/gt-haptik-bold-webfont.ttf') format('truetype'),
		 url('fonts/gt-haptik-bold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

%font-regular {
	font-family: 'GT Haptik', sans-serif; font-weight: 300;
}
%font-bold {
	font-family: 'GT Haptik', sans-serif; font-weight: 500;
}
%font-heavy {
	font-family: 'GT Haptik', sans-serif; font-weight: 600;
}

// Headers
@mixin h1 {
	@extend %font-heavy;
	font-size: $font-40;
	line-height: 1.1;
	// letter-spacing: 0.2em;
	text-transform: uppercase;
	@media (min-width: $layout-m) {
		font-size: $font-50;
	}
}
@mixin h2 {
	@extend %font-heavy;
	font-size: $font-30;
	line-height: 1.1;
	// letter-spacing: 0.2em;
	text-transform: uppercase;
	@media (min-width: $layout-m) {
		font-size: $font-40;
	}
}
@mixin h3 {
	@extend %font-heavy;
	font-size: $font-20;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
