@font-face {
	font-family: 'BurbankBigLight';
	src: url('../styles/fonts/burbankbigregular-light-webfont.eot');
	src: url('../styles/fonts/burbankbigregular-light-webfont.eot?#iefix') format('eot'),
		 url('../styles/fonts/burbankbigregular-light-webfont.woff') format('woff'),
		 url('../styles/fonts/burbankbigregular-light-webfont.ttf') format('truetype'),
		 url('../styles/fonts/burbankbigregular-light-webfont.svg#webfont5HQfnhlG') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BurbankBigMedium';
	src: url('../styles/fonts/burbankbigregular-medium-webfont.eot');
	src: url('../styles/fonts/burbankbigregular-medium-webfont.eot?#iefix') format('eot'),
		 url('../styles/fonts/burbankbigregular-medium-webfont.woff') format('woff'),
		 url('../styles/fonts/burbankbigregular-medium-webfont.ttf') format('truetype'),
		 url('../styles/fonts/burbankbigregular-medium-webfont.svg#webfontWyqpcFyE') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BurbankBigBold';
	src: url('../styles/fonts/burbankbigregular-bold-webfont.eot');
	src: url('../styles/fonts/burbankbigregular-bold-webfont.eot?#iefix') format('eot'),
		 url('../styles/fonts/burbankbigregular-bold-webfont.woff') format('woff'),
		 url('../styles/fonts/burbankbigregular-bold-webfont.ttf') format('truetype'),
		 url('../styles/fonts/burbankbigregular-bold-webfont.svg#webfontjtJXFGGC') format('svg');
	font-weight: normal;
	font-style: normal;
}


%burbank-light {
	font-family: "BurbankBigLight", sans-serif;
	font-weight: normal;
	font-style: normal;
}
%burbank-medium {
	font-family: "BurbankBigMedium", sans-serif;
	font-weight: normal;
	font-style: normal;
}
%burbank-bold {
	font-family: "BurbankBigBold", sans-serif;
	font-weight: normal;
	font-style: normal;
}

%patron-light {
	font-family:"Patron Light", sans-serif;
	font-weight:300;
	font-style:normal;
}
%brezel-regular {
	font-family:"Brezel Grotesk Regular", Arial, sans-serif;
	font-weight:normal; font-style:normal;
}
%brezel-bold {
	font-family:"Brezel Grotesk Bold", Arial, sans-serif;
	font-weight:bold; font-style:normal;
}
