//
// Forms
//

input[type='text'],
input[type='email'],
textarea {
	font-size: 1rem;
	padding: 0.7em 1em 0.5em;
	outline: 0;
	border: 2px solid #777;
	border-radius: 3px;
}
input[type="submit"] {
	@extend .Button;
	outline: 0;
}
