/**
 * Icons
 */

$icon-size: 20px;

// targets all classes that include "icon-"
[class^="icon-"],
[class*=" icon-"] {

	// give the icons a dimension
	display: inline-block;
	font-size: $icon-size;
	height: 1em;
	width: 1em;

	// scale the background svg/png to fit
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;

	// inherit any colors
	fill: currentColor;

	// transition
	transition: opacity 150ms;
}

.Icon {
	display: inline-block;
	margin-right: rem(13);
	margin-left: rem(13);
	margin-bottom: rem(25);
}
.icon--arrow {
	max-width: rem(15);
}
.icon-arrow-left,
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: rem(34);
	height: rem(18);
}
.icon-marker {
	background-image: url('../images/icons/marker-blue.svg');
}
.icon-overview {
	background-size: contain;
	margin-top: rem(5);
	width: 24px;
	height: 24px;
}
.icon-camping {
	background-image: url('../assets/images/icons/camping.svg');
	background-size: contain;
	width: 20px;
	height: 24px;
}
.NavWrap-close {
	padding: 20px 0;
	right: rem(16);

	.icon-cross {
		vertical-align: middle;
	}

	@media (min-width: $layout-s) {
		right: rem(20)
	}
}
.NavWrap .icon-map {
	background-size: contain;
	margin-top: rem(5);
	height: 28px;
}
.icon-map,
.icon-website {
	background-size: contain;
}
