html {
	line-height: $base-line-height-unitless;
	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;
	font-size: 15px;
	@media (min-width: $layout-m) {
		font-size: $base-font-size;
	}
	@media (min-width: $layout-xl) {
		font-size: $base-font-size + 2;
	}
}
body {
	@extend %font-regular;
}


// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure,
time {
	margin: 0 0 rem($space);
}

a,
h1,
h2,
h3{
	z-index: 999999999;
	text-decoration: none;
}
.small-caption{
	@include date-text;
	font-size: 14px;
}
.buttontext{
	@include buttontext
}
iframe{
	padding-top: $LargeContainerPadding;
	padding-bottom: $LargeContainerPadding;
	object-fit: contain;
	object-position: 0px 0px;
	max-width: 100%;
}
.spotify-embed{
	padding: $padding;
}
img {
	max-width: 100%;
}

.page-content{
	@include regGTHaptic;
	color: inherit;
	font-size: 16px;
	padding-bottom: $ContainerPadding;
	h1{
		@include boldGTHaptic;
		margin-top: $LargeContainerPadding;
		font-size: 28px;
	}
	h2{
		@include boldGTHaptic;
		font-size: 18px;
	}
	p{
		color: black;
	}
	
}
.page-title{
	@include OptiBrian;	
	font-size: rem(50);
	line-height: rem(50);
	color: inherit;
}


// h1 {
// 	@include h1;
// 	margin-bottom: rem($space * 2);
// }

// h2 {
// 	@include h2;
// }

// h3 {
// 	@include h3;
// }

// strong,
// b {
// 	@extend %font-bold;
// }



// time,
// .Muted {
// 	font-size: $font-14;
// }

// hr {
// 	height: 1px;
// 	border: 3px dotted rgba(0, 0, 0, 0.3);
// 	margin: 2rem 0;
// }

// .Separator {
// 	opacity: 0.5;
// 	position: relative;
// 	top: -0.1em;
// 	font-size: $font-14;
// 	margin-right: 0.5em;
// 	margin-left: 0.5em;
// }



// .underline a {
// 	text-decoration: underline;
// }
