 /**
 * Base
 */

html {
	@extend %font-regular;
	@include negative-text;
	line-height: $base-line-height-unitless;
	background-color: $bg-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(images/bg-noise2.jpg);
	// background-image: url(images/moods/wildtexture.jpg);
	// background-image: url(images/moods/masai-swirl.jpg);
	// background-image: url(images/moods/bg-poster-crop.jpg);
	// background-image: url(images/moods/texture.jpg);
	// background-size: cover;
	// background-image: url(images/moods/wildtextures-african-inspired-orange-glossy-tiles-seamless-pattern.jpg);
	// color: $text-color;
	color: $white;
	// color: $black;

	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;
	font-size: 15px;
	@media (min-width: $layout-m) {
		font-size: $base-font-size;
	}
	@media (min-width: $layout-xl) {
		font-size: $base-font-size + 2;
	}
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure,
time {
	margin: 0 0 rem($space);
}

h1 {
	@include h1;
	margin-bottom: rem($space*2);
	color: $silk;
}
h2 {
	@include h2;
}
h3 {
	@include h3;
}

strong,
b {
	@extend %font-medium;
}

// Links
a,
a:visited {
	color: $silk;
	text-decoration: none;
	transition: color 150ms;

	&:hover,
	&:active,
	&.is-active {
		color: $white;
	}
}
time,
.Muted {
	font-size: $font-14;
}
hr {
	height: 1px;
	border: 1px dotted rgba(255, 255, 255, 0.3);
	margin: 2rem 0;
}
.Separator {
	opacity: 0.5;
	position: relative;
	top: -0.1em;
	font-size: $font-14;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

iframe,
img {
	max-width: 100%;
}
