 /**
 * Base
 */

html {
	@extend %font-regular;
	line-height: $base-line-height-unitless;

	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;
	font-size: 15px;
	@media (min-width: $layout-m) {
		font-size: $base-font-size;
	}
	@media (min-width: $layout-l) {
		font-size: $base-font-size + 1;
	}
	@media (min-width: $layout-xl) {
		font-size: $base-font-size + 2;
	}
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure,
time {
	margin: 0 0 rem($space);
}

h1 {
	@include h1;
	margin-bottom: rem($space*2);
}
h2 {
	@include h2;
}
h3 {
	@include h3;
}

strong,
b {
	@extend %font-bold;
}

// Links
a,
a:visited {
	color: $blue;
	text-decoration: none;
	transition: color 150ms;

	&:hover,
	&:active,
	&.is-active {
		color: lighten($blue, 5%);
	}
}

time,
.Muted {
	font-size: $font-14;
}

hr {
	height: 1px;
	border: 1px dotted rgba(255, 255, 255, 0.3);
	margin: 2rem 0;
}

.Separator {
	opacity: 0.5;
	position: relative;
	top: -0.1em;
	font-size: $font-14;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

iframe,
img {
	max-width: 100%;
}
