{{#x-root}}
	{{x-aside}}

	<main class="App-main {{if layout.simplify 'App-main--white'}}">
		{{!-- don't move the outlet without changing liquid.scss --}}
		{{liquid-outlet}}
	</main>

	<div class="BgBottomLeft"></div>
	<div class="BgTopRight"></div>
{{/x-root}}
