{{#x-root as |toggleAside|}}
	{{x-aside}}

	<main class="App-main">
		{{!-- don't move the outlet without changing liquid.scss --}}
		{{liquid-outlet}}
	</main>

	<div class="PlantLayer PlantLayer--topRight"></div>
	<div class="PlantLayer PlantLayer--bottomLeft"></div>
{{/x-root}}
