.Artist-media {
	margin-bottom: rem($space);
	img{
		width: 100%;
		max-width: 500px;
		object-fit: contain;
	}
	@media (min-width: $layout-l) {
		float: left;
		margin-right: rem($space * 1.5);
	}
}

.Artist-meta {
	text-transform: uppercase;

	time {
		font-size: 1em;
	}
}

.Artist-content {
	font-size: $font-20;
}

.Artist-content iframe {
	// margin-top: rem($space);
	// margin-bottom: rem($space);
}
