.Artist {
	padding-top: rem($space);
	padding-left: rem($space*3);
	margin-bottom: rem($space*2);
}

.Artist-media {
	margin-bottom: rem($space);

	@media (min-width: $layout-ml) {
		float: left;
		margin-right: rem($space * 1.5);
	}
}

.Artist-content {
	margin-right: rem($space);
	//max-width: $max-width-small;
	font-size: $font-20; 
}

.Artist-content iframe {
	margin-top: rem($space);
	margin-bottom: rem($space);
}

.Artist-meta {
	text-transform: uppercase;

	time {
		font-size: 1em;
	}
}
