.Artist {
	padding-top: rem($space);
	padding-left: rem($space*3);
	margin-bottom: rem($space*2);
}

.Artist-media {
	margin-bottom: rem($space);
}

.Artist-content {
	max-width: $max-width-small;
}

.Artist-content iframe {
	margin-top: rem($space);
	margin-bottom: rem($space);
}
