.Aside {
	position: fixed;
	top: -5%;
	// left: -1rem;
	height: 110%;
	width: 100%;;
	z-index: 5;
	padding-left: 15px;
	padding-right: 15px;

	background-color: $blue;
	background: rgb(255,255,255);
	transition: transform 250ms $ease-accelerate;

	@media (max-width: $layout-m) {
		//menu swings out from right side on burger-click
		transform: translate3d(100%, 0, 0);
		padding-top: 10%;
		height: 110%;
		overflow-y: scroll;
		.show-aside & {
			transition-timing-function: $ease-decelerate;
			transition-duration: 300ms;
			transform: translate3d(0, 0, 0);
		}
	}
	@media (min-width: $layout-m) {
		right: 0;
		width: 20%;
		padding-top: 5px;
		transform: translate3d(100%, 0, 0);
		justify-items: space-around;
		.show-aside & {
			transition-timing-function: $ease-decelerate;
			transition-duration: 300ms;
			transform: translate3d(0, 0, 0);
		}
	}
}

.Aside::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	// right: -68px;
	height: 110%;
	z-index: 1;
	// width: 100px;
	// background: url(images/border-blue.png) no-repeat top right;
	// background: url(images/border-green.png) no-repeat top right;
	pointer-events: none;

	@media (min-width: $layout-m) {
		right: -58px;
	}
}

.Aside-inner {
	// Above border.
	position: relative;
	display: flex;
	flex-flow: column;
	// justify-content: space-between;

	z-index: 2;
	width: 100%;
	height: 100%;
	color: black;

}

.Nav a {
	color: $silk;
	&:hover {
		color: $turquise;
	}

	&.is-active {
		color: white;
		background: $turquise;
	}
}
