.Aside {
	position: fixed;
	top: -5%;
	left: -1rem;
	width: 100%;
	height: 110%;
	z-index: 5;

	display: flex;
	flex-flow: column nowrap;
	// background-color: $blue;
	text-align: center;
	transition: transform 250ms $ease-accelerate;

	@media (max-width: $layout-m) {
		transform: translate3d(-100%, 0, 0);

		.show-aside & {
			transition-timing-function: $ease-decelerate;
			transition-duration: 300ms;
			transform: translate3d(0, 0, 0);
		}
	}

	@media (min-width: $layout-m) {
		width: $aside-width;
		text-align: left;
	}
}

// .Aside::after {
// 	// background: url(images/border-aside.png) no-repeat top right;
// 	background: url(images/border-aside2.png) no-repeat top right;
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	right: -68px;
// 	height: 100%;
// 	z-index: 1;
// 	width: 100px;

// 	@media (min-width: $layout-m) {
// 		right: -58px;
// 	}
// }

.Aside-inner {
	// Above border.
	position: relative;
	z-index: 2;
	height: 100%;
	overflow-y: auto;
}
