.Aside {
	width: $aside-width;
	display: flex;
	flex-flow: column nowrap;
	// position
	position: fixed;
	top: -5%;
	left: -1rem;
	height: 110%;
	z-index: 5;
	// animation
	transition: transform 350ms $easing;
	@media (max-width: $layout-m) {
		transform: translate3d(-100%, 0, 0);
		.show-aside & {
			transform: translate3d(0, 0, 0);
			width: 19rem;
			text-align: center;
		}
	}
	// color
	background-color: $yellow;
	// background-color: $blue;
	&::after {
		background: url(images/border-aside.png) no-repeat top right;
		// background: url(images/border-aside2.png) no-repeat top right;
	}
	// transform: rotate(1deg);
	// background-color: #B3B0AA;
	// box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.50);
	// cursor: url(images/close.svg),pointer;
	// Custom border.
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -68px;
		@media (min-width: $layout-m) {
			right: -58px;
		}
		height: 100%;
		z-index: 1;
		width: 100px;
	}
}
.Aside-inner {
	// transform: rotate(-1deg);
	// Above border.
	position: relative;
	z-index: 2;
	height: 100%;
	overflow-y: auto;

}
