.Aside {
	position: fixed;
	width: 100%;;
	z-index: 10;
	transition: transform 250ms $ease-accelerate;
	transform: translate3d(100%, 0, 0);
	padding-top: 10%;
	height: 100%;
	min-height: 100vh;

	overflow-y: scroll;
	.show-aside & {
		transition-timing-function: $ease-decelerate;
		transition-duration: 400ms;
		transform: translate3d(0, 0, 0);
	}

}

.Aside-inner {
	// Above border.
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding-left: $menupadding;
	padding-right: $menupadding;
	z-index: 999;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	.show-aside & {
		transition-timing-function: $ease-decelerate;
		transition-duration: 300ms;
		transform: translate3d(0, 0, 0);
	}

}

