/**
 * Billeter
 */

/* Banner */


.ticket-type{
	position: relative;
	padding: $relativepadding;
	padding-bottom: $ContainerPadding;
	margin-bottom: $LargeContainerPadding;
	color: $bg-color;
	width: 100%;
	@include boldGTHaptic;
	.ticket-style{
		@include OptiBrian;
		font-size: 14px;
	}
	.ticket-title{
	
		font-size: 30px;
		line-height: 33px;
		margin: 0;
	}
	p{
		color: inherit;
		
	}
	.ticket-price{
		margin: 0;
		margin-bottom: $ContainerPadding;
		font-size: 40px;
		line-height: 33px;
	
		small{
			font-size: 20px;
		}
	}
	.ticket-placeholder{
		font-size: 14px;
	}
	.alert-image{
		position: absolute;
		width: 140px;
		object-fit: contain;
		top: -13%;
		right: -5%;
	}
}
