/**
 * Billeter
 */

.Page.billetter {
	background: none;
	width: 100%;
	max-width: 100%;
}
.Page.billetter::after {
	display: none;
}

/* Banner */

.Page.billetter.party-on {
	h1 {
		animation: discoFun 3s;
		animation-timing-function: linear;
		animation-iteration-count:infinite;
	}
	.DiscoFun {
		img:first-of-type {
			display: none;
		}
		img:last-of-type {
			display: block;
		}
	}
}
.DiscoFun {
	img:last-of-type {
		display: none;
	}
}
.Page.billetter {
	.Page-banner {
		position: relative;
		h1 {
			position: absolute;
			top: 0;

			padding-top: rem(35);
			font-size: 12vw;//rem(150);
			padding-left: 0.3em;
			margin-bottom: 0;
			color: #323232;

			@media (max-width: $layout-sm) {
				left: 0;
				right: 0;
				margin: 0 auto;
				text-align: center;
				padding-top: rem(45);
				font-size: 35px;
			}
			@media (min-width: $layout-l) {
				font-size: 180px;
			}
		}
		button {
			position: absolute;
			right: 2em;
			bottom: 0;
			height: rem(32);
			width: rem(25);
		}
		img {
			// position: absolute;
			// width: rem(40);
			transform: rotate(3deg);
			// max-width: 130%;
			// margin-top: 1em;
		}
	}
	.Page-body {
		text-align: center;
		// padding-top: rem(100);
		padding-right: rem($space*1.5);
		// background-color: $white;//rgba(225, 240, 224, 0.8);
		background-image: url(/assets/images/leaf-wave.svg);
		background-repeat: no-repeat;
		background-size: 103%;
		// min-height: 15em;

		padding-top: 1em;
		margin-bottom: 2em;

		@media (min-width: $layout-sm) {
			padding-top: 10em;
		}

		h1 {
			display: none;
		}
	}
	.Page-backgroundImage {
		background-position: 0px 0px;
		opacity: 0.75;
		width: 100%;
		// height: 50vh;
		background-color: #E1EFE0;//#E1F0E0;
		background: url(/assets/images/square.gif);
	}
}

/* Body */

.BilletterBody {
	display: none;

	background-color: $white;
	max-width: 45em;
	padding: 3em 2em;
	margin: auto;
	border: 3px solid $yellow;
	box-shadow: 8px 8px 0 0 $yellow;
	margin-bottom: 0;

	&.BilletterBody--mobile {
		display: flex;
		padding-top: rem($space*2.5);
		flex-flow: column;
		@media (min-width: $layout-s) {
			flex-flow: row wrap;
		}
	}
	@media (min-width: $layout-ml) {
		display: block;
		&.BilletterBody--mobile {
			display: none;
		}
	}
}

/* General styles */

.BilletterBody-title {
	flex: 1 100%;

	margin-top: rem(40);
	margin-bottom: 0;

	@media (min-width: $layout-sm) {
		margin-top: rem(20);
		margin-bottom: rem($space*2.5);
	}
}
.BilletterBody-image {
	transform: rotateZ(1deg);
	// margin: 7em auto 4em 5em;
	// margin: 0em auto 4em 5em;

	margin-bottom: 3em;
}

/* Content */

.BilletterBody-content {
	max-width: rem(650);
	margin: 0 auto;
	padding: rem(5) rem(45);
	text-align: left;

}
.BilletterBody-wrap {
	flex: 2;
	text-align: left;
	margin-top: rem($space*1.5);
	@media (min-width: $layout-s) {
		&:nth-of-type(2n) {
			text-align: right;
		}
	}
	h2 {
		margin-bottom: 0;
	}
	span + p {
		display: inline;
		padding-left: rem(5);
		vertical-align: super;
	}
}

/* Buy button */

.BilletterBody-button {
	flex: 1 100%;
	margin: rem($space*1.5) auto rem($space*4.5);;
	font-size: $font-25;
	margin: 1em auto;
	text-align: center;
	animation: tinyShake .3s 0.4s infinite;

	margin-bottom: 0;

	@media (min-width: $layout-ml) {
		display: block;
		max-width: 5em;
		margin: 2em auto;
		font-size: $font-35;
	}

	&:hover {
		transform: rotateZ(2deg);
	}
}
