/**
 * Box
 */

%Box {
	@include clearfix;
	position: relative;
	max-width: 40rem;
	border-radius: 8px;
	background-color: rgb(240, 238, 234);
}
.Box {
	@extend %Box;
	clear: both;
	margin-bottom: em($space);
	box-shadow: 2px 3px 5px 1px hsla(0, 0%, 0%, 0.4);

	.Title {
		margin-top: 2rem;
	}
	> h2:last-child {
		margin-bottom: 0;
	}
	.Manchet {
		@media (min-width: $layout-s) {
			font-size: 22px;
		}
		// @media (min-width: $layout-l) {
		// 	font-size: 24px;
		// }
	}
	p {
		@media (min-width: $layout-s) {
			font-size: 17px;
		}
		// @media (min-width: $layout-l) {
		// 	font-size: 19px;
		// }
	}
	figure {
		margin: 2rem 1rem;
	}
	.Constrained,
	h2,h3,h4,p,ul,table,iframe {
		padding-left: 2rem;
		padding-right: 2rem;
		// @media (min-width: $layout-s) {
		// 	padding-left: 4rem;
		// 	padding-right: 4rem;
		// }
		// @media (min-width: $layout-l) {
		// 	padding-left: 4rem;
		// 	padding-right: 8rem;
		// }
	}
	ul {
		list-style: inherit;
		padding-left: rem($space*2);
		p {
			padding-left: 0;
		}
	}
}

/**
 * Box modifiers
 */
.Box--center {
	text-align: center;
}
.Box--clean {
	background: none;
}
.Box--dark {
	background-image: url(../images/2014/stardust.jpg);
	// background-image: url(../images/2014/tree-bark.png);
	background-repeat: repeat;
	color: $bleached;
	.PageTitle {
		color: $bleached;
	}
}

/**
 * Box children
 */
.Box-title {
	margin-top: 2rem;
}
.Box-child {
	margin-top: 2rem;
	@media (min-width: $layout-s) {
		float: left;
		width: 50%;
	}
}
