%Box {
	@include clearfix;
	background-color: rgb(240, 238, 234);
	border-radius: 8px;
	color: #111;
}

.Box {
	@extend %Box;
	padding: em($space * 2) 0;
	margin-bottom: em($space);
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);

	> h2:last-child {
		margin-bottom: 0;
	}
}
.Box--center {
	text-align: center;
}
.Box--clean {
	background-color: transparent;
}

.Box-child {
	float: left;
	width: 50%;
}
