.Burger {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6; // on top of .Aside

	@media (min-width: $layout-m) {
		display: none;
	}

	background-color: transparent;
	// background-color: $white;
	padding-right: rem($space);
	border: 0;
	// border: 5px solid;
	text-transform: uppercase;
	font-size: $font-14;
	letter-spacing: 0.1em;

	&:hover {
		cursor: pointer;
	}
	&:focus,
	&:active {
		outline: none;
	}

	.show-aside & {
		// background-color: rgba($white, 0.8);
		// background-image: url(images/dots/dot6.svg);
	}

	&::before {
		content: "";
		display: inline-block;
		width: rem(42);
		height: rem(50);
		background-image: url(images/dots/dot7.svg);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: rem(25);
		position: relative;
		z-index: 2;
	}
	&::after {
		content: "";
		display: block;
		height: 1.8rem;
		width: 86%;
		background-color: #FFCC33;
		position: absolute;
		top: 0.5rem;
		left: 0.4rem;
		transform: rotate(-2deg);
	}
}
.Burger-text {
	display: inline-block;
	position: relative;
	z-index: 2;
	top: rem(-18);
}
// .NavBtn {
// 	padding-left: 0.5rem;
// 	padding-right: 0.5rem;
// }
// .NavBtn-label {
// 	@extend %font-bold;
// 	font-size: $font-14;
// 	float: left;
// 	padding-top: 1.4rem;
// 	text-transform: uppercase;
// 	letter-spacing: 0.1em;
// 	color: $white;
// 	@media (max-width: $layout-s) {
// 		display: none;
// 	}
// }
// .NavBtn-icon {
// 	position: relative;
// 	display: inline-block;
// 	height: 23px;

// 	// The three lines
// 	span,
// 	span:before,
// 	span:after {
// 		display: block;
// 		width: $space;
// 		height: 4px;
// 		background-color: $white;
// 		transition-property: margin, transform;
// 		transition-duration: 200ms;
// 		transition-delay: 200ms;
// 	}
// 	// first line
// 	span {
// 		margin: 0 auto;
// 		position: relative;
// 		top: 12px;
// 	}
// 	// top and bottom lines
// 	span:before,
// 	span:after {
// 		position: absolute;
// 		content: '';
// 	}
// 	// top line
// 	span:before {
// 		margin-top: -9px;
// 	}
// 	// bottom line
// 	span:after {
// 		margin-top: 9px;
// 	}
// }
// // Active state: X instead of burger menu
// .NavBtn.is-open .NavBtn-icon span {
// 	transition-duration: 0s;
// 	transition-delay: 200ms;
// 	background-color: transparent;
// 	&:before {
// 		margin-top: 0;
// 		transform: rotate(45deg);
// 		transition-delay: 0, 200ms;
// 	}
// 	&:after {
// 		margin-top: 0;
// 		transform: rotate(-45deg);
// 		transition-delay: 0, 200ms;
// 	}
// }
