.Burger {
	position: fixed;
	top: $padding;
	right: 0;
	z-index: 6; // on top of .Aside
	background-color: transparent;
	margin-right: rem($space);
	border: 0;
	&:hover {
		cursor: pointer;
	}
	&:focus,
	&:active {
		outline: none;
	}

	//state of menu button after menu is toggled visible
	.show-aside & {
		&::before {
			content: '';
			display: inline-block;
			width: rem(42);
			height: rem(50);
			right: 10px;
			background-image: url(images/dots/closingX.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 2;
		}
	}

	//usual state of menu button
	&::before {
		content: '';
		display: inline-block;
		background-image: url(images/dots/burgerMobileFirst.svg);
		width: rem(30);
		height: rem(30);
		z-index: 2;
	}

}
