.Burger {
	background-color: transparent;
	border: 0;
	&:hover {
		cursor: pointer;
	}
	&:focus,
	&:active {
		outline: none;
	}

	// state of menu button after menu is toggled visible
	.show-aside & {
		&::before {
			content: '';
			display: inline-block;
			width: rem(30);
			height: rem(30);
			right: 10px;
			background-image: url(images/dots/closingX.svg);
			background-position: 50%;
			background-repeat: no-repeat;
		}
	}

	//usual state of menu button
	&::before {
		content: '';
		display: inline-block;
		background-image: url(images/dots/burgerMobileFirst.svg);
		width: rem(30);
		height: rem(30);

	}

}
