@-moz-keyframes arrowpointer { 50% { -moz-transform: rotate(-50deg); }  100% { -moz-transform: rotate(0deg); }}
@-webkit-keyframes arrowpointer { 50% { -webkit-transform: rotate(-50deg); } 100% { -webkit-transform: rotate(0deg); }}
@keyframes arrowpointer{ 50% { -webkit-transform: rotate(-50deg); transform:rotate(-50deg); } 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }}


.button-container{
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	.arrow{
		display: inline-block;
		margin-right: -2%;
		top:0;
		z-index: 99;
		width: rem(40);
		height: auto;
		transform-origin: right;
		-webkit-animation:arrowpointer 4s linear infinite;
		-moz-animation:arrowpointer 4s linear infinite;
		animation:arrowpointer 4s linear infinite;
		@media (max-width: $layout-s) {
		display: none;
		}
	}
	.Button{
		display: inline-block;
		top:0;
	}
}
.Button {
	display: inline-block;
	padding: 0.2em 2em 0.2em;
	justify-content: center;
	align-self: center;
	text-align: center;
	text-decoration: none;
	background-image: none;
	color: inherit;
	white-space: nowrap;

	a{
		text-decoration: none;
		color: inherit;
	}
}
.button:focus{
	outline: none;
}
.button-border{
	margin: $padding;
}

.Link{
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: $padding;
	font-family: 'GT Haptik', sans-serif;
	text-transform: uppercase;
	font-size: $font-14;	
}

.purple{
	background-color: $purple;
	color: $coral;
	margin: 0;
	border: none;
	height: rem(40);
}

.filters{
	.filter{
		border: 1px $blue solid;
	}
	.Button {
		margin-right: 0.2em;
		margin-bottom: 0.4em;
		@media (min-width: $layout-s) {
			font-size: 1em;
		}
	}
	.is-active {
		div{
			background-color: $blue;
		}
		color: white;
	}
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: left;
}



