.Button {
	@extend %font-bold;
	display: inline-block;
	padding: 0.4em 1em 0.5em;
	font-size: 14px;
	letter-spacing: 0.02em;
	border-radius: 3px;
	text-decoration: none;
	background-image: none;
	background-color: $blue;
	// color: $white !important;
	color: $silk;
	// border: 2px solid rgba($white, 0.8);
	// box-shadow: 5px 5px 0 0 darken($blue, 8%);
	box-shadow: 3px 3px 0 0 #4e4e4e4a;

	&:hover {
		color: $white;
		box-shadow: 3px 3px 0 0 #4e4e4e8c;
	}
}

a.Button {
	color: $silk;

	&.is-active,
	&:hover {
		color: $white;
	}
}

.NonBtn {
	background-color: transparent;
	border: 0;
	padding: 0;

	&:active,
	&:focus {
		outline: none;
	}
}

.Button--yellow {
	background-color: $yellow;
	color: $black !important;
}

.Button--red {
	background-color: $nice-slated-red;
	color: $silk;
}

.Button--black {
	background: $black;
	color: $silk;
}

.Button--green {
	background: $green;
	color: $silk;
}

.ButtonGroup .Button {
	margin-right: 0.2em;
	margin-bottom: 0.4em;

	@media (min-width: $layout-s) {
		font-size: 1em;
	}

	transition: all 150ms $easing;
	transform-origin: center;

	&.is-active {
		box-shadow: 3px 3px black;
	}
}

.FixedTicketButton {
	position: fixed;
	top: 0.6rem;
	right: -0.5rem;
	z-index: 1;
	padding-right: 3rem;
}
