.CityChooser {
	overflow: hidden;
	text-align: center;

	// position
	position: fixed;
	top: $header-bar-height;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;

	// animation
	transition: transform 300ms $easing, background-color 300ms $easing;
	&.is-expanded {
		background-color: $bg-color;
		pointer-events: auto;
	}
}
.CityChooser--bottom {
	top: auto;
	height: auto;
	bottom: 0;
	transform: translate3d(0, 100%, 0);
	&.is-expanded {
		transform: translate3d(0, 0, 0);
	}
}
.CityChooser-inner {
	padding-top: 2.5rem;
	opacity: 0;
	.is-expanded & {
		transition: opacity 300ms 90ms;
		opacity: 1;
	}
}
.CityChooser-title {
	font-size: $font-16;
	margin-bottom: rem(37);
}
.CityChooser-city {
	display: inline-block;
	font-size: $font-30;
	color: $white;
	a {
		padding-left: 0.5em;
		padding-right: 0.5em;
		// tweak BcuZ the font family creat a lot of space afeter the last letter.
		margin-left: rem(6);
	}
	// small and landscape?!
	@media (min-width: $layout-s) and (max-height: 415px) {
		display: inline-block;
		font-size: $font-16;
	}

	@media (min-width: $layout-m) {
		font-size: $font-40;
	}
}
