//
// Modules
//

// Try not to write anything in here. Create a new .scss file instead.


//
// Newsletter
//
#mc_embed_signup {
	overflow: auto;
	padding-bottom: 1em;
}
.Newsletter {
	padding: 13px 14px 50px;
	h2 { margin-bottom: em(5); }
	label { display: none; }
	input { display: inline-block; float: left; font-size: (16/18)*1rem;}
	.email { width: 140px;}
	.button { padding: em(10) em(15); margin: -2px 0 0 -2px; }
}


//
// Page titles
//
.PageTitle {
	font-size: 40px;
	min-height: 1.5em;
	line-height: 1;
	text-align: center;
	padding-top: em(10,40);
	background: transparent url(../images/pensel1.png) no-repeat center center;
	background-size: cover;
}


//
// Popups/modals
//
.mfp-fade.mfp-bg {
  background-color: rgb(0, 42, 131);
  opacity: 0.95;
  //@include transition(opacity 50ms);
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  //opacity: 0.95;

}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  //opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  .Artist-media { opacity: 0; }
  //@include transition(all 300ms 75ms ease-out);
  opacity: 0.5;
  //@include translateY(7px);
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  .Artist-media { opacity: 1; }
  opacity: 1;
  //@include translateY(0);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	transition-duration: 0;

  .Artist-media { opacity: 0; }
  opacity: 0.5;
  //@include translateY(7px);
}
