/**
 * Containers
 */

.Container {	

	@media (max-width: $layout-m) {
		width: 100%;
	}
	@media (min-width: $layout-m) {
		margin: $boxmargin;
		width: auto;
	}
}

.Container--large {
	max-width: $max-width;
}

.Container--huge {
	@media (min-width: $layout-m) {
		display: none;
	}
	@media (min-width: $layout-m) {
		width: 50%;
	}
}

.Container--full {
	max-width: none;
}

.ticker{
	h1{
		position: relative;
		width: 100%;
		color: black;
		white-space: nowrap;
		padding-right: 15px;
		display: inline-block;
	}
	h1:hover{
		color: $turquise;
	}

}
#ticker-container{
	padding: 10px;
	width: 100%;
	overflow: hidden;
}
.moving-container{
		position: relative;
		left: 0;
		right: 0;
		
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		white-space: nowrap;
	@media (min-width: $layout-m) {
		width: 100vw;
	}
}

	
	
