/**
 * Containers
 */

.Container {
	max-width: $max-width-small;
	margin-left: auto;
	margin-right: auto;
	padding-left: rem($space);
	padding-right: rem($space);
}

.Container--large {
	max-width: $max-width;
}

.Container--huge {
	max-width: 100%;
	.coverpic{


	//big size
	@media (min-width: $layout-m) {
	display: none;
	}
	}
}

.Container--full {
	max-width: none;
}
