.Frame {
	position: relative;
	width: 100%;
	// hide image
	overflow: hidden;
	height: 0;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 73.598130841%;

	// the frame
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;left: 0;right: 0;bottom: 0;
		z-index: 1;
		background-image: url(../images/2014/frame.png);
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	// frame content
	img {
		// position: absolute;
		// top: 5%;
		// left: 5%;
		width: 90%;
	}

	.Slideshow {
		width: 85%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;

		img {
			width: 100%;
		}
	}
}
.Frame--square {
	padding-bottom: 66.4583333%;
}

.Frames {
	.Frame {
		float: left;
		// width: 30%;
		// margin-left: 1%;
		margin-right: 1rem;
	}
}
