.FlickityGallery {
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	height: 0;
	// 	width: 100%;
	// 	// 16:9 = 56.25% = calc(9 / 16 * 100%)
	// 	padding-top: (9 / 16) * 100%;
	// }
}
.FlickityGallery-item {
	width: 100%;
	// width: 90%;
	// height: 100%;
	// text-align: center;
	// margin-right: $space/2;

	// // fullscreen version
	// .object-fit & {
	// 	width: 100%;
	// 	margin-right: 0;
	// }
}
.FlickityGallery-item img {
	width: 100%;

	// // vertical centered
	// position: relative;
	// top: 50%;
	// transform: translateY(-50%);

	// // fullscreen version
	// .object-fit & {
	// 	overflow: hidden;
	// 	height: 100%;
	// 	object-position: bottom;
	// 	object-fit: cover;
	// 	transform: none;
	// 	top: 0;
	// 	position: static;
	// }
}

// Dots
.flickity-page-dots {
	bottom: rem(15);
}
.flickity-page-dots .dot {
	width: 6px;
	height: 6px;
	margin: 0 5px;
	background-color: #fff;
}

// Buttons
.FlickityGallery:hover .flickity-prev-next-button {
	opacity: 1;
}
.flickity-prev-next-button {
	// C's optical alignment, yo
	top: 47%;
	opacity: 0;
	transition: all 300ms;
	&:active {}
	&.previous {
		left: rem($space);
	}
	&.next {
		right: rem($space);
	}
}
