.page-Alive .Navigation--primary {

	@media (min-width: $layout-l) {
		// room for video
		margin-right: 340px;
	}
}
.Home-video {
	position: absolute;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	z-index: 1;
	// height: 0;
	padding-bottom: (480/853*100%);
	iframe {
		width: 100%;
		height: 100%;
	}
}

.Home-introbox {
	position: relative;
	z-index: 3;
	max-width: 35rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	text-align: center;

	.Main &.Box { // extra specificity
		@media (min-width: $layout-l) {
			margin-right: -100%;
			// margin-left: 19rem;
			// top: -1rem;
		}
		@media (min-width: 1200px) {
			// float: right;
			top: 1rem;
			margin-left: 0;
			// margin-right: 0;
		}
	}
	.PageTitle {
		@media (min-width: $layout-s) {
			font-size: 40px;
		}
	}
	.Manchet {
		font-size: 30px;
		line-height: 1.2;
		margin-top: 2.5rem;
		margin-bottom: 2rem;
	}
	.Asset--dawg {
		position: absolute;
		top: -96px;
		transform: translateX(-400%);
		.is-loaded.wf-active & {
			transform: translateX(25rem);
			@media (min-width: $layout-xl) {
				transform: translateX(17rem);
			}
		}
	}
	.Asset--plant {
		position: absolute;
		bottom: -1px;
		right: -54px;
		transform-origin: bottom center;
		animation: plant 800ms ease infinite alternate;
		&:nth-of-type(2) { right: 100px; animation-delay: 100ms; }
	}
}
.Home-mood {
	width: 400px;
	position: relative;
	transform: rotate(2deg);
	margin-bottom: 4rem;
	z-index: 2;

	// left
	@media (min-width: $layout-l) {
		position: absolute;
		transform: rotate(2deg);
		width: 340px;
		// top: 17rem;
		// left: 1rem;
		left: initial;
		top: 3rem; right: 3rem;
	}
	// top right
	@media (min-width: 1200px) {


	}
}
.Home-gallery {
	position: relative;
	z-index: 2;
	clear: both;
	width: 85%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;

	.Slideshow {
		border: 1rem solid $tandpasta;
		border-radius: 1rem;
		margin-bottom: 2rem;
	}
	@media (max-width: $layout-s) {
		// hide for smaller screens
		display: none;
	}
	@media (min-width: $layout-l) {
		clear: none;
		float: left;
		width: 100%;
		max-width: none;
		margin-top: 4rem;
		padding-left: 37rem; // main box width
	}
	@media (min-width: 1200px) {

	}
	@media (min-width: $layout-xl) {
		// position: absolute;
		// top: 14rem;
		// left: 54rem;
		// width: 29rem;
		// z-index: 2;
	}
}
.Home-galleryLink {
	position: absolute;
	z-index: 2;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

.page-Volunteer .Box .Frame {
	transform: rotate(2deg);
	@media (min-width: $layout-l) {
		left: -7rem;
	}
}
.Home-bryghus {
	@media (min-width: $layout-l) {
		float: left;
		width: 48%;
	}
}
.Home-surf {
	@media (min-width: $layout-l) {
		clear: none;
		float: right;
		width: 48%;
	}
}
.Home-social {
	@media (min-width: $layout-l) {
		margin-left: 4rem;
	}
}

// Hide things for smaller screens
.Home-map,
.Home-bryghus,
.Home-surf,
.Home-introbox .Asset--plant {
	@media (max-width: $layout-s) {
		// hide for smaller screens
		display: none;
	}
}
