#big-video-wrap {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	img {
		object-fit: cover;
		height: 100% !important;
	}
	.vjs-loading-spinner {
		display: none !important;
	}
}
.Index {
	position: relative;
	padding-left: $aside-width - 2rem;
}
.Index-title {
	position: absolute;
	right: 2rem;
	top: 2rem;
	z-index: 5;
}
.Index-body {
	@include h3;
	position: fixed;
	bottom: 1rem;
	left: $aside-width + 1rem;
	z-index: 5;
	// max-width: 20rem;
}
.Index-gallery {
	.flickity-viewport {
		@include ratio(16,9);
		// > img {
		// 	@include ratio-inner;
		// }
	}
}
.Index-artists {
	display: block;
	padding: 0.2em;
	background: $purple;
	// color: #000;
}

.Bar-galleryCounter {
	position: absolute;
	top: 0;
	left: $aside-width;
}

.Index-boxes {
	background-color: #08092D;
	.Grid-item {
		display: flex;
		padding: 1rem;
		min-height: 4em;
	}
	h3 {
		margin: auto;
	}
}
