.Index {
	position: relative;
	.header{
		margin: rem($space);
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		top: 5px;
		left: 10px; 
		right: 10px;
		z-index: 9;		
	}
}
.HeaderLogo{
	display: inline-block;
	display: flex;
	align-items: center;
	white-space: nowrap;
	.Logo-light{
		@media (max-width: $layout-m) {
			height: rem(50);
			width: auto;	
		}
		@media (min-width: $layout-m) {
			height: 100px;
			width: auto;
		}
	}
	.Logo-date{
		color: $white;

	}
}
.flexbox-placeholder{
	@media (max-width: $layout-m) {
		height: rem(50);
		width: rem(42);
	}
	//big size
	@media (min-width: $layout-m) {
		height: 100px;
		width: 100px;
	}
}
.Index-gallery {
	position: relative;
	background-color: $darkgrey;
	display: inline-block;
	width: 100%;
	//small size 
	@media (max-width: $layout-m) {
		height: 600px;
		border: 2px solid $turquise;
	}
	.headline{
		display: flexbox;
		flex-direction: column;
		position: absolute;
		bottom: 10%;
		width: 80%;
		margin: rem($space * 2);
		white-space: pre-wrap;
		justify-content: left;
	}
	
	
}
.cover-video{
	//small size 
	object-fit: cover;
	width: 100%;
	@media (max-width: $layout-m) {
		min-height: 600px;
	}
	//big size
	@media (min-width: $layout-m) {
		height: auto;
		max-height: 1000px;
	}

}
.coverpic{
	width: 100%;
	img{
		height: 100vh;
		object-fit: cover;
	}
	
}
.frontpage{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
// .Index-title {
// 	max-width: 5em;
// 	text-align: right;
// 	color: white;

// 	@media (min-width: $layout-s) {
// 		font-size: rem(20);
// 	}
// 	@media (min-width: $layout-m) {
// 		font-size: 2vw;
// 	}
// 	opacity: 0.8;
// 	position: absolute;
// 	right: 2rem;
// 	top: 2rem;
// 	z-index: 5;
// }



// .Index-artists {
// 	@extend %font-bold;
// 	@include negative-text;
// 	display: block;
// 	padding: 0.75em 0;
// 	line-height: 1;

// 	// background: $blue;
// 	background: $yellow;
// 	color: $black;

// 	a {
// 		color: $black;
// 	}
// }

// .Index .GalleryCounter {
// 	position: absolute;
// 	right: rem($space);
// 	bottom: rem($space);
// 	opacity: 0.8;
// }
