.InstaFeed-items {
	display: flex;

	figure {
		flex: 1;
	}
}

.InstaFeed figcaption {
	margin-left: 1.5em;
	margin-right: 0.5em;
	font-size: small;
	color: $silk;
}

// Only show two first items on smaller screens
@media (max-width: $layout-m) {
	.InstaFeed-items figure {
		display: none;
	}
	.InstaFeed-items figure:nth-child(1),
	.InstaFeed-items figure:nth-child(2) {
		display: initial;
	}
}