.InstaFeed-items {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	min-width: 100%;
	@media (min-width: $layout-m) {
		justify-content: center;
	}
	figure {
		img{
			height: 200px;
			width: 200px;
			object-fit: cover;
			margin: $padding;
		}
	}
}

// .InstaFeed figcaption {
// 	margin-left: 1.5em;
// 	margin-right: 0.5em;
// 	font-size: small;
// 	color: $silk;
// }


