.List {
	padding-left: 0;
	list-style: none;

	time {
		display: block;
		font-size: small;
		margin-bottom: 0;
		opacity: 0.5;
	}

	h3 a {
		// margin-bottom: 0.5rem;
		// word-break: break-word;
		color: $black;
	}

	.Media-figure {
		max-width: 150px;
	}
}

// The grid variant wraps and doesn't show body
.List--grid {
	display: flex;
	flex-flow: row wrap;

	.Media-body small {
		display: none;

		@media (min-width: $layout-s) {
			display: initial;
		}
	}

	@media (min-width: $layout-s) {
		> li {
			flex: rem(300);
			margin-right: rem($space);
		}
	}
}

.List img {
	transition: -webkit-filter 150ms $easing, transform 2000ms $easing;
	// without default values, the image will jump 1px in chrome on hover
	filter: saturate(100%) brightness(1.01);
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.List a:hover img {
	filter: saturate(70%) brightness(120%);
}
