.List {
	list-style: none;
	margin-bottom: 30px;
	padding-left: 0;
	display: flex;
	@media (max-width: $layout-m) {
		flex-direction: row;
		overflow-x: scroll;
	}
	time {
		display: block;
		font-size: small;
		margin-bottom: 0;
		opacity: 0.5;
	}
	h3 a {
		text-transform: uppercase;
		color: $blue;
	}
}

// The grid variant wraps and doesn't show body
.List--grid {
	list-style: none;
	padding-left: 0;
	padding-top: 0;
	margin: 0;
	max-height: 1500px;
	overflow-y: scroll;
	@media (min-width: $layout-m) {
	flex-direction: column;
		> li {
			width: 100%;
			padding: 10px;
		}
	}
}


.List img {
	transition: -webkit-filter 150ms $easing, transform 2000ms $easing;
	// without default values, the image will jump 1px in chrome on hover
	filter: saturate(100%) brightness(1.01);
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	width: 100%;	
}

.List a:hover img {
	filter: saturate(70%) brightness(120%);
}
