.LoaderShaker {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: center;

	img {
		width: rem(35);
		// animation: loader-shaker 1000ms infinite;
	}
}

@keyframes loader-shaker {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
