.Logo {
	font-size: 1.4rem;
	a {
		display: block;
		padding-top: 4em;
		color: $white;
	}

	// "Thy"
	span:first-child {
		display: block;
		font-family: Times, serif;
	}
	// "Alive"
	span:nth-child(2) {

	}
	// "Festival"
	span:last-child {
		display: none;
	}
}
