.loadinganimation{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(white, $coral);
	display: flex;
	justify-content: center;
	align-items: center;

}


.Logo {
	font-size: 1.4rem;
	// margin: 1rem;
	// text-align: center;
	
	@media (max-width: $layout-m) {
		// margin-left: auto;
		// margin-right: auto;
		// display: none;
	}
	
	a {
		display: block;
		// padding: 2rem 0 0 1.8rem;
		color: $black;
		transition: padding 200ms;

		@media (min-height: 769px) {
			padding-top: 3.5rem;
		}
	}

	img {
		max-width: 400px;
		// filter: #{'invert()'};
	}
}

.Logo-date {
	@include h3;
	// color: $silk;
	font-size: 2vw;
	text-transform: uppercase;
}

.Logo-horse {
	margin-top: 0.5rem;
	@media (max-height: 767px) {
		.Aside & {
			display: none;
		}
	}
}
