/**
 * Map
 **/

// Map container, has the positionning
.Map-sidebar {
	@media (min-width: $layout-sm) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-height: rem(330);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 25px 60px 0 30px;
		background-color: $black;
	}
}

.Map-sidebar h5 {
	font-size: $font-16;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.Map-sidebar a {
	display: block;
	text-decoration: none;
	padding: 0.2rem 0;

	&:first-of-type {
		h5 {
			margin-top: 0;
		}
	}
}
