/**
 * Media block
 */
.Media-TopFade{
	min-height: 100vh;
	margin-top: -50vh;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0))0%, to(rgba(0,0,0,1))33%);
	mask-image: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,1)33%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: $ContainerPadding;
}
.mobilepadding{
	margin-top: $LargeContainerPadding;
	margin-bottom: $LargeContainerPadding;
}

.news-ticker{
	a{
		@include obliqueGTHaptic;
		font-size: rem(32);
		color: inherit;
		margin-right: $tickermargin;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.graphic-container{
	padding: 0;
	position: relative;
	padding-top:30%;
	// padding-bottom:10%;
	.graphic-item{
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: baseline;
		img{
			max-width: rem(50);
			width: auto;
			display: inline-block;
			margin-left: rem(30);
			margin-right: rem(30);
		}
		a{
			font-weight: 900;
			text-decoration: none;
			color: inherit;
			font-size: 85px;
			margin: -1%;
			padding: 0;
			@media (max-width: $layout-s) {
				font-size: 56px;
			}
		}
		.OptiBrianReg{
			@include OptiBrian;
		}
		.OptiBrianItalic{
			@include OptiBrianItalic
		}
		.GTHaptic{
			@include big-headline
		}
	}
}


.foreground-content{
	padding: $ContainerPadding;
	padding-top: 10%;
	position: relative;
	top:0;
	height: 100%;
	width: 70%;
	@media (max-width: $layout-s) {
		width: 100%;
	}
	.first{
		@include  OptiBrian;
		color: inherit;
		font-size: rem(40);
		line-height: rem(45);

	}
	.second{
		@include lightGTHaptic;
		margin-top: 30px;
		text-decoration: underline;
		color: inherit;
		font-size: rem(18);
		line-height: rem(20);	
	}
}
.artist-list{
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	top:0;
	left: 0;
	right: 0;
	align-items: center;
	padding: 0;
	padding-top: $LargeContainerPadding;
	.artist-item{
		position: relative;
		display: flex;
		flex-direction: row;		
		color: inherit;
		padding: 5%;
		@include boldGTHaptic;
		img{
			display: none;
		}
		@media (min-width: $layout-s) {
			&:hover {
				img{
					display: block;
					margin-left: $padding;
					height: 40px;
					width: auto;
					object-fit: contain;
				}
			}
		}
	}
	.artist{
		text-decoration: none;
		text-align: center;
		font-size: rem(40);
		line-height: rem(40);
		padding: 0;
		margin: 0;
		color: inherit;
		font-family: inherit;
		text-transform: uppercase;
		@media (max-width: $layout-s) {
			font-size: rem(40);
		}
		&:hover {
			color: $transparent;
			-webkit-text-stroke: 2px $blue; 
			@include obliqueGTHaptic;
		}
		&.is-active {
			@include obliqueGTHaptic;
			-webkit-text-stroke: 2px $blue; 
			color: $transparent;
		}
	}
	p{
		@include OptiBrian;
		text-decoration: underline;
		padding: 10vh;
	}
}

//images
.teaser-image{
	width: 100%;
	margin-top: $image-border;
	margin-bottom: $image-border;
	@media (min-width: $layout-s) {
		width: 80%;
	}
}
.inspiration-image{
	width: 100%;
	margin-top: $image-border;
	margin-bottom: $image-border;
}
.gallery-image{
	object-fit: contain;

}
.mobil-first-image{
	@media (max-width: $layout-s) {
		min-height: $MobileImageSize;
	}
}
.frontpage-headline{
	@include OptiBrian;
	text-align: center;
	font-size: rem(45);
	line-height: rem(47);
	font-weight: 900;
	width: 100%;
	margin-bottom: $padding;
}
.frontpage-headline-small{
	@include OptiBrian;
	text-align: center;
	font-size: rem(30);
	line-height: rem(32);
	padding: $padding;
}
.frontpage-content{
	color: inherit;
	@include boldGTHaptic;
	text-align: center;
}
.limitedWidth{
	@media (min-width: $layout-m) {
		width: 40%;
	}
}
.long-word{
	overflow-wrap: break-word;
}
.leftleaning{
	text-align: left;
}
.forcedDoubleline{
	@media (min-width: $layout-m) {
		max-width: 50%;
	}
}

.flex-box-toggle{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	@media (min-width: $layout-m) {
		flex-direction: row;
		.gallery-image{
			margin-top: -100px;
		}
	}
}
.activity-table{
	margin: $ContainerPadding;
	display: flex;
	flex-direction: row;
	height: 100%;
	
	ul{
		width: auto;
		list-style: none;
		padding: $padding;
		margin: 0;
		display: flex;
		
		flex-direction: column;
	}
	.icons{
		justify-content: space-evenly;
		img{
			width: 40px;
			object-fit: contain;
		}
	}
	.titles{
		justify-content: space-between;
		a{
			color: inherit;
			text-decoration: none;
			font-size: 18px;
		}
	}
}

.image-grid{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-grid-image{
	width: 25%;
	max-width: 100px;
	object-fit: contain;
	
}

// The social nav
.Social-Links {
	display: flex;
	flex-direction: row;
	padding-top: 40px;
	// justify-content: center;
	a img{
		min-width: $minimum-icon-height;
		min-height: $minimum-icon-height;
		max-width: $maximum-icon-height;
		max-height: $maximum-icon-height;
		
	}
	.middle{
		margin-left: $padding;
		margin-right: $padding;
	}
	a:focus img,
	a:hover img {
		opacity: 1;
		img {
			opacity: 0.6;
		}
	}
}

.instagram{
	a{
		@include boldGTHaptic;
		color: inherit;
		text-align: center;
		font-size: rem(40);
	}
}




// //  general media containers
// .Media-container{
// 	list-style: none;
// }
// .Media {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// 	//small size 
// 	@media (max-width: $layout-m) {
// 		width: 100vw;
// 	}
// 	//big size
// 	@media (min-width: $layout-m) {
// 		width: 100vw;
// 	}
// }

// // media-figure for news list
// .Media-figure {
// 	width: 100%;
// 	padding: 0;
// 	margin: 0;
// 	display: inline-block;
// 	a img {
// 		min-height: $bigImageSize;
// 		vertical-align: bottom;
// 		width: 100%;
// 		object-fit: cover;
// 	}
// 	li{
// 		list-style: none;
// 		list-style-type: none;
// 		padding: 0;
// 		margin: 0;
// 	}
// 	ul{
// 		list-style: none;
// 		list-style-type: none;
// 		padding: 0;
// 		margin: 0;
// 	}
// }

// .News-figure{
// 	margin: 0;
// 	//big size
// 	@media (min-width: $layout-s) {
// 		width: $thumbnailImage;
// 		padding-right: $ContainerPadding;
// 	}
// 	a img {
// 		width: 100%;
// 		vertical-align: top;
// 		object-fit: cover;
// 	}

// }
// .Media-body {
// 	align-self: center;
// 	width: 100%;
// 	display: inline-block;
// } 



// .Media-forcedHeight{
// 	padding-top: $hugeContainerPadding;
// 	padding-bottom: $hugeContainerPadding;
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }
// .Media-mediumHeight{
// 	padding-top: $ContainerPadding;
// 	padding-bottom: $ContainerPadding;
// 	min-height: 60vh;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }
// .Media--center {
// 	width: 100%;
// 	text-align: center;
// 	justify-content: space-around;
// 	align-items: center;
// 	a{
// 		text-align: center;
// 	}
// }