/**
 * Media block
 */
.Media-container{
	padding: 10px;
	background: $turquise;
}
.Media {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	
	list-style: none;

	//small size 
	@media (max-width: $layout-m) {
		width: 100vw;
	
	}
	//big size
	@media (min-width: $layout-m) {
		width: 100%;
	}
}

.Media-figure {
	width: 100%;
	a img {
		vertical-align: bottom;
		width: 100%;
		object-fit: cover;
	}
	li{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	h1{
		font-size: 10vw;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

}
.Media-body {
	width: 100%;
	padding: 5px;
} 


.Media--center {
	align-items: center;
	text-align: center;
}

.Media--reverse > .Media-figure {
	order: 1;
}

.Media--red,
.Media--yellow {
	justify-content: center;

	> .Media-figure {
		@media (max-width: $layout-s) {
			width: 100%;
		}
	}

	> .Media-body {
		margin-top: rem($space * 2);
		margin-left: rem($space);
		margin-right: rem($space);
		margin-bottom: rem($space);
		max-width: 40em;
	}
}

.Media--yellow,
.Media--red,
.Media--blue {
	p a {
		text-decoration: underline;
	}
}

.Media--red,
.Media--blue {
	a {
		color: $silk;
	}
	a:hover {
		color: $whitewhite;
	}
}

.Media--yellow {
	background-color: $yellow;

	a {
		color: $black;
	}
}
.Media--white {
	background-color: white;
	a {
		color: $black;
	}
}

.Media--red {
	background-color: $nice-slated-red;
	color: $silk;
}

.Media--blue {
	background-color: $blue;
	color: $silk;
}

.Media-title {
	@extend %font-black;
	font-size: 5vw;
	line-height: 1.2;

	@media (min-width: $layout-m) {
		font-size: 3vw;
	}
}

