/**
 * Media block
 */

.MediaBlock {
	position: relative;
	zoom: 1;
	clear: both;
	overflow: hidden;
}
.MediaBlock-media {
	float: left;
	margin-right: rem($space);
	width: 40%;

	img {
		vertical-align: middle;
	}
}
.MediaBlock-body {
	display: table-cell;
	width: 10000px;
}

// Modifier: Right aligned
.MediaBlock-media--right {
	float: right;
	margin-right: auto;
	margin-left: rem($space);
}

a.MediaBlock {
	text-decoration: none !important;
}

.MediaBlock--yellow {
	background-color: $yellow;

	a {
		color: $black;
	}

	.MediaBlock-body {
		padding-right: 2rem;
	}
}

.MediaBlock--red {
	background-color: $nice-slated-red;
	color: $silk;

	a {
		color: $silk;
		&:hover {
			color: $whitewhite;
		}
	}

	.MediaBlock-body {
		padding: rem($space);
	}
}

.MediaBlock--vertical {
	.MediaBlock-media {
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}
	.MediaBlock-body {
		display: block;
		padding: rem($space);
		max-width: 34rem;
	}
}
