//
// Navigation extras
//

.Navigation--practical,
.Navigation--history {
	transition-timing-function: cubic-bezier(1,.01,.3,1);
	transition:all 600ms ease-out;
	transform: translateX(-100%) scale(0.25) rotate(-20deg);
	position: fixed;
	width: 14rem;
	top: 12em;
	left: 0;
	padding-top: em(7);
	padding-bottom: em(7);
	padding-left: 0.5em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	a {
		font-size: rem(16);
		letter-spacing: 1px;
		color: $bleached;
	}
	@media (min-width: $layout-l) {
		transform: translateX(-0.25em) scale(1) rotate(2deg);
	}
	&.is-sticky {
		top: 3rem;
	}
}

// only show on these pages
.Page--Praktisk .Navigation--practical,
.Page--Historie .Navigation--history {
	opacity: 1;
	visibility: visible;
}

// Bigger, one column
.Navigation--history {
	li {
		display: block;
	}
	a {
		font-size: rem(30);
	}
}
