.Navigation--primary {
	@include clearfix;
	@extend %burbank-bold;
	font-size: rem(30);
	margin-bottom: 1rem;
	text-align: center;

	@media (min-width: $layout-m) {
		float: left;
		margin-left: rem(220) + 1rem;
		padding-top: 1rem;
		text-align: left;
		max-width: 20em;
	}
	@media (min-width: $layout-l) {
		padding-top: 4rem;
	}


	li {
		display: inline-block;
		transition: transform 1000ms;
	}
	a {
		transition: background 200ms, transform 200ms ease;
		background-size: 1%;
		display: inline-block;
		padding: 0.25em 0.5em;
		color: $brown;
		text-decoration: none;
		&:hover {
			transform: scale(1.1);
		}
	}
	a:hover,
	.is-active > a, // perch selector
	a.is-active, // praktisk/history
	a.active, // drupal selector
	.js-hover > a {
		background: transparent url(../images/pensel1.png) no-repeat center center;
		background-size: contain;
		color: #222;
	}

	// Dropdowns
	ul a {
		color: $bleached;
	}
}

// @mixin iterative-delay($count: 2, $delay: 0.07s) {
// 	@for $i from 1 through $count {
// 		&:nth-child(#{$i}) {
// 			transition-delay: $delay * $i;
// 		}
// 	}
// }

// .page-Index .Navigation--primary li {
// 	@include iterative-delay(10);
// 	transition: opacity 250ms ease-in-out;
// 	opacity: 0;
// 	// show them when they are loaded or if we dont have js
// 	.is-loaded &,
// 	.no-js & {
// 		opacity: 1;
// 	}
// }
