/**
 * General navigation
 */

.Navigation {
	margin: 0;
	padding-left: 0;
	list-style: none;
	line-height: 1.1;
}


/**
 * Dropdowns
 */

.has-dropdown {
	position: relative;
}
.Dropdown {
	position: absolute;
	top: auto;
	left: 0;
	z-index: 20;
	border-radius: 0.5em;
	background: $green;
	// width: 10em;
	// padding: 0.4em 0;
	text-align: center;
	// hide it
	visibility: hidden;

	a {
		color: $bleached;
	}
}
.has-dropdown:hover > .Dropdown {
//.js-hover > .Dropdown {
	visibility: visible;
}
.js-hover {
	background-color: rgba($green, 0.9);
	border-radius: 0.5em;
	> a {
		color: #f1f1f1;
		border-color: #f1f1f1;
		transform: scale(1.15);
	}
}
