//
// Navigation extras
//

.Navigation--practical,
.Navigation--history {
	transition: all 600ms cubic-bezier(1,.01,.3,1);
	transform: translateX(-100%) scale(0.25) rotate(-20deg);
	position: fixed;
	width: 14rem;
	top: 12em;
	left: initial;
	right: 0;
	padding-top: em(7);
	padding-bottom: em(7);
	padding-left: 0.5em;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	a {
		font-size: rem(16);
		letter-spacing: 1px;
		color: $bleached;
	}
	display: none;
	@media (min-width: 880px) {
		display: block;
		transform: translateX(0.25em) scale(1) rotate(-2deg);
	}
	&.is-sticky {
		top: 3rem;
	}
}

// only show on these pages
.page-Praktisk .Navigation--practical,
.page-Historie .Navigation--history {
	opacity: 1;
	visibility: visible;
}

// Bigger, one column
.Navigation--history {
	li {
		display: block;
	}
	a {
		font-size: rem(30);
	}
}
