.Navigation--primary {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $teal;
	box-shadow: 0px 1px 8px hsla(0, 0%, 0%, 0.53);
	z-index: 100;

	@media (min-width: $layout-s) {
		transform: rotate(0.4deg);
		top: -0.5rem;
	}

	li {
		display: inline-block;
		transition: transform 1000ms;
	}

	a {
		@extend %burbank-bold;
		font-size: rem(25);
		letter-spacing: 0.02em;
		transition: background 200ms, transform 200ms ease;
		background-size: 1%;
		display: inline-block;
		padding: 0.6em 0.5em;
		color: $bleached;
		text-decoration: none;
		.no-touchevents &:hover {
			transform: scale(1.1);
		}

		@media (min-width: $layout-s) {
			padding: 1.1em 0.5em 0.7em;
		}
	}
	a:hover,
	.is-active > a, // perch selector
	a.is-active, // praktisk/history
	.js-hover > a {
		background: transparent url(../images/pensel1.png) no-repeat center center;
		background-size: contain;
		color: #222;
	}

	// Dropdowns
	ul a {
		color: $bleached;
	}
}
