.Nav {
	display: flex;
	flex-flow: column nowrap;
}

.Nav a {
	@extend %font-bold;
	font-size: $font-20;
	padding-left: rem($space * 2);
	transition: color 150ms, padding 250ms 100ms $easing;

	@media (min-width: $layout-s) {
		&.is-active {
			padding-left: rem($space * 2.25);
		}
	}

	@media (min-height: 769px) {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}
}

.Nav small {
	margin-left: 0.6rem;

	a {
		@extend %font-regular;
		font-size: 1rem;
		padding-top: 0;
		padding-bottom: 0.1em;
	}
}

.Nav--secondary {
	margin-top: rem($space);

	a {
		font-size: $font-16;
	}
}

// The social nav
.Social {
	padding-left: rem($space * 2);
	margin-top: 1rem;

	@media (min-height: 769px) {
		margin-top: rem($space * 2);
	}

	@media (min-width: $layout-m) {
		text-align: left;
	}

	img {
		width: rem(30);
		height: rem(30);
		filter: #{'invert()'};
		opacity: 0.6;
	}

	a:focus img,
	a:hover img {
		opacity: 1;
	}
}
