//
// Primary navigation
//

.Navigation--primary {
	@include clearfix;
	@extend %burbank-bold;
	font-size: rem(30);
	text-align: center;
	margin-bottom: 1rem;

	@media (min-width: $layout-m) {
		padding-top: 6rem;
		max-width: 57rem;
	}

	li {
		display: inline-block;
		transition: transform 1000ms;
	}
	a {
		transition: background 200ms, transform 200ms ease;
		background-size: 1%;
		display: inline-block;
		padding: 0.25em 0.5em;
		color: $brown;
		text-decoration: none;
		&:hover {
			transform: scale(1.1);
		}
	}
	a:hover,
	.is-active > a, // perch selector
	a.is-active, // praktisk/history
	a.active, // drupal selector
	.js-hover > a {
		background: transparent url(../images/pensel1.png) no-repeat center center;
		background-size: contain;
		color: #222;
	}

	// Dropdowns
	ul {}
}



@mixin iterative-delay($count: 2, $delay: 0.07s) {
	@for $i from 1 through $count {
		&:nth-child(#{$i}) {
			transition-delay: $delay * $i;
		}
	}
}

.page-Index .Navigation--primary li {
	@include iterative-delay(10);
	transition: opacity 250ms ease-in-out;
	opacity: 0;
	// show them when they are loaded or if we dont have js
	.is-loaded &,
	.no-js & {
		opacity: 1;
	}
}
