:root{
	--color: inherit;
}
.Nav {
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: $ContainerPadding;
	@media (max-width: $layout-m) {
		padding-top: $ContainerPadding;
	}
	flex-flow: column nowrap;
	overflow-y: scroll;
}
.Nav a {
	@extend %font-bold;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	font-size: 30px;

	&:hover {
		-webkit-text-stroke: 1px $blue; 
		color: $transparent;
	}
	// &.is-active {
	// 	-webkit-text-stroke: 1px $blue;
	// 	color: $transparent;
	// }
	.show-aside & {
		transition-timing-function: $ease-decelerate;
		transition-duration: 300ms;
		transform: translate3d(0, 0, 0);
	}
}


.Nav small {
	display: flex;
	flex-direction: column;
	a {
		@extend %font-regular;
		text-decoration: none;
		//small size 
		@media (max-width: $layout-s) {
			font-size: $submenufont;
		}	
		//big size
		@media (min-width: $layout-s) {
			font-size: $largersubmenufont;
		}
	}
	
	
}



