.Newsletter{
	background-color: $bg-color;
}
.NewsletterForm {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.headlines{
		width: 50%;
		font-size: rem(25);
		line-height: rem(30);
		font-weight: medium;
		@media (max-width: $layout-m) {
			font-size: rem(40);
			line-height: rem(40);
			width: 100%;
		}
		@include boldGTHaptic;
		.outlined-headline{
			color: $transparent;
			-webkit-text-stroke: 1px $blue; 
		}
		.regular-headline{
			color: $blue;
		}
	}
	@media (max-width: $layout-m) {
		flex-direction: column;
		align-items: left;
		justify-content: flex-start;
	}
	

	.inputButton{
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
		width: 50%;
		label{
			height: 100%;
			margin: 0;
			flex-grow: 3;
			padding: 0;
			input{
				font-size: rem(10);
				height: rem(40);
				width: 100%;
				margin: 0;
			}
		}
		@media (max-width: $layout-m) {
			margin-top: $padding;
			width: 100%;
		}
	}
}
