.Newsletter{
	background-color: transparent;
}
.NewsletterForm {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.headlines{
		width: 40%;
		font-size: 30px;
		line-height: 35px;
		font-weight: medium;
		@media (max-width: $layout-m) {
			width: 100%;
			font-size: 30px;
			line-height: 35px;
		}
		@include boldGTHaptic;
		.outlined-headline{
			color: $transparent;
			-webkit-text-stroke: 1px $blue; 
		}
		.regular-headline{
			color: $blue;
		}
	}
	@media (max-width: $layout-m) {
		flex-direction: column;
		align-items: left;
		justify-content: flex-start;
	}
	// @media (min-width: $layout-m) {
	// 	padding-left: $hugeContainerPadding;
	// 	padding-right: $hugeContainerPadding;
	// }
	
	.inputButton{
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
		width: 40%;
		label{
			height: 100%;
			margin: 0;
			flex-grow: 3;
			padding: 0;
			input{
				font-size: rem(10);
				height: rem(40);
				width: 100%;
				margin: 0;
			}
		}
		@media (max-width: $layout-m) {
			margin-top: $padding;
			width: 100%;
		}
	}
}
