.Page {
	position: relative;
	max-width: $max-width;

	// min-height: 100vh;
	// background-image: linear-gradient(to bottom, #faf6d1, #f6dfd9);
	// background-attachment: fixed;
	// Custom border.
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	width: 40px;
	// 	height: 100%;
	// 	background: url(images/border-page-gradient.png) repeat-y top right;
	// 	position: absolute;
	// 	top: 0;
	// 	right: -40px;
	// 	z-index: 1;
	// }
}

.Page--clean {
	max-width: none;

	&::after {
		display: none;
	}

	@media (min-width: $layout-sm) {
		margin-right: initial;
	}
}

.Page + .Page {
	margin-top: rem($space * 2);
}

.Page-banner {
	margin-bottom: 0;
}

.Page-body {
	padding-top: rem($space * 3);
	padding-right: rem($space);
	padding-bottom: rem($space);
	padding-left: rem($space * 2);

	@media (min-width: $layout-m) {
		padding-left: rem($space * 3);
	}
}

.Page-body img.alignnone {
	height: auto !important;
}

.Page-body h1 + p,
.Post-body > p:first-child {
	@extend %font-bold;
	strong {
		@extend %font-bold;
	}
	font-size: $font-20;
}

.Page-backgroundImage {
	margin-left: 1rem;
	max-height: 80vh;
	// position: fixed;
	// z-index: -1;
	// top: 0;
	// right: 0;
	// min-width: 54%;
	// height: 100%;
	// object-fit: cover;
}

.Page-backgroundImage--full {
	width: 100%;
	height: 1500px;
	max-width: none;
}

.Page--gallery img,{
.Page--gallery img.alignnone {
	width: 190px;
	height: auto !important;
	min-height: 120px;
	object-fit: contain;
	object-fit: scale-down;
	object-position: center;
	vertical-align: middle;
	padding: 0.5em;
}

