.Page {
	position: relative;
	max-width: $max-width;
	min-height: 100vh;
	margin-right: 2rem;
	min-height: 100vh;
	background-color: $gray;
	color: $black;
	// border-right: 1rem solid rgba(#000, 0.1);
	// transform: rotate(-0.5deg);

	// Custom border.
	&::after {
		content: '';
		display: block;
		width: 40px;
		height: 100%;
		background: url(images/page-border.png) repeat-y top right;
		position: absolute;
		top: 0;
		right: -40px;
		z-index: 1;
	}
}
.Page-banner {
	margin-bottom: 0;
}
.Page-body {
	// transform: rotate(0.5deg);
	padding-left: rem($space*1.5);
	padding-bottom: rem($space*3);
	@media (min-width: $layout-m) {
		padding-left: rem($space*3);
		padding-right: rem($space);
	}
}
.Manchet h1 + p,
.Page-body h1 + p {
	@extend %font-medium;
	font-size: $font-20;
	@media (min-width: $layout-s) {
		max-width: 80%;
	}
}
.Page a {
	text-decoration: underline;
}

.Page-backgroundImage {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
