// Social media links
.Social {
	position: absolute;
	top: 0.75rem;
	right: 0.7rem;
}
.Social-facebook img {
	width: 32px;
	height: 32px;
}

// Facebook box
.fb_edge_widget_with_comment {
	background: #fff;
	padding: 10px 5px 4px 9px;
	border-radius: 5px;
	.Box & {
		margin: 0 1em rem($space);
	}
}
