/**
 * Teaser
 **/

// .Teaser {
// 	@include negative-text;
// 	position: relative;

// 	a:hover &,
// 	a:active & {
// 		// box-shadow: 0px 0px 2rem 1rem rgba(255, 255, 255, 0.1);
// 		.Teaser-title,
// 		.Teaser-subtitle {
// 			color: $white;
// 		}
// 		img {
// 			filter: saturate(70%) brightness(120%);
// 		}
// 	}
// }

.Teaser-wrap {
	text-decoration: none;
	padding-top: $padding;
	padding-bottom: $LargeContainerPadding;
}

.Teaser-media {
	@include ratio(400, 360);
	margin-bottom: 0;
	overflow: hidden;
	img {
		@include ratio-inner;
		// without default values, the image will jump 1px in chrome on hover
		filter: saturate(100%) brightness(1.01);
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		transition: -webkit-filter 250ms;
	}
}

// If we have object fit, make the images less tall
.object-fit .Teaser-media {
	@include ratio(400, 240);
	img {
		object-fit: cover;
		object-position: center;
	}
}

.Teaser-title {
	@include boldGTHaptic;
	font-size: rem(28);
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	max-width: 70%;
	padding-top: $padding;
	time {
		font-size: rem(13);
		letter-spacing: 0.05em;
		padding-left: $padding;
	}
	.day{
		@include OptiBrian;
		font-size: rem(13);
		letter-spacing: 0.05em;
		padding-left: $padding;
	}
}

a:hover .Teaser .Teaser-title {
	color: $black;
}

.Teaser-subtitle {
	font-size: $font-14;
	margin-bottom: rem(26);
}
