/**
 * Teaser
 **/

.Teaser-wrap {
	text-decoration: none;
	padding-top: $padding;
	// padding-bottom: $LargeContainerPadding;
}

.Teaser-media {
	@include ratio(400, 360);
	margin-bottom: 0;
	overflow: hidden;
	img {
		@include ratio-inner;
		// without default values, the image will jump 1px in chrome on hover
		filter: saturate(100%) brightness(1.01);
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		transition: -webkit-filter 250ms;
	}
}

// If we have object fit, make the images less tall
.object-fit .Teaser-media {
	@include ratio(400, 240);
	img {
		object-fit: cover;
		object-position: center;
	}
}

.Teaser-title {
	@include boldGTHaptic;
	font-size: rem(28);
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	max-width: 90%;
	padding-top: $padding;
	padding-bottom: $ContainerPadding;
	time {
		font-size: rem(13);
		letter-spacing: 0.05em;
		padding-left: $padding;
	}
	.day{
		@include OptiBrian;
		font-size: rem(13);
		letter-spacing: 0.05em;
		padding-left: $padding;
	}
}

a:hover .Teaser .Teaser-title {
	color: $black;
}

.Teaser-subtitle {
	font-size: $font-14;
	margin-bottom: rem(26);
}

.practical-teaser{
	width: 42vw;
	height: 65vw;
	max-width: $blogpagehalf;
	max-height: 300px;
	// width: 48%;
	margin-bottom: $masonry-gutter;
	img{
		width: 100%;
		height: 50%;
		object-fit: cover;
	}
	.practical-Item{
		width: 100%;
		height: 100%;
		margin: 0;
		padding:0;
	}
}
.practical-title{
	@include boldGTHaptic;
	padding: $relativepadding;
	padding-top: $padding;
}

// 
