{{#page-item page=model
	showPartyButton=true
	hideContent=true}}

	<div class="BilletterBody">
		<div class="BilletterBody-content">
			{{!--
			{{#if model.acf.ticket_link}}
				<p><a class="BilletterBody-button Button Button--blue" target='_blank' href="{{model.acf.ticket_link}}">KØB!</a></p>
			{{/if}}
			--}}
			<div class="Page-content">
				{{{model.content}}}
				<span class="icon-camping"></span>
			</div>
			
		
		</div>
	</div>

{{/page-item}}

{{outlet}}

