{{#page-item page=model hideContent=true}}
	{{!-- desktop version --}}
	<div class="BilletterBody">
		<h2>Tre dage i august med musik og natur i Thy!</h2>
		<br>
		<div class="BilletterBody-content">
			{{!--
			<p><a class="BilletterBody-button Button Button--blue" target='_blank' href="{{model.acf.ticket_link}}">KØB!</a></p>
			--}}
			<div class="Page-content">
				{{{model.content}}}
				<span class="icon-camping"></span>
			</div>
		</div>
	</div>
{{/page-item}}

{{outlet}}
