<div class="filters">
{{#link-to 'schedule' (query-params tag="all") }}
<div class="Button small-caption filter">
	ALLE DAGE 
</div>
{{/link-to}}

{{#link-to 'schedule' (query-params tag="onsdag") }}
<div class="Button small-caption filter">
	ONSDAG
</div>
{{/link-to}}

{{#link-to 'schedule' (query-params tag="torsdag") }}
<div class="Button small-caption filter">
	TORSDAG
</div>
{{/link-to}}

{{#link-to 'schedule' (query-params tag="fredag") }}
<div class="Button small-caption filter">
	FREDAG
</div>
{{/link-to}}

{{#link-to 'schedule' (query-params tag="lørdag") }}
<div class="Button small-caption filter">
	LØRDAG
</div>
{{/link-to}}

{{#link-to 'schedule' (query-params tag="søndag") }}
<div class="Button small-caption filter">
	SØNDAG
</div>
{{/link-to}}

</div>


{{yield}}

