<div class="Container Container--large">
	<iframe data-src="//lightwidget.com/widgets/3108237a450431aa56c448e1b3a7f869994a53a8.html"
		id="lightwidget_3108237a45"
		name="lightwidget_3108237a45"
		scrolling="no"
		allowtransparency="true"
		class="lazyload lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;">
	</iframe>
</div>
{{yield}}
