mixin artist(title, url, img, desc, myClass)
	li.Artist(class=img): a(href=url)
		.Artist-title #{title}

.Timetable
	p: img(src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/263317_10151500107901714_1432329238_n.jpg', alt='Spilleplan for Alive Festival 2013')
	ul.Timetable-day.Timetable-day--friday
		li: h3 Fredag
		+artist('Veto', '#', 'veto')
		+artist('Fallulah', '#', 'fallulah2')
		+artist('Den Sorte Skole', '#', 'den-sorte-skole')
		+artist('Baby in vain', '#', 'baby-in-vain')
		+artist('Eloq', '#', 'draape')
		+artist('Lars and the hands of light', '#', 'larsandthehandsoflight')
		+artist('Mont Oliver', '#', 'mont-oliver')
		+artist('Bottled in England', '#', 'bottled-in-england')
		+artist('Workers in Songs', '#', 'workers-in-songs')
		+artist('Bestie Respond', '#', 'beastie-respond')
		+artist('Rupture Plains', '#', 'rupture-plains')
	
	ul.Timetable-day.Timetable-day--saturday
		li: h3 Loerdag
		+artist('The Raveonettes', '#', 'raveonettes')
		+artist('Ebo Taylor', '#', 'ebo-taylor')
		+artist('Christian Hjelm', '#', 'christian-hjelm')
		+artist('Mø', '#', 'moe')
		+artist('Folkeklubben', '#', 'folkeklubben')
		+artist('The Late Great Fitzcarraldos', '#', 'lategreat')
		+artist('Dråpe', '#', 'draape')
		+artist('Synd og skam', '#', 'synd-og-skam')
		+artist('Schultz and Forever', '#', 'schultz-and-forever')
		+artist('Fitness Figures', '#', 'fitness-figures')
		+artist('Santiago', '#', 'santiago')
		+artist('Tales of murder and dust', '#', 'tales-of-murder-and-dust')
		+artist('Den våde vaffel', '#', 'den-vaade-vaffel')
		+artist('This is you', '#', 'this-is-you')