block vars
	- var active = 'Kontakt'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1 Kontakt
	:markdown
		*For generel kontakt, info og kommentarer kontakt os venligst på:*
		<a href="mailto:info@alivefestival.dk">info@alivefestival.dk</a>.
		Følg os på <a href="http://facebook.com/alivefestival">facebook.com/alivefestival</a>
		
		*Booking, musikproduktion, akkreditering og presse:*
		Mads Dahl - <a href="mailto:mads@alivefestival.dk">mads@alivefestival.dk</a> - (+45) 2276 2600
		
		*Plads og øvrig produktion: *
		Jakob Dahl - <a href="mailto:jakob@alivefestival.dk">jakob@alivefestival.dk</a>
		
		*Websmed:*
		Oskar Roug Mosumgaard - <a href="mailto:oskar@alivefestival.dk">oskar@alivefestival.dk</a> - (+49) 177 5166611
		
		*Frivilligtilmeldning åbner snart*
		<a href="mailto:frivillig@alivefestival.dk?subject=Frivillig til Alive 2013">frivillig@alivefestival.dk</a>

		*Festivalens postadresse:*
		Foreningen Thy Alive Festival
		Julius Bloms Gade 4, 5.th
		2200 København N
		CVR: 31 92 05 23
		
		*Alive Festival finder sted på adressen*
		Plantagevej 18
		7700 Thisted
		Danmark
