block vars
	- var active = '2010'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Alive Festival 2010

	p Tekst om 2010
	img(src="images/2010/alivefestival-2010-header.jpg")
	img(src="images/2010/alivefestival-2010-web.jpg")
	