block vars
	- var active = '2011'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Alive Festival 2011
	p Tekst om alive 2011
	
	img(src="images/2011/alivefestival-2011-header.jpg")
	img(src="images/2011/alivefestival-2011-web.jpg")