block vars
	- var active = 'The Raveonettes'
	- var bodyClass = 'page-Artist'
	- var description = ""

extends views/includes/layout

block content
	.Artist
		h1.PageTitle
			span The Raveonettes
		figure.Artist-media
			img(src='images/2013/artists/raveonettes.jpg', alt='The Raveonettes')
