:markdown
	# Baby In Vain

	Baby In Vain er med lynets hast blevet et af de mest omtalte navne på den danske musikscene.
	Trioens djævelsk tunge blanding af stonerrock og grunge associerer man normalt ikke med 
	et pigeband, og netop derfor er de tre teenagepiger i Baby In Vain et yderst forfriskende pust 
	på den mandsdominerede rockscene.

	Kombinationen af hård tråd og hæse kvindevokaler er kraftfuld og beskidt, og det spændingsfyldte musikalske rum sender tankerne tilbage til Nirvana, The Breeders og Black Sabbath. Efter trioens veloverståede koncerter på dette års SPOT og Roskilde Festival, kan du se frem til at få et velplaceret spark i solar plexus, når Baby In Vain indtager Alive.

	http://www.youtube.com/watch?v=X_xP7UPoL1E