block vars
	- var active = 'Billetter'
	- var bodyClass = 'page-Tickets roundmain'
	- var description = ''

extends views/includes/layout

block content
	.Box.Box--center
		h1.PageTitle
			span Køb dine billetter her!

		p Den sjette udgave af Alive Festival finder sted i dagene 14.-16. august 2014 og billetsalget er i gang!
		p <a class="Button Button--big" href="http://billetto.dk/alivefestival" target="_blank">TREDAGES-BILLET 625dkr <small></small></a>
		p Adgang til alle torsdag, fredag og lørdag. Stiger til 680,- fra d. 9. august og ved indgangen.
		p <a class="Button Button--big" href="http://billetto.dk/alivefestival" target="_blank">TODAGES-BILLET 495dkr <small></small></a>
		p Adgang fredag og lørdag. Stiger til 550,- fra 9. august og ved indgangen
		p <small>Alle billetpriser pålægges et mindre billetgebyr.</small>

	.Frames
		.Mood1.
			<figure class="Frame">
				<img src="images/moods/P7_1.gif">
			</figure>
		.Mood3.
			<figure class="Frame">
				<img src="images/gallery/alive2010-mames.jpg">
			</figure>
		.Mood2.
			<figure class="Frame Frame--square">
				<img src="images/gallery/koncert3.jpg">
			</figure>
