block vars
	- var active = 'Billetter'
	- var bodyClass = 'page-Billetter'
	- var description = ''

extends templates/includes/layout

block content
	.Box.Box--centerr
		h1.PageTitle
			span Køb dine billetter her!

		p Den sjette udgave af Alive Festival finder sted i dagene 14.-16. august 2014 og billetsalget er i gang!
		p <a class="Button Button" href="http://billetto.dk/alivefestival" target="_blank">Køb en tredages-billet til 625dkr</a>
		p En tredages-billet giver adgang til alle dage, altså torsdag, fredag og lørdag. Prisen stiger til 680,- fra d. 9. august og ved indgangen.
		p <a class="Button Button" href="http://billetto.dk/alivefestival" target="_blank">Køb en todages-billet til 495dkr</a>
		p En todages-billet giver adgang til fredag og lørdag. Stiger til 550,- fra d. 9. august og ved indgangen.
		p <small>Alle billetpriser pålægges et mindre billetgebyr.</small>

	.Aside
		.Mood3
			figure.Frame
				<img src="images/gallery/alive2010-mames.jpg">

	.Grid.Grid--2
		.Grid-u.Mood1
			figure.Frame
				<img src="images/moods/P7_1.gif">
		.Grid-u.Mood2
			figure.Frame.Frame--square
				<img src="images/gallery/koncert3.jpg">
