block vars
	- var active = 'Billetter'
	- var bodyClass = 'page-Billetter roundmain'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Billetter

		p To dage. Tre scener. Treogtyve koncerter. Thy pilsner.
		p <a class="Button Button--big" href="http://alivefestival.safeticket.dk/events/5466-ALIVE_FESTIVAL_2013/" target="_blank">Køb billet 495,-<small>Partoubillet (begge dage)</small></a>
		p Fra d. 9/8 er prisen 550,-
		p Alive Festivals billetsalg finder sted i samarbejde med Safeticket.<br>Alle priser er plus billetgebyr på 6,25.
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;

	//- h3 Endagsbillet
	//- p Endagsbilletter kommer i salg til maj i et begrænset antal. 
	

