block vars
	- var active = 'Billetter'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle Billetter

	h3 ALIVE FESTIVAL 2013 - 16.-17. august
	p Partoutbillet - begge dage
	p Early Bird-billetterne er udsolgt! Billetsalget fortsætter til 445,- frem til d. 14/5. KØB HER!
	p Fra d. 15/5 er prisen 495,-<br>Fra d. 9/8 er prisen 550,-

	p <a class="Button Button--big" href="http://alivefestival.safeticket.dk/events/5466-ALIVE_FESTIVAL_2013/" target="_blank">Køb billet</a>

	h3 Endagsbillet
	p Endagsbilletter kommer i salg til maj i et begrænset antal. 
	p Alive Festivals billetsalg finder sted i samarbejde med Safeticket.<br>Alle priser er plus billetgebyr på 6,25.

