block vars
	- var active = 'Billetter'
	- var bodyClass = 'page-Tickets roundmain'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Billetter

		p Alive Festival 2013 afholdes d. 16. og 17. august i Thisted.
		p <a class="Button Button--big" href="http://alivefestival.safeticket.dk/events/5466-ALIVE_FESTIVAL_2013/ticket" target="_blank">Partoutbillet 495,-<small>Giver adgang til begge dage. Fra d. 9/8 er prisen 550,-</small></a>
		p <a class="Button Button--big" href="https://alivefestival.safeticket.dk/events/6341-Endagsbillet_-_fredag/ticket" target="_blank">Endagsbillet fredag 295,-<small></small></a>
		p <a class="Button Button--big" href="https://alivefestival.safeticket.dk/events/6342-Endagsbillet_-_loerdag/ticket" target="_blank">Endagsbillet lørdag 295,-<small></small></a>
		p Den 9. august stiger prisen for partoutbilletterne til 550,00 kr. Alive Festivals billetsalg finder sted i samarbejde med Safeticket og alle priser tillægges et billetgebyr på 6,25 kr.
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
