block vars
	- var active = 'Billetter'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Billetter

	h3 ALIVE FESTIVAL 2013 - 16.-17. august
	p
	p <a class="Button Button--big" href="http://alivefestival.safeticket.dk/events/5466-ALIVE_FESTIVAL_2013/" target="_blank">Køb billet 445,-<small>Partoubillet (begge dage)</small></a>

	p Fra d. 15/5 er prisen 495,-<br>Fra d. 9/8 er prisen 550,-

	h3 Endagsbillet
	p Endagsbilletter kommer i salg til maj i et begrænset antal. 
	p.small Alive Festivals billetsalg finder sted i samarbejde med Safeticket.<br>Alle priser er plus billetgebyr på 6,25.

