block vars
	- var active = 'Frivillig'
	- var bodyClass = 'page-Volunteer'
	- var description = ''

extends views/includes/layout

block content
	//-.Box
		h1.PageTitle
			span Vil du være frivillig på Alive Festival?

		p Hvert år spiller entusiastiske og arbejdsomme frivillige en afgørende rolle for, at Alive Festival kan køre professionelt og smertefrit. Den frivillige arbejdskraft er grundstenen og fundamentet for, at festivalen kan eksistere, så ønsker du at bidrage til afviklingen af Thys førende kulturelle begivenhed, er det dig, vi står og mangler.

		p.align-center <a class="Button Button--big" href="https://podio.com/webforms/1950274/132092" target="_blank">Bliv frivillig</a>

		figure.Frame
			img(src="images/gallery/278869_10150999579906714_492435609_o.jpg")

		p Som frivillig på Alive Festival får du et armbånd til festivalen, en t-shirt samt forplejning på vagten. Det forventes, at du som frivillig medarbejder passer dine mødetider og håndterer alle opgaver disciplineret og ansvarsfuldt. Arbejdstiden under festivalen er 10-12 timer, mens arbejdstiden i dagene op til eller efter er 16-20 timer.
		p.align-center <a class="Button Button--big" href="https://podio.com/webforms/1950274/132092" target="_blank">Bliv frivillig</a>
		p Har du spørgsmål, kan du kontakte os på <a href="mailto:frivillig@alivefestival.dk">frivillig@alivefestival.dk</a>.
	.Box.
		<h1 class="PageTitle"><span>Vil du være frivillig på Alive Festival?</span></h1>
		<p><strong>Alive bygger på frivillighed</strong></p>

		<p>Hvis du har lyst til at være en del af et sjovt og kreativt fællesskab, er du kommet til det rette sted! Alive søger netop nu frivillige til afviklingen af Thys årlige festival.</p>

		<p>Der var ingen Alive Festival uden de mange dejlige og entusiastiske mennesker, der hvert år ønsker at give en hånd med. Det kræver en arbejdsindsats at være frivillig, men glæden ved at deltage i denne indsats og i arrangementet får mange frivillige til at komme igen år efter år. </p>

		<p>Du kan nu tilmelde dig som frivillig i forbindelse med Alive Festival 2014. Foruden den fantastiske følelse af kollektiv energi, det giver at få stablet Alive Festival på benene, får du som frivillig et armbånd til alle festivaldage, årets flotte Alive-t-shirt, forplejning under vagterne og adgang til festivalens frivilliglounge. Du kan læse meget mere om at være frivillig under <strong><a href="/frivilliginformation">Frivilliginformation</a></strong>.</p>

		<p><a href="/bliv-frivillig" class="Button">Udfyld ansøgningsformularen og bliv frivillig</a></p>

		<figure class="Frame"><img src="images/gallery/278815_10150999577681714_644388252_o.jpg" alt="Det er nice at vaere frivillig paa Alive"></figure>

		<blockquote>
			<p>“At udskænke øl til festivalstemte mennesker i Thy er måske det mest taknemmelige arbejde, jeg nogensinde får. Hurra for god musik og den pissefede stemning i baren! Vi ses i sommersolen, Alive.” - Josefine, bartender</p>
		</blockquote>
		<blockquote>
			<p>“Selvom det stod ned i stænger på førstedagen, så var der højt humør fra ledelsens side, nye regnslag, varm kaffe, sprøde kiks og god musik. What’s not to like?”
			- Niels, adgangsvagt</p>
		</blockquote>
		<p><img src="images/gallery/p-5989.jpg" alt=""></p>
		<blockquote>
			<p>“Jeg stod vagt ved en port, der bare skulle bevogtes, selvom der ikke kom nogen igennem. Lyder det kedeligt? Det frygtede jeg også, men VETO spillede lige ved siden af, og jeg dansede rundt i gummistøvler og refleksvest i selskab med trofaste venner. Hvem siger, at man ikke både kan feste og holde vagt?”
			- Johanne, adgangsvagt</p>
		</blockquote>



		<p><img src="images/gallery/p-7011.jpg" alt=""></p>
