block vars
	- var active = 'Frivillig'
	- var bodyClass = 'page-Volunteer'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Vil du være frivillig på Alive Festival?

		p Hvert år spiller entusiastiske og arbejdsomme frivillige en afgørende rolle for, at Alive Festival kan køre professionelt og smertefrit. Den frivillige arbejdskraft er grundstenen og fundamentet for, at festivalen kan eksistere, så ønsker du at bidrage til afviklingen af Thys førende kulturelle begivenhed, er det dig, vi står og mangler.
		p Som frivillig på Alive Festival får du et armbånd til festivalen, en t-shirt samt forplejning på vagten. Det forventes, at du som frivillig medarbejder passer dine mødetider og håndterer alle opgaver disciplineret og ansvarsfuldt. Arbejdstiden under festivalen er 10-12 timer, mens arbejdstiden i dagene op til eller efter er 16-20 timer.
		p Ønsker du at være frivillig på Alive Festival 2013, bedes du venligst <a href="https://podio.com/webforms/1950274/132092" target="_blank">udfylde formularen her</a>.
		p Har du spørgsmål, kan du kontakte os på <a href="mailto:frivillig@alivefestival.dk">frivillig@alivefestival.dk</a>.