block vars
	- var active = 'Frivillig'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Bliv frivllig!

	p Alive Festival er skabt af frivilligt arbejde. Sådan har det altid været, og sådan vil det altid være. Hvert år giver masser af engagerede frivillige en hånd med for at få festivalen til at køre, og med dette års udvidelse er der brug for endnu flere.
	p Uden frivillige er der ingen festival, det er ikke uden grund, at vi elsker vores hjælpere!

	p Det kan være hårdt arbejde at være frivillig. Det kan betyde at man kan gå glip af et band og noget tid sammen med vennerne. Man skal møde sober op til sine vagter, og kunne udføre arbejdet grundigt og ansvarsfuldt. 

	p For 10-12 timers arbejde får man billetten, en t-shirt, forplejning på vagten. Og ikke mindst den uvurderlige fællesoplevelse det er at få Alive Festival til at køre.

	p Har du lyst til at gi’ en hånd med? så klik her: blivfrivlliglink

	hr

	p Alive Festival søger desuden ansvarlige til en række områder på festivalen. Se mere her

	p Ansvarsposterne skal varetages af personer, der både har evnerne og viljen til at bære et stort ansvar i forbindelse med afholdelsen af Alive. Stillingerne indebærer at der gøres en indsats før, under og efter selve festivalen. Søg med andre ord ikke en af disse stillinger, med mindre du virkelig brænder for at få et arrangement op at stå, og ikke bare nyder at tage del i festen.
	p Vi søger folk til områderne: camping, service, scene, adgangstjek.

	p Kunne du tænke dig at blive ansvarlig for et af disse områder, skal du sende en mail til <a href="mailto:mette@alivefestival.dk">mette@alivefestival.dk</a>. I mailen skal du dels fortælle lidt om dig selv, og dels angive hvorfor du er kvalificeret til at tage dig af det område du ønsker at arbejde med. 
