block vars
	- var active = 'Index'
	- var bodyClass = 'page-index'
	- var description = ""

extends views/includes/layout

block content
	h1.PageTitle Galleri
	p her en masse flotte alive billeder

	img(src='images/gallery/alive2010-mames.jpg', alt='Mames Babengenush på Alive Festival 2010')
	img(src='images/gallery/alive2010-tbv.jpg', alt='The Blue Van på Alive Festival 2010')
	img(src='images/gallery/alive2011-pervers.jpg', alt='Per Vers på Alive Festival 2011')	
	img(src='images/gallery/alive2011-setting.jpg', alt='')
	img(src='images/gallery/alive2011-wmw.jpg', alt='')
	img(src='images/gallery/choir-young-believers.jpg', alt='')
	img(src='images/gallery/eagger-stunn.jpg', alt='')
	img(src='images/gallery/eclectic-moniker.jpg', alt='')
	img(src='images/gallery/julius-sylvest.jpg', alt='')
	img(src='images/gallery/rangleklods.jpg', alt='')
	img(src='images/gallery/spleen-united.jpg', alt='')
	img(src='images/gallery/ulige-numre.jpg', alt='')

	img(src='images/gallery/185191_10151004513541714_1702935780_n.jpg', alt='')
	img(src='images/gallery/201982_10150999582531714_1765388289_o.jpg', alt='')
	img(src='images/gallery/278815_10150999577681714_644388252_o.jpg', alt='')
	img(src='images/gallery/278869_10150999579906714_492435609_o.jpg', alt='')
	img(src='images/gallery/296942_10151002323301714_476711511_n.jpg', alt='')
	img(src='images/gallery/339169_10150999566076714_1401916912_o.jpg', alt='')
	img(src='images/gallery/426991_10150999583811714_521919331_n.jpg', alt='')
	img(src='images/gallery/456501_10150999577116714_966849897_o.jpg', alt='')
	img(src='images/gallery/461458_10150999581271714_956765275_o.jpg', alt='')
	img(src='images/gallery/468477_10150999572281714_330902884_o.jpg', alt='')

