block vars
	- var active = 'Galleri'
	- var bodyClass = 'page-Gallery'
	- var description = ''

extends templates/includes/layout

block content
	.Box.Box--center
		h1.PageTitle
			span Galleri
		p Her er nogle udvalgte billeder fra Alive Festival siden tidernes morgen, 2009.
		p <a href="https://www.facebook.com/alivefestival/photos_albums" target="_blank" class="Button Button">&rarr; Se flere billeder på vores Facebook</a>
		p <a href="http://www.youtube.com/user/alivefestivalthy" target="_blank" class="Button Button">&rarr; Se klip og video paa YouTube</a>

	.Aside
		.FrameWrap
			figure.Frame.
				<a href="https://www.youtube.com/watch?v=xHyDHIuHtNg" class="js-Popup--video">
					<img class="rsImg" src="images/2014/video-thumb.jpg">
				</a>

	<!--<div class="Slideshow royalSlider rsDefault"></div>
	<img class="rsImg" src="images/gallery/p-6422.jpg"> -->

	//- 2011
	//- <iframe width="560" height="315" src="http://www.youtube.com/embed/gTh8LDAvzsc?rel=0" frameborder="0" allowfullscreen></iframe>

	//- 2011 trailer
	//- <iframe width="560" height="315" src="http://www.youtube.com/embed/2H-UO3X1nLk?rel=0" frameborder="0" allowfullscreen></iframe>

	//-.GalleryNav
		button.js-scrollToTop Rewind
		button.js-scrollToBottom Play
		button.js-stop Stop

	figure.Gallery
		img(data-src="images/gallery/alive2010-mames.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/koncert.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/koncert2.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/koncert3.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6146.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6154.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6210.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6223.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6231-2.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6258.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6337.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6419.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6422.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6425.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6426.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6647.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6767.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6809.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6812.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6901.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-6957.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-7010.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-7439.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/185191_10151004513541714_1702935780_n.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/201982_10150999582531714_1765388289_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/278815_10150999577681714_644388252_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/278869_10150999579906714_492435609_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/296942_10151002323301714_476711511_n.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/339169_10150999566076714_1401916912_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/426991_10150999583811714_521919331_n.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/456501_10150999577116714_966849897_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/461458_10150999581271714_956765275_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/468477_10150999572281714_330902884_o.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/alive2010-tbv.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/alive2011-pervers.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/aliveplakat%20paa%20roskilde%202013.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/DSC_0180-28.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/p-7485.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/publikum.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/publikum2.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/publikum3.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/publikum4.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/publikum5.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
		img(data-src="images/gallery/raveonettes.jpg", alt='', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

	p.align-center <a href="https://www.facebook.com/alivefestival/photos_albums" target="_blank" class="Button">&rarr; Se flere billeder på vores facebook</a>
