block vars
	- var active = 'Historie'
	- var bodyClass = 'Page--historie'
	- var description = ''

extends views/includes/layout

block content
	#2013.History.History-2013
		.Box
			h1.PageTitle
				span Alive Festival 2013
			p: strong Anden udgave af festivalen 13. &amp; 14. august 2013.
			p: a(href='billetter.html').Button Køb billet!
			p: img(src="images/2013/alivefestival-2013-web.jpg", alt='Plakat for 2013')

	#2012.History.History-2012
		.Box
			h1.PageTitle
				span Alive Festival 2012
			p: strong Fjerde udgave. Stor success. 19. &amp; 20. august 2011.
			//-p Soundvenue var forbi. <a href="https://www.facebook.com/alivefestival/posts/235922273196425" target-"_blank">Laes deres anmeldelser</a>.
			p: a(href='https://www.facebook.com/media/set/?set=a.10150979910716714.412569.67301461713&type=1&l=261da2ac22', target='_blank').Button Billeder fra 2012
			p: img(src="images/2012/alivefestival-2012-web.jpg", alt='Alive Festival 2012 plakat')

	#2011.History.History-2011
		.Box
			h1.PageTitle
				span Alive Festival 2011
			p: strong Tredje udgave. Første med internationale navne. 19. &amp; 20. august 2011.
			p No sir, not a chance. Mr. Jones does not even pretend to know what's happening in America Right now, and neither does anyone else.
			p Autumn is always a time of Fear and Greed and Hoarding for the winter coming on. Debt collectors are active on old people and fleece the weak and helpless. They want to lay in enough cash to weather the known horrors of January and February. There is always a rash of kidnapping and abductions of schoolchildren in the football months. Preteens of both sexes are traditionally seized and grabbed off the streets by gangs of organized perverts who traditionally give them as Christmas gifts to each other to be personal sex slaves and playthings.

			p 
				a(href='https://www.facebook.com/media/set/?set=a.10150269350911714.328495.67301461713&type=3', target='_blank').Button Billeder fra 2011 fredag
				a(href='https://www.facebook.com/media/set/?set=a.10150270649351714.328847.67301461713&type=3', target='_blank').Button Billeder fra 2011 lørdag

			p: img(src="images/2011/alivefestival-2011-web.jpg", alt='Alive Festival 2011 plakat')

	#2010.History.History-2010
		.Box
			h1.PageTitle
				span Alive Festival 2010

			p: strong Anden udgave af festivalen 13. &amp; 14. august 2010.
			p No sir, not a chance. Mr. Jones does not even pretend to know what's happening in America Right now, and neither does anyone else.

			p We have seen weird Times in this country before, but the year 2000 is beginning to look super weird. This time there really is nobody flying the plane ... We are living in dangerously weird times now. Smart people just shrug and admit they're dazed and confused. The only ones left with any confidence at all are the New Dumb. It is the beginning of the end of our world as we knew it. Doom is the operative ethic.

			p
				a(href='http://www.flickr.com/photos/oskarrough/sets/72157624793268202/', target='_blank').Button Flere billeder fra 2010
			p
				img(src="images/2010/alivefestival-2010-web.jpg", alt='Plakat fra 2010')

	#2009.History.History-2009
		.Box
			h1.PageTitle
				span Alive Festival 2009
			p Første udgave. 13. &amp; 14. august 2009.

			p: strong No sir, not a chance. Mr. Jones does not even pretend to know what's happening in America Right now, and neither does anyone else.

			p We have seen weird Times in this country before, but the year 2000 is beginning to look super weird. This time there really is nobody flying the plane ... We are living in dangerously weird times now. Smart people just shrug and admit they're dazed and confused. The only ones left with any confidence at all are the New Dumb. It is the beginning of the end of our world as we knew it. Doom is the operative ethic.

			p The autumn months are never a calm time in America. Back to Work, Back to Football Practice, etc....Autumn is a very Traditional period, a time of strong Rituals and the celebrating of strange annual holidays like Halloween and Satanism and the fateful Harvest Moon, which can have ominous implications for some people.

			p
				a(href='https://www.facebook.com/media/set/?set=a.128095596713.115581.67301461713&type=3', target='_blank').Button Billeder fra 2009
				a(href='https://www.facebook.com/media/set/?set=a.194750791713.137826.67301461713&type=3', target='_blank').Button Flere billeder fra 2009

			img(src="images/2009/alivefestival-2009-web.jpg", alt='Alive Festival 2009 plakat')
