block vars
	- var active = 'Historie'
	- var bodyClass = 'page-Historie'
	- var description = ''

extends templates/includes/layout

block content
	#2013.History.History--2013
		.Box
			h1.PageTitle
				span Alive Festival 2013
			p: strong Jubilæum og udvidelse. 16. &amp; 17. august 2013.
			p Festivalens fem års jubilæum blev markeret med en udvidelse af festivalen, hvor et nyt område - Haven - blev inkluderet i festivalpladsen og en ny telt-scene blev etableret. Campingpladsen blev flyttet til et støre og bedre egnet område for enden af Plantagevej. På trods af visse opstartsproblemer viste Haven sig at være en perfekt udvidelse af Alive, og teltet videreførte den hyggelige og intime koncertstemning fra Gården. Det startede ellers skævt: The Raveonettes, årets store hovednavn, måtte melde afbud fredag morgen, mens regnen silede ned over Alive. Men efterhånden som fredagen skred frem stilnede regnen af, og lyden fra koncerterne begyndte at dominere luftrummet over Thisted, blandt andet fra Baby In Vain, VETO og Den Sorte Skole. Lørdag foregik i et strålende solskin og bød på fantastiske koncerter med blandt andre Folkeklubben, den 78-årige ghanesiske stjerne Ebo Taylor og Tako Lako, der trådte til efter aflysningen.
			p: img(src="images/2013/alivefestival-2013-web.jpg", alt='Plakat for 2013')
			h2 Program 2013
			p The Raveonettes (aflyst pga. sygdom), VETO, Ebo Taylor (GH), Fallulah, Den Sorte Skole, Christian Hjelm, MØ, Synd og Skam, Baby In Vain, Folkeklubben, Eloq, The Late Great Fitzcarraldos, Dråpe (N), Lars and the Hands of Light, Workers in Songs, Schultz and Forever, Bottled in England, Mont Oliver, Tales of Murder and Dust, Beastie Respond, Fitness Figures, Santiago, Rupture Plains, This Is You og Den Våde Vaffel.

	#2012.History.History--2012
		.Box
			h1.PageTitle
				span Alive Festival 2012
			p: strong Fjerde udgave. Succesen genopblomstret. 17. &amp; 18. august 2012.
			p Det var med kniven på struben, at arrangørerne gik i gang med at planlægge Alive Festival 2012. Skuffelsen og de økonomiske tømmermænd fra 2011 havde sået tvivl om arrangementets berettigelse. Var det i det hele taget muligt at lave et progressivt arrangement som Alive Festival i hjertet af Thy? Den store ængstelse omkring Alives fremtid blev gjort til skamme. Publikum svarede med et rungende ja, og Alive Festival kunne for første gang melde udsolgt med op imod 1000 gæster. Succesen blev sikret af de dyder, der grundlage festivalen i 2009 – en hyggelig og intim festivalplads og et musikprogram, der blander det nyeste og det bedste fra den progressive side af den danske musikscene. Hovednavnene var Klumben &amp; Raske Penge, Choir of Young Believers, Eagger &amp; Stunn og Spleen United.

			p Soundvenue var forbi, <a href="https://www.facebook.com/alivefestival/posts/235922273196425" target="_blank">laes deres anmeldelser</a>.

			p: a(href='https://www.facebook.com/media/set/?set=a.10150979910716714.412569.67301461713&type=1&l=261da2ac22', target='_blank').Button Billeder fra 2012
			p: img(src="images/2012/alivefestival-2012-web.jpg", alt='Alive Festival 2012 plakat')

			h2 Program 2012
			p Spleen United, Choir Of Young Believers, EaggerStunn, Ulige Numre, Klumben &amp; Raske Penge, The Eclectic Moniker, Ranglekolds, Jonny Hefty &amp; Jøden, Julius Sylvest, Waldo &amp; Marsha, Darling Don't Dance, The New Spring, Artificial Brothers, Magnolia Shoals, Mont Oliver, Quick Quick Obey, Rosenkrantz &amp; Gyldenstjerne, Talk To Iona, Esther, Bokongele Crew.

	#2011.History.History--2011
		.Box
			h1.PageTitle
				span Alive Festival 2011
			p: strong Tredje udgave. Højt at flyve. 19. &amp; 20. august 2011.
			p Succesen fra 2010 gav mod på mere: I 2011 blev musikbudgettet næsten fordoblet, en campingplads blev etableret og de første internationale navne blev hentet til Alive Festival – amerikanske The Pains of Being Pure at Heart og norske Young Dreams. Blandt de andre hovednavne fandt man Kellermensch og Per Vers, ligesom publikum fik sig et balstyrisk gensyn med WhoMadeWho. På trods af den fortsatte udvikling af festivalen svigtede publikum i 2011, hvor kun 550 gæster lagde vejen forbi Plantagehuset. Resultatet var et minus på 100.000 kroner og en gæld, der satte festivalens eksistens i fare.

			p
				a(href='https://www.facebook.com/media/set/?set=a.10150269350911714.328495.67301461713&type=3', target='_blank').Button Billeder fra 2011 fredag
				a(href='https://www.facebook.com/media/set/?set=a.10150270649351714.328847.67301461713&type=3', target='_blank').Button Billeder fra 2011 lørdag

			p: img(src="images/2011/alivefestival-2011-web.jpg", alt='Alive Festival 2011 plakat')

			h2 Program 2011
			p The Pains of Being Pure at Heart (US), WhoMadeWho, Kellermensch, Per Vers feat. DJ Static, Thulebasen, Tako Lako, Young Dreams (N), Emma Acs, Kenton Slash Demon, Alcoholic Faith Mission, F.U.K.T., The Bang Bang Brain, Vibeke Falden, Kalles World Tour, Hunch Bettors, Get Your Gun, Wonder Rubber Stars, Among Disco Club Kids, The French Themselves Had Taken It A Few Days Before, Pladevennerne.

	#2010.History.History--2010
		.Box
			h1.PageTitle
				span Alive Festival 2010
			p: strong Anden udgave af festivalen tager form. 13. &amp; 14. august 2010.
			p Anden udgave af Alive Festival blev en ubetinget succes. Arrangørerne havde lært mangt og meget af den hårde fødsel året forinden. Den nyvundne lærdom udmøntede sig i et langt mere sammenhængende arrangement, både hvad angik musikprogrammet og udformningen af pladsen. Vejret var også med Alive-folket i 2010, hvor regnen og skyerne fra det forrige år valgte at blive væk. På den solbeskinnede festivalplads kunne hele 650 gæster opleve navne som The Blue Van, Fallulah, Ginger Ninja og Turboweekend.

			p: a(href='http://www.flickr.com/photos/oskarrough/sets/72157624793268202/', target='_blank').Button Flere billeder fra 2010
			p: img(src="images/2010/alivefestival-2010-web.jpg", alt='Plakat fra 2010')

			h2 Program 2010
			p Turboweekend, The Blue Van, Ginger Ninja, Fallulah, Lars and The Hands of Light, Mames Babegenush, Dafuniks, White Pony, Dokkedal/Dixen, Boom Quips, Voodoom, Artificial Brothers, Mumkin, Mont Oliver, Quick Quick Obey, Jazz Under Skyen, Teltsex.

	#2009.History.History--2009
		.Box
			h1.PageTitle
				span Alive Festival 2009
			p Den spæde start d. 13. &amp; 14. august 2009.

			p I foråret 2009 satte en lille gruppe sig for at skabe en levende og udfordrende festival i Thy, hvad der i mange år havde været savnet. Navnet blev Alive Festival, og den skulle afholdes over to dage i og omkring Plantagehuset. Enhver begyndelse er svær, hvilket festivalen også bar præg af, men de cirka 300 gæster oplevede blandt andet Lucy Love, Figurines og WhoMadeWho i et arrangement, der på trods af de mange udfordringer var en oplevelse for alle involverede.

			h2 Program 2009
			p Figurines, WhoMadeWho, Lucy Love, Sys Bjerre, A Kid Hereafter, Pede B, Negash Ali, Song To The Siren, Striving Vines, The State, Factory45, ReBound Rubies, Skaeve Toner, Artificial Brothers, Altmodisch, Teltsex, Rufus Spencer, Philip Halloun, Wonder Rubber Stars, SL1818.

			p
				a(href='https://www.facebook.com/media/set/?set=a.128095596713.115581.67301461713&type=3', target='_blank').Button Billeder fra 2009
				a(href='https://www.facebook.com/media/set/?set=a.194750791713.137826.67301461713&type=3', target='_blank').Button Flere billeder fra 2009

			img(src="images/2009/alivefestival-2009-web.jpg", alt='Alive Festival 2009 plakat')
