block vars
	- var active = 'Index'
	- var bodyClass = 'page-Index'
	- var description = ""

extends views/includes/layout

block content
	.html.

		<div class="Asset Asset--dawg"></div>

		<div class="Box Home-introbox">
			<h1 class="PageTitle"><span>Velkommen til Alive Festival 2014</span></h1>
			<p class="Manchet">I en skjult oase mellem hav og fjord i hjertet af Thy løber Alive Festival i år af stablen for sjette gang i træk. Vi ses til Danmarks mest levende festival!</p>
			<p><a href="/billetter" class="Button Button--big">Få din billet nu!</a></p>

			<div class="Asset Asset--plant"></div>
			<div class="Asset Asset--plant"></div>
			<div class="Asset Asset--plant"></div>

			<figure class="Frame">
				<img src="images/P7_1.gif">
			</figure>
		</div>

		<figure class="Home-frame Frame">
			<div class="Slideshow royalSlider rsDefault">
				<img class="rsImg" src="/images/gallery2/publikum5.jpg" data-rsTmb='/images/gallery2/publikum5.jpg'>
				<img class="rsImg" src="/images/gallery2/koncert3.jpg" data-rsTmb='/images/gallery2/koncert3.jpg'>
				<img class="rsImg" src="/images/gallery2/publikum.jpg" data-rsTmb='/images/gallery2/publikum.jpg'>
				<img class="rsImg" src="/images/gallery2/koncert2.jpg" data-rsTmb='/images/gallery2/koncert2.jpg'>
			</div>
		</figure>

		<div class="Asset Asset--guitar"></div>

		<div class="Box">
			<p><a href="https://www.facebook.com/alivefestival/photos_albums" target="_blank" class="Button Button">&rarr; Se flere billeder på vores Facebook</a></p>
		</div>
