block vars
	- var active = 'Index'
	- var bodyClass = 'page-Alive'
	- var description = ""

extends templates/includes/layout

block content
	.Box.Box--dark.Home-introbox
		h1.PageTitle: span I en skjult oase mellem hav og fjord i hjertet af Thy løber Alive Festival i år af stablen for sjette gang i træk. Kom!
		p <a href="billetter.html" class="Button Button--big">Få din billet nu!</a>
		p.Manchet Fireogtyve koncerter paa tre dage, camping, surf, thy øl på fad og dejlige mennesker!

		//- .Asset.Asset--dawg
		//- .Asset.Asset--plant
		.Asset.Asset--plant

	//-.Home-video.
		<iframe width="853" height="480" src="//www.youtube.com/embed/2H-UO3X1nLk?modestbranding=0&;rel=0&;showinfo=0;autohide=1" frameborder="0" allowfullscreen></iframe>

	.Home-mood: figure.Frame
		a.js-Popup--video(href="https://www.youtube.com/watch?v=jYIxoxmtdnw")
			img(src="images/2014/video-thumb.jpg")

	.Home-gallery
		//- figure.Frame
		.Slideshow.js-Slideshow.royalSlider.rsDefault
			a.rsImg(href="images/gallery/when-saints-go-machine-s.jpg") When Saints Go Machine
			a.rsImg(href="images/gallery/oh-land.jpg") Oh Land
			a.rsImg(href="images/gallery/brandt-brauer-frick.jpg") Brandt Brauer Frick (DE)
			a.rsImg(href="images/gallery/blaue-blume.jpg") Blaue Blume
			a.rsImg(href="images/gallery/p-6767.jpg")
			a.rsImg(href="images/gallery/p-7010-s.jpg")
			a.rsImg(href="images/gallery/p-6812-s.jpg")
			a.rsImg(href="images/gallery/p-6543-s.jpg")
			a.rsImg(href="images/gallery/p-6425-s.jpg")
			a.rsImg(href="images/gallery/DSC_0180-28-s.jpg")

		//- <a class="rsImg" href="images/gallery/p-6223.jpg">6223</a>
		//- <a class="rsImg" href="images/gallery/p-6337.jpg">6337</a>
		//- <a class="rsImg" href="images/gallery/p-6425.jpg">6425</a>
		//- <a class="rsImg" href="images/gallery/p-6647.jpg">6647</a>
		//- <a class="rsImg" href="images/gallery/p-6812.jpg">6812</a>
		//- <a class="rsImg" href="images/gallery/koncert3.jpg">koncert3</a>
		//- <a class="rsImg" href="images/gallery/publikum.jpg">publikum</a>
		//- <a class="rsImg" href="images/gallery/koncert2.jpg">koncert2</a>
		//- <p class="Home-galleryLink"><a href="galleri.html" class="Button">&rarr; Se flere billeder og film klip</a></p>

		.Facebook.
			<div class="fb-like" data-href="https://facebook.com/alivefestival" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

	.Alist
		h2.Title 24 koncerter. Torsdag til søndag. Tre dages musik &amp; fest med glade mennesker.
		h3: a(href="musik.html") The Raveonettes
		h3: a(href="musik.html") Veto
		h3: a(href="musik.html") Ebo Taylor
		h3: a(href="musik.html") Fallulah
		h3: a(href="musik.html") Den Sorte Skole
		h3: a(href="musik.html") Christian Hjelm
		h3: a(href="musik.html") Mø
		h3: a(href="musik.html") Dråpe
		h3: a(href="musik.html") Eloq
		h3: a(href="musik.html") Synd og skam
		h3: a(href="musik.html") Baby in vain
		h3: a(href="musik.html") The Late Great Fitzgeraldos
		h3: a(href="musik.html") Lars and the hands of light
		h3: a(href="musik.html") Folkeklubben
		h3: a(href="musik.html") Mont Oliver
		h3: a(href="musik.html") Schultz and Forever
		h3: a(href="musik.html") Bottled in England
		h3: a(href="musik.html") Fitness Figures
		h3: a(href="musik.html") Santiago
		h3: a(href="musik.html") Workers in work
		h3: a(href="musik.html") Beastie Respond
		h3: a(href="musik.html") Tales of dust
		h3: a(href="musik.html") Den våde vaffel
		h3: a(href="musik.html") Rupture Plains
		br
		p: a(href="musik.html") Se hele programmet

	.Box.Home-bryghus
		h2.Box-title Start din festival med en frisk Thy Pilsner på Thisted Bryghus!
		p.Manchet Frisk fra fad torsdag d. 14. august kl. 16-19.
		.FrameWrap.FrameWrap--left
			figure.Frame
				img.lazyload(data-src='images/2014/thisted-bryghus.jpg', alt='Alive Festival starter med en Thy-øl på Thisted Bryghus')
		p I år starter Alive på Thisted Bryghus med ølhygge, sol og dj's. Når du har fået dit armbånd på, giver Thisted Bryghus den første fadøl, og der er også mulighed for en rundvisning på det gamle bryggeri fra 1902.
		p Bryghuset ligger lige ved stationen, og derfra er det kun 5 min. gågang til festivalpladsen, der åbner kl. 19.

	.Box.Home-surf
		h2.Box-title Spring i bølgen: Surfskole og Mont Oliver koncert i Cold Hawaii!
		.FrameWrap.FrameWrap--right
			figure.Frame
				img.lazyload(data-src='images/2014/coldhawaii.jpg', alt='Cold Hawaii surfskole med Alive Festival')
		p.Manchet Oplev Cold Hawaii på nærmeste hold!
		p Fredag d. 15. kl 11-15 flytter Alive Festival til Klitmøller, hvor vi i samarbejde med West Wind giver mulighed for at tage på surfskole til kun 150kr. Vil du hellere blive på land, så kan du nyde de lækre toner fra Mont Oliver og vores resident DJ-smed en kold fadøl i hånden.

	.Home-map.FrameWrap(style='max-width: 700px;')
		p.Frame
			a(href='https://www.google.com/maps/dir//Plantagevej+18,+7700+Thisted,+Denmark/@56.9793827,8.6558878,11z/data=!4m13!1m4!3m3!1s0x464998f2bb58c43f:0x715208302522c70f!2sPlantagevej+18!3b1!4m7!1m0!1m5!1m1!1s0x464998f2bb58c43f:0x715208302522c70f!2m2!1d8.690752!2d56.956506')
				img.lazyload(data-src='images/2014/map.jpg', alt='')

	.Asset.Asset--guitar

	.Box.Home-bryghus.
		<h2 class="Box-title">Seneste nyt</h2>
		<section class="List">
			<article class="List-item">
				<h3 class="Article-title">
					<a href="/blog/2013-12-08-workers-in-songs-sejler-til-thy">
						Workers in Songs sejler til Thy
					</a>
					<small class="Muted">(12 August 2013)</small>
				</h3>
			</article>
			<article class="List-item">
				<h3 class="Article-title">
					<a href="/blog/2013-09-08-thyalive-p-instagram">
						#ThyAlive på Instagram
					</a>
					<small class="Muted">(09 August 2013)</small>
				</h3>
			</article>
			<article class="List-item">
				<h3 class="Article-title">
					<a href="/blog/2013-09-08-this-is-you-udgiver-frste-single">
						This Is You udgiver første single
					</a>
					<small class="Muted">(09 August 2013)</small>
				</h3>
			</article>
			<article class="List-item">
				<h3 class="Article-title">
					<a href="/blog/2013-07-08-spilleplanen-er-klar">
						Spilleplanen er klar
					</a>
					<small class="Muted">(07 August 2013)</small>
				</h3>
			</article>
			<article class="List-item">
				<h3 class="Article-title">
					<a href="/blog/2013-05-08-alive-festival-mangler-frivillige">
						Alive Festival mangler frivillige
					</a>
					<small class="Muted">(05 August 2013)</small>
				</h3>
			</article>
			</section>

		<p><br><a href="/blog">&rarr; Se alle nyheder</a></p>

	.Box.Home-surf
		h2.Box-title #ThyAlive på Instagram
		p Festivalens officielle hashtag er <a href="http://www.gramfeed.com/instagram/tags#thyalive" target="_blank">#ThyAlive</a>. Tag dine billeder og vær med!
		.Constrained.
			<!-- SnapWidget -->
			<iframe src="http://snapwidget.com/in/?h=dGh5YWxpdmV8aW58ODB8NHwzfHx5ZXN8NXxub25lfG9uU3RhcnQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height: 285px; padding: 0;" ></iframe>
