block vars
	- var active = 'Index'
	- var bodyClass = 'PageIndex'
	- var description = ""

extends views/includes/layout

block content
	p The Raveonettes, VETO, Fallulah, MØ, Christian Hjelm og mange flere!
	p <b>Sidste nyt:</b> Den Sorte Skole, Dråpe (N), The Late Great Fitzcarraldos, Schultz and Forever, Lars and the Hands of Lights og Workers in Songs er klar til Alive!


	.newsletter.
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="http://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<label for="mce-EMAIL">Få vores nyhedsbrev</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			<div class="clear"><input type="submit" value="Ja tak" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</form>
		</div>
		<!--End mc_embed_signup-->