block vars
	- var active = 'Index'
	- var bodyClass = 'page-Index'
	- var description = ""

extends views/includes/layout

block content-header
	#zlayer
		.Layer1
			.Box.Box--volunteer
				br
				a(href='frivillig.html').Button &nbsp;&nbsp;&nbsp;&rarr; Bliv frivllig&nbsp;&nbsp;&nbsp;
		.Layer2
			.Box.Newsletter.
				<h2>Nyhedsbrev</h2>
				<div id="mc_embed_signup">
				<form action="http://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Få vores nyhedsbrev</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>
				</div>
		.Layer3.Layer-program
			.Box.Box--program
				h2 Raveonettes kommer!
				a(href='program.html').Button &rarr; Lineup 2013
		.Layer4.Layer-social
			.Box
				p: a(href='http://facebook.com/alivefestival', target='_blank') Alive Festival på Facebook
				| <div class="fb-like" data-href="http://facebook.com/alivefestival" data-send="true" data-width="400" data-show-faces="true"></div>
		.Layer5.Layer-logo
			h1.Logo
				a(href="/")
					img(src='images/alivefestival.png', alt='')
		.Layer6.Layer-tickets
			.Box
				h2: a(href="billetter.html").Button Billetter!
					
		//-.Layer6
			.Box.Box--program
				h2 Kom til Thy! Porse Guld på fad.
				a(href='info.html').Button &rarr; Mere om Alive…

block content
	.Box.fancy
		h1.PageTitle
			span Billetter

		p To dage. Tre scener. Treogtyve koncerter. Thy pilsner.
		p <a class="Button Button--big" href="http://alivefestival.safeticket.dk/events/5466-ALIVE_FESTIVAL_2013/" target="_blank">Køb billet 495,-<small>Partoubillet (begge dage)</small></a>
		p Fra d. 9/8 er prisen 550,-
		p Alive Festivals billetsalg finder sted i samarbejde med Safeticket.<br>Alle priser er plus billetgebyr på 6,25.
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
	//-
		p The Raveonettes, VETO, Fallulah, MØ, Christian Hjelm og mange flere!
		p <b>Sidste nyt:</b> Den Sorte Skole, Dråpe (N), The Late Great Fitzcarraldos, Schultz and Forever, Lars and the Hands of Lights og Workers in Songs er klar til Alive!


		