block vars
	- var active = 'Info'
	- var bodyClass = 'PageInfo'
	- var description = ''

extends views/includes/layout

block content
	h1 Info om Alive Festival
	p Alive Festival er ikke bygget på fornuft, den er bygget på vilje. En vilje til at skabe noget stort udfra vores egne idéer, og en tro på at de holder, giver mening og spræder glæde.
	p Vi tror på, at verden har godt af en tur til Thy. Op hvor der er frisk luft til hovedet og folk er nede på jorden. Men vi vil også gerne give Thy et spark i r… Komme med ny inspiration og en anden måde at gøre tingene på. Det håber vi afspejler sig i vores musikprogram og på festivalpladsen.
	p Vi vil præsentere spændende og nyskabende musik for det unge publikum i flotte og festlige omgivelser. Være en prisbillig festival hvor alle kan være med, og hvor prisen også tilskynder til at tage chancen og prøve noget nyt. Bidrage til en positiv udvikling for ungdomskulturen i Nordjylland gennem rådgivning og inspiration via en gennemført og velarrangeret årlig festival.
	p <img alt="" src="http://alivefestival.dk/sites/default/files/styles/large/public/4921302907_9c541f7078_o.jpg" />