block vars
	- var active = 'Kontakt'
	- var bodyClass = ''
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Kontakt
	
	h3 For generel kontakt, info og kommentarer
	p <a href="mailto:info@alivefestival.dk">info@alivefestival.dk</a>. Følg os på <a href="http://facebook.com/alivefestival">facebook.com/alivefestival</a>

	h3 Booking, musikproduktion, akkreditering og presse
	p Mads Dahl - <a href="mailto:mads@alivefestival.dk">mads@alivefestival.dk</a> - (+45) 2276 2600
	
	h3 Plads og øvrig produktion
	p Jakob Dahl - <a href="mailto:jakob@alivefestival.dk">jakob@alivefestival.dk</a>
	
	h3 Websmed
	p Oskar Roug Mosumgaard - <a href="mailto:oskar@alivefestival.dk">oskar@alivefestival.dk</a> - (+49) 177 5166611
	
	h3 Frivilligtilmeldning åbner snart
	p <a href="mailto:frivillig@alivefestival.dk?subject=Frivillig til Alive 2013">frivillig@alivefestival.dk</a>

	h3 Festivalens postadresse
	p Foreningen Thy Alive Festival<br>Julius Bloms Gade 4, 5.th<br>2200 København N<br>CVR: 31 92 05 23

	h3 Alive Festival finder sted på adressen
	p Plantagevej 18<br>7700 Thisted<br>Danmark
