block vars
	- var active = 'Musik'
	- var bodyClass = 'Page--musik'
	- var description = ""

extends views/includes/layout

block content
	h1.Title 24 koncerter. Torsdag til lørdag. Tre dages musik &amp; fest med glade mennesker

	p <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/1133931389/playlist/06qyZkEWCOU16E4URII5Qg" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

	p <iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLo682vyue18ghgHMOEXVniKLfUx3sGwNx" frameborder="0" allowfullscreen></iframe>

	include views/modules/artists-masonry.jade

	.Whatever
		//-ul#tabs.TabsNav(role="tablist")
			li: a#tab1(href="#panel1", onclick="showTab(1);return false;", role="tab", aria-controls="panel1", aria-selected="false")
					h1.PageTitle
						span Musik

			li: a#tab2(href="#panel2", onclick="showTab(2);return false;", role="tab", aria-controls="panel2", aria-selected="false")
					h1.PageTitle
						span Program

		//-.Tabs
			#panel1.Tabs-panel(role="tabpanel", aria-labelledby="tab1")
				include views/modules/artists-masonry.jade

			#panel2.Tabs-panel(role="tabpanel", aria-labelledby="tab2")
				include views/modules/timetable.jade
