block vars
	- var active = 'Nyheder'
	- var bodyClass = 'page-News'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Nyheder
	
		p Tjek <a href="http://facebook.com/alivefestival">Alive Festival på Facebook</a> for mere.