block vars
	- var active = 'Nyheder'
	- var bodyClass = 'page-News'
	- var description = ''

extends templates/includes/layout

block content
	.Box
		h1.PageTitle: span Nyheder

		p news news news

		p Tjek <a href="http://facebook.com/alivefestival">Alive Festival på Facebook</a> for mere.

	aside.Aside
		.Facebook.
			<div class="fb-like-box" data-href="https://www.facebook.com/alivefestival" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
