block vars
	- var active = 'Info'
	- var bodyClass = 'page-OmAlive'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Om Alive Festival

		blockquote ”Danmarks mest levende festival!”

		p Placeret midt i hjertet af Thisted er Alive Festival skabt for at forandre og forbedre det musikalske og kulturelle landskab i Thy og Nordjylland, mens den samtidig skal være en del af fortællingen om Thy som et dynamisk og aktivt levested. Båret af frivillige kræfter og et brændende ønske om at skabe en kulturel oplevelse for publikum, står Alive Festival som et kulturelt fyrtårn i Nordjylland. Et fyrtårn der både kan trække opsigtsvækkende musiknavne til og give lokale talenter et udstillingsvindue for resten af landet.

		p Alive Festival er en non-profit to-dages musikfestival, der har eksisteret siden 2009 og finder sted i den nordvestlige del af Jylland. Festivalen er lokaliseret i de unikke og festlige omgivelser omkring Plantagehuset og URT og løber hvert år af stablen i midten af august måned. Alive Festival har tre scener, 25 kunstnere på programmet og en kapacitet med plads til 1100 gæster og 150 frivillige.

		.royalSlider.rsDefault.Slideshow--tabs
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
					//-h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left') Animated block, to show you that you can put anything you want inside each slide
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/201982_10150999582531714_1765388289_o.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/201982_10150999582531714_1765388289_o.jpg')
					//-h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='right') Animated block, to show you that you can put anything you want inside each slide
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
					//-h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left') Animated block, to show you that you can put anything you want inside each slide
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
					//-h3.rsABlock Animated block, to show you that you can put anything you want inside each slide
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/201982_10150999582531714_1765388289_o.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/201982_10150999582531714_1765388289_o.jpg')
					//-h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='right') Animated block, to show you that you can put anything you want inside each slide
			.rsContent
				a(href='#')
					img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
					.rsTmb
						img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
					//-h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left') Animated block, to show you that you can put anything you want inside each slide

		p Alive Festival kan i 2013 fejre fem års jubilæum, og det cementeres med indvielsen af en ny scene og en fordobling af festivalpladsens areal. Udvidelserne ligger i forlængelse af det allerede eksisterende festivalområde, så den intime stemning – der er festivalens varemærke – ikke går tabt.

		p Musikprogrammet forsøger hvert år at gå nye veje og præsenterer et bredt udvalg af interessant og nyskabende musik fra den danske og internationale musikscene. Endvidere er det blevet en fast tradition, at Alive Festival som Thys førende kulturformidler giver plads til at præsentere de nyeste stjerneskud fra lokalegnens blomstrende og fremadstormende vækstlag.

		p Alive Festival er en festival, der altid er i udvikling. Festivalen brænder for at sprede glæde gennem det kreative arbejde og har en vision om at bidrage til en positiv udvikling for ungdomskulturen i hele Nordjylland via en gennemført og velarrangeret årlig festival.

		//-img(src="http://alivefestival.dk/sites/default/files/styles/large/public/4921302907_9c541f7078_o.jpg", alt='')

		p Alive Festival takker alle samarbejdspartnere for at hjælpe med at gøre projektet til virkelighed.
		p logoer her
