block vars
	- var active = 'Praktisk'
	- var bodyClass = 'PagePraktisk'
	- var description = ''

extends views/includes/layout

block content
	h1.PageTitle
		span Praktisk information
	
	h2 Transport
	p Festivalen finder sted på adressen Plantagevej 18 i Thisted(7700). Det er Nordvestjylland, nærmere bestemt i Thy (Danmark).
	p Der går tog fra Århus og København, Xbus fra Aalborg, Viborg, Skive - vær opmærksom på, at sporarbejdet mellem Struer og Skive betyder en lille bustur på din togrejse. I alle tilfælde kan rejseplanen bruges - <a href="http://www.rejseplanen.dk/">klik hér</a><br />Linie 888 kører også til Thisted, og kan være en fordel - <a href="http://www.abildskou.dk/da/linie888/koereplaner/">klik hér</a><br />Igen i år fører Nordjyllands Trafikselskab GAK GAK-kampagnen(no bullshit, det hedder den), der potentielt gør din tur rigtig billig - <a href="http://www.nordjyllandstrafikselskab.dk/default.aspx?m=2&amp;i=571">klik hér</a>

	h2 Billetter
	p Info under <a href="billetter.html">billetter</a>

	h2 Alder
	p Personer under 15 har kun adgang til Alive Festival i ledsagelse af voksen(over 25).<br />Børn under 11 år har gratis adgang i ledsagelse af en voksen.

	h2 Camping
	p Igen i år kan vi tilbyde alle gæster overnatning på vores campingområde. Man skal have festivalarmbånd for at benytte vores gratis festivalcamp. Campen er beliggende kun 100 meter fra festivalpladsen.<br />På grund af begrænset plads, er det <em><strong>ikke </strong></em>tilladt at opstille pavilloner på campingpladsen. Der henstilles til, at man mindsker sit pladsforbrug, og gør plads til andres telte. Da campingpladsen er placeret tæt på beboelse, er musikanlæg heller ikke tilladt - vores anlæg er med garanti også større end dit :)<br />Al åben ild er forbudt på campingpladsen.

	h2 Dankort
	p Der vil være dankort-terminaler i billet-salget og i vores barer, her vil også kunne hæves kontanter til de øvrige salgsboder

	h2 Mad
	p Alive Festivals madbod, placeret inde i Plantagehuset, vil servere gode, sunde snacks og et solidt aftensmåltid. Alt til yderst fornuftige priser.

	h2 Parkering
	p Alive Festival ligger kun et stenkast fra &quot;Plantagepladsen&quot; - vær opmærksom på, at ikke alle pladser her er uden begrænsning

	h2 Tid og dato
	p Festivalpladsen åbner fredag d. 16. august kl. 15.00, første koncert starter kl. 16.30. Campen er åben fra kl. 13.00.<br />Der åbent for ombytning af billet til armbånd og evt. køb ved indgangen i følgende perioder:<br />Fredag: kl. 13:00 - 23:00<br />Lørdag: kl. 13:00 - 23:00