block vars
	- var active = 'Praktisk'
	- var bodyClass = 'page-Praktisk'
	- var description = ''

extends views/includes/layout

block content
	.Box
		h1.PageTitle
			span Praktisk information

		h4#Adresse Adresse
		p Adressen er Plantagevej 18, 7700 Thisted. Se det paa <a href="https://www.google.com/maps/preview#!q=Plantagevej+18%2C+Thisted%2C+D%C3%A4nemark&data=!4m10!1m9!4m8!1m3!1d31379428!2d-95.677068!3d37.0625!3m2!1i1591!2i924!4f13.1">Google Maps</a>.

		h4#Akkreditering Akkreditering
		p Akkreditering til Alive Festival kan opnås ved at kontakte festivalen via følgende mailadresse: <a href="mailto:mads@alivefestival.dk">mads@alivefestival.dk</a>. Akkrediteringsbilletter til Alive Festival er personlige og kan ikke overdrages til andre.

		h4#Armbaand Armbånd
		p Ombytning af billetter til armbånd og eventuelle køb af billetter finder sted ved indgangen til festivalen i følgende tidsrum:
		p Fredag d. 16. august: 13:00 – 23:00<br>Lørdag d. 17. august: 12.00 – 22.00

		h4#Billetter Billetter
		p I tilfælde af en ikke-udsolgt festival kan der købes billetter ved indgangen. Der sælges et begrænset antal endagsbilletter, som ligeledes kan købes ved indgangen – med mindre de er udsolgt forud for festivalens afvikling.
		p <a href="billetter.html">Koeb billet online</a>.

		h4#Boern Børn og unge
		p Du skal være fyldt 15 år for at få adgang til festivalpladsen, med mindre du følges med en voksen (over 25 år). Børn, der endnu ikke er fyldt 11 år, har gratis adgang med en voksen som ledsager.
		p Der gøres opmærksom på, at Alive Festival ikke serverer alkohol til unge under 18 år.
		p Alive Festival har i den forbindelse en løbende dialog med Thisted Kommunes SSP-afdeling.

		h4#Camping Camping
		p En billet til Alive Festival giver automatisk adgang til festivalens campingområde, der er placeret 200 meter fra festivalpladsen. Det er muligt at overnatte i medbragte telte, mens campingvogne og pavilloner på grund af områdets pladsmæssige begrænsninger ikke er tilladt. Åben ild og musikanlæg er ligeledes forbudt, da arealet er placeret i forlængelse af beboet område. Campingområdet vil døgnet rundt være under opsyn af servicevagter. Pladsen har fine toiletfaciliteter, mens badefaciliteter må opsøges andetsteds. Her henvises for eksempel til Søbadet på Kystvejen, hvor der er kolde brusebade til fri afbenyttelse.
		p Campingpladsen åbner fredag d. 16. august kl. 13:00 og lukker søndag d. 18. august kl. 12:00.

		h4#Dankort Dankort
		p Der er dankortterminaler i billetsalget samt i barerne. Her kan der hæves kontanter til de øvrige salgsboder.

		h4#Dyr Dyr
		p Det er ikke tilladt at medbringe dyr til festivalen.

		h4#Festivalpladsen Festivalpladsen
		p Festivalpladsen har følgende åbningstider:
		p Fredag d. 16. august: 15:00 – 03:30<br>Lørdag d. 17. august: 10:00 – 04:00

		h4#Foto Foto og video
		p Professionelle kameraer og optageudstyr er ikke tilladt. Tilladelse til optagelse af lyd og levende billeder under koncerter gives ikke til publikum. Hvis du repræsenterer et medie, er du velkommen til at søge om tilladelse og akkreditering.

		h4#Garderobe Garderobe
		p Alive Festival kan desværre ikke tilbyde garderobe og bagageopbevaring.

		h4#Handicappede Handicappede
		p Handicaptoilet forefindes på festivalpladsen. Ved scenerne vil der på grund af festivalens størrelse ikke være særskilte podier til kørestolsbrugere.

		h4#Mad Mad og drikke
		p I Plantagehuset kan der købes gode, sunde snacks og lækker aftensmad til fornuftige priser – også til vegetarer. Barerne byder foruden vand, vin, shots og drinks på et bredt udvalg af lokal øl. Der udskænkes dog ikke alkohol til unge under 18 år. Det er endvidere ikke tilladt at nyde medbragte mad- og drikkevarer på festivalpladsen

		h4#Narkotika Narkotika
		p Der er ingen tolerance over for narkotika. Alive Festival er med i Dansk Lives kampagne ”Music Against Drugs”.

		h4#Paraplyer Paraplyer
		p Grundet begrænset plads er paraplyer ikke tilladt på festivalpladsen.

		h4#Parkering Parkering
		p Alive Festival er centreret omkring Plantagehuset, hvor der er gode muligheder for gratis parkering. Størstedelen af P-pladserne er uden tidsbegrænsning, men man skal dog være opmærksom på, at der også er et privat bestyret afsnit på parkeringspladsen, hvor det kun er tilladt at parkere i kortere tidsrum.

		h4#Partnere Partnere
		p Alive Festival sætter stor pris på alle partnere og er derfor altid på udkig efter nye og spændende samarbejder. Ønsker du derfor at blive en del af festivalen, skal du ikke tøve med at kontakte os på mads@alivefestival.dk eller brogaard@alivefestival.dk.

		h4#Scenerne Scenerne
		p Alive Festival har tre scener: ”Gårdscenen”, ”Salen” og ”Teltscenen”. Sidstnævnte er placeret i området ”Haven”, der er en del af dette års udvidelse og som er placeret i forlængelse af festivalpladsen.

		h4#Sikkerhed Sikkerhed
		p Vagterne er vores øverste myndighed på festivalpladsen, som du til enhver tid kan henvende dig til, såfremt du har brug for hjælp.

		h4#Sociale Sociale medier
		p Alive Festival befinder sig på Facebook, Instagram og Twitter, og vi opfordrer vores gæster til at dele billeder og oplevelser med os og hinanden. #ThyAlive er Festivalens officielle hashtag.

		h4#Taxa Taxa
		p Thisted Taxa kan fanges på telefon: 97 92 04 22

		h4#Transport Transport
		p Ved ankomst med bus eller tog til Thisted Station er der kun få minutters gang til festivalpladsen.
		p.
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=56.95469869914403,8.6891765&amp;sspn=0.0054066908854968655,0.017072416428804946&amp;saddr=Thisted+st,+Danmark&amp;t=m&amp;daddr=Plantagevej+18,+7700+Thisted,+Danmark&amp;dirflg=w&amp;ie=UTF8&amp;geocode=FTgIZQMdtZGEAClT1GY78phJRjEeDfnr0tt0rg%3BFVoWZQMdQJyEACk_xFi78phJRjEPxyIlMAhScQ&amp;ll=56.954679,8.689846&amp;spn=0.003565,0.003574&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?sll=56.95469869914403,8.6891765&amp;sspn=0.0054066908854968655,0.017072416428804946&amp;saddr=Thisted+st,+Danmark&amp;t=m&amp;daddr=Plantagevej+18,+7700+Thisted,+Danmark&amp;dirflg=w&amp;ie=UTF8&amp;geocode=FTgIZQMdtZGEAClT1GY78phJRjEeDfnr0tt0rg%3BFVoWZQMdQJyEACk_xFi78phJRjEPxyIlMAhScQ&amp;ll=56.954679,8.689846&amp;spn=0.003565,0.003574&amp;source=embed" style="color:#0000FF;text-align:left">Vis stort kort</a></small>
