block vars
	- var active = 'Program'
	- var bodyClass = ''
	- var description = ""

extends views/includes/layout

block content
	h1.PageTitle Program 2013
	p yes it is.
	p <img src="http://alivefestival.dk/sites/default/files/cover%20uden%20navne-1.jpg">

	a(href="billetter.html").Button Billetter

	img(src='images/2013/artists/christianhjelm.jpg', alt='')
	img(src='images/2013/artists/densorteskole.jpg', alt='')
	img(src='images/2013/artists/dråpe.jpg', alt='')
	img(src='images/2013/artists/fallulah1.jpg', alt='')
	img(src='images/2013/artists/fallulah2.jpg', alt='')
	img(src='images/2013/artists/larsandthehandsoflight.jpg', alt='')
	img(src='images/2013/artists/lategreat.jpg', alt='')
	img(src='images/2013/artists/mø.jpg', alt='')
	img(src='images/2013/artists/rave3.jpg', alt='')
	img(src='images/2013/artists/schultz-and-forever.jpg', alt='Schultz and Forever')
	img(src='images/2013/artists/veto.jpg', alt='Veto')
	img(src='images/2013/artists/workers.jpg', alt='Workers')