block vars
	- var active = 'Index'
	- var bodyClass = 'Splash'
	- var description = ""

extends templates/includes/layout

block content
	.Splash-intro
		img(src="images/2015/logo-alivefestival-2015.png", alt="Alive Festival Thy 13.-14.-15. august 2015")
		//- h1.PageTitle ALIVE FESTIVAL THY
		//- h2 13.-14.-15. AUGUST 2015

	ul.Splash-callouts
		li: p Kun 495,- indtil den 4. april!
		li: p I en skjult oase mellem hav og fjord i hjertet af Thy løber Alive Festival i år af stablen for syvende gang i træk.
		li: p Følg med!
		li: p <a href="http://www.billetlugen.dk/da/event/alive-festival-2015-thy" class="Button">Få din billet nu</a>
		li: p <a href="/home" class="Button">Mere info</a>
		li: p <a href="https://facebook.com/alivefestival" target="_blank" class="Button">Facebook</a>

	.Splash-body
		p De først navne er klar: Ukendt Kunstner, Lord Siva, AV AV AV, The Attic Sleepers, The Entrepreneurs og Magnolia Shoals.
		p Husk også: <a href="http://www.billetlugen.dk/da/event/easter-west-coast" target="_blank">EASTER AT THE WEST COAST</a> med Marvelous Mosell og Tue Track m.fl. Påskelørdag d. 4. april i Thisted Musikteater. <a href="http://www.billetlugen.dk/da/event/easter-west-coast" target="_blank">Køb billet</a>.

	//- .Splash-video.Home-mood: figure.Frame
	//- 	a.js-Popup--video(href="https://www.youtube.com/watch?v=jYIxoxmtdnw")
	//- 		img(src="images/2014/video-thumb.jpg")

	//- .Home-gallery
		.Facebook.
			<div class="fb-like" data-href="https://facebook.com/alivefestival" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
