


<article class="Page Artist top-body " style="background-image:linear-gradient({{escapeCSS model.acf.top_color}} 0%, {{escapeCSS model.acf.bottom_color}} 20%) " >		
	<div class="Artist-body Page-body blog">
		{{#page-item}}
			<h1>404. That’s an error.</h1>
			<p>The requested URL was not found. Sorry about that.</p>
			<p>{{#link-to 'application'}}Gameover{{/link-to}}</p>
			{{#link-to 'application'}}
				<img src="https://cms.alivefestival.dk/wp/wp-content/uploads/10454414_10152099901131714_1787322271355927454_o.jpg" alt="404">
			{{/link-to}}
		{{/page-item}}

		</div>
</article>



{{outlet}}