<div class="Container centered">
	<br><br><br>
	<p>404. That’s an error.</p>
	<p>The requested URL /{{model.path}} was not found. Sorry about that.</p>
	<p>{{#link-to 'application'}}Go back to the homepage{{/link-to}}</p>
</div>

{{outlet}}