<h1>Nyheder</h1>
<ul class="List">
	{{#each model as |post|}}
		<li>
			{{#link-to 'news.post' post}}
				{{post.title}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>

<p>Tjek <a href="http://facebook.com/alivefestival" target="_blank">Alive Festival på Facebook</a> for mere.</p>

{{outlet}}
