.Grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

// Make sure wrapper links are block
.Grid-item > a {
	display: block;
}

.Grid--full .Grid-item {
	margin-right: 0;
	margin-bottom: 0;
}

$masonry-gutter: 1.5rem;

.Masonry-item {
	width: 100%;
	background: $transparent;
	@media (min-width: $layout-m) {
		width: 30%;
		width: calc(33% - #{$masonry-gutter});
		margin-right: $masonry-gutter;
		margin-bottom: $masonry-gutter;
	}
	@media (min-width: $layout-xl) {
		width: 20%;
		width: calc(25% - #{$masonry-gutter});
		margin-right: $masonry-gutter;
		margin-bottom: $masonry-gutter;
	}

	@include animation-delay(7);
	transition: opacity 200ms ease-in-out;
	opacity: 0;

	// show them when they are loaded or if we dont have js
	.Masonry.is-active &,
	.no-js & {
		opacity: 1;
	}
}
