.Grid {
	display: flex;
	flex-flow: row wrap;
}

.Grid-item {
	//flex: rem(320);
	// margin-right: 1rem;
	//margin-bottom: 1rem;
}

// Make sure wrapper links are block
.Grid-item > a {
	display: block;
}

.Grid--full .Grid-item {
	margin-right: 0;
	margin-bottom: 0;
}

$masonry-gutter: 1.5rem;

.Masonry-item {
	width: 100%;
	width: calc(100% - #{$masonry-gutter});
	margin-right: $masonry-gutter;
	margin-bottom: $masonry-gutter;

	@media (min-width: $layout-s) {
		width: 48%;
		width: calc(50% - #{$masonry-gutter});
	}
	@media (min-width: $layout-m) {
		width: 30%;
		width: calc(33% - #{$masonry-gutter});
	}
	@media (min-width: $layout-xl) {
		width: 20%;
		width: calc(25% - #{$masonry-gutter});
	}

	@include animation-delay(7);
	transition: opacity 200ms ease-in-out;
	opacity: 0;

	// show them when they are loaded or if we dont have js
	.Masonry.is-active &,
	.no-js & {
		opacity: 1;
	}
}
