html {
	@include negative-text;
	min-height: 100%;
	color: $text-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: $bg-color;
	// background-image: linear-gradient(to bottom, #faf6d1, #f6dfd9);
	// background-image: linear-gradient(to bottom, #eee5e5 10%, hsl(0, 41%, 88%));
}

body {
	overflow-y: scroll; // avoid jumps
}

.App-main {
	transition: transform 250ms $ease-accelerate, opacity 200ms;

	@media (max-width: $layout-m) {
		// Push it out of view to the left
		// transform: translate3d(10%, 0, 0);

		.show-aside & {
			opacity: 0.5;
			transition-timing-function: $ease-decelerate, opacity 200ms;
			transition-duration: 300ms;
			// transform: translate3d(5%, 0, 0);
		}
	}

	@media (min-width: $layout-m) {
		padding-left: $aside-width - 1rem;
	}

	// Try to improve page transitions with liquid-fire.
	> .liquid-container,
	> .liquid-container > .liquid-child {
		min-height: 100%;
	}
}

.Artists {
	margin-left: rem($space * 2);
}

.BackLink {
	margin-bottom: rem($space * 2);
	a {
		text-decoration: none;
	}
}

.YoLink {
	font-size: rem(100);
	text-decoration: none !important;

	.Page & {
		text-decoration: none !important;
	}
}

.Post h1 {
	margin-bottom: 0;
	+ time {
		display: block;
		margin-bottom: rem($space * 2);
	}
}

img.alignleft {
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}
img.alignright {
	float: right;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.TeaserBox {
	text-align: center;

	a {
		font-size: $font-20;
		@extend %font-bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		display: block;
		padding: 0.5em 1em 0.5em;
		line-height: 1;
	}
}

.TeaserBox--alive {
	background-color: #08092d;
	background-image: url(images/moods/bluego.gif);
	background-repeat: repeat;

	a {
		color: $silk;

		&:hover {
			color: $white;
		}
	}
}

.TeaserBox--fixed {
	position: fixed;
	top: -2rem;
	right: -9rem;
	transform: rotate(25deg);

	a {
		padding: 3em 7em 0.8em;
	}
}

.Invert {
	background: $black;
	color: $silk;

	a {
		color: $silk;
		// text-decoration: underline;

		&:hover {
			color: $silk;
		}
	}
}
