/**
 * Layout
 */

// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	height: 100%;
	padding: 1rem;
	background-color: $yellow;
	background-image: url(../images/2014/alive-festival-bg-pattern.jpg);
	background-repeat: repeat;
	color: $dark;

	@media (min-width: $layout-s) {
		// border: 1rem solid $tandpasta;
		// box-shadow: inset 0px 0px 20px 10px hsla(0, 0%, 0%, 0.2);
		padding: 2rem;
	}
	@media (min-width: $layout-l) {
		padding: 3rem;
	}
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
}
.Header,
.Main {
	// padding-left: 1rem; padding-right: 1rem;
	@media (min-width: $layout-s) {
		// padding-left: 2rem; padding-right: 2rem;
	}
}
.Header {
	@media (min-width: $layout-s) {
		margin-top: 1rem;
		// padding-left: 1rem;
	}
}
.Main {
	@include clearfix;
	clear: both;

	// The first box
	> .Box:nth-of-type(1) {
		@media (min-width: $layout-l) {
			float: left;
			width: 70%;
			margin-right: 2%;
			// margin-left: 9rem;
		}
		@media (min-width: 1100px) {
			// margin-left: 14rem;
			// pull next element up
			// float: left;
			// margin-right: -100%;
		}
		@media (min-width: 1200px) {
			// position: static;
			// margin-left: 19rem;
			// top: -4rem;
		}
		@media (min-width: $layout-xl) {
			// position: static;
			// margin-left: 22rem;
		}
	}
}

// Sidebar
.Aside {
	clear: both;
	@media (min-width: $layout-l) {
		clear: none;
		float: left;
		width: 28%;
	}
	@media (min-width: 1200px) {
		position: static;
		// clear: none;
		// float: left;
		// width: 22rem;
	}
	@media (min-width: $layout-xl) {
		position: static;
		// width: 24rem;
	}
}



// Wider music page
.page-Music {
	.Main {
		min-width: 95%;
	}
}

// Ticket page
.page-Tickets {
	.Mood1 { max-width: 600px; }
	.Mood3 { max-width: 700px; }
	.Mood2 { max-width: 960px; }
}

// Utility
.u-clear {
	clear: both;
}

// Override cursor image
// html,
// a {
// 	cursor: url(../images/cursor.png) -20 -40, default;
// }


.Border {
	clear: both;
	border: 1rem solid $tandpasta;
	border-radius: 8px;
}


// Grid
.Grid {
	@include clearfix;
	clear: both;

	> .Grid-u {
		float: left;
	}
}
// Two column grid
.Grid--2 {
	.Grid-u {
		width: 48%;
		&:first-child {
			margin-right: 2%;
		}
	}
}
