/**
 * Layout
 */

// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	@media (min-width: $layout-s) {
		border: 1rem solid $tandpasta;
	}
}
body {
	color: $dark;
	background-color: $yellow;
	background-image: url(../images/2014/alive-festival-bg-pattern7.jpg);
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: scroll;
}
.Header,
.Main {
	padding-left: 1rem;
	padding-right: 1rem;
	@media (min-width: $layout-s) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
.Header {
	margin-top: 1rem;
	@media (min-width: $layout-s) {
		margin-top: 2rem;
	}
}
.Main {
	clear: both;
}

.page-Index {
	// background-image: url(../images/2014/alive-header.jpg);
	// background-size: 100%;
	// background-repeat: no-repeat;
	// background-position: -2em -2em;
	// background-attachment: fixed;
	// .Logo {
	// 	width: 400px;
	// }
}

// Override cursor image
// html,
// a {
// 	cursor: url(../images/cursor.png) -20 -40, default;
// }

.Main {
	@include clearfix;
	// position: relative;
	// z-index: 1;

	.Box:nth-of-type(1) {
		@media (min-width: $layout-l) {
			margin-left: 9rem;
		}
		@media (min-width: 1100px) {
			margin-left: 14rem;
			// pull next element up
			float: left;
			margin-right: -100%;
		}
		@media (min-width: 1200px) {
			margin-left: 21rem;
			top: -2rem;
		}
	}
}

// Wider music page
.page-Music {
	.Main {
		min-width: 95%;
	}
}


.Aside {
	clear: both;
	@media (min-width: 1200px) {
		clear: none;
		float: left;
		width: 24rem;
	}
	// @media (min-width: 1200px) {
	// 	width: 27rem;
	// }
}


.page-Tickets {
	.Mood1 { max-width: 600px; }
	.Mood3 { max-width: 700px; }
	.Mood2 { max-width: 960px; }
}


.u-clear {
	clear: both;
}
