body {
	overflow: hidden;
	// cursor: url('images/cursor-default.png'),auto;
	// cursor: url('images/cursor-pointer.png'),pointer;
}
// .App {
// 	overflow: hidden;
// }
.App-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: $bg-color;
	// background-image: url('images/moods/bg-poster-crop.jpg');
	// background-repeat: no-repeat;
	// background-size: cover;
}
.Section {
	position: absolute;
	// top: $header-bar-height;
	top: 0;
	left: $aside-width - 2rem;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.BackLink {
	font-weight: 300 !important;
	margin-top: -2rem;
	margin-bottom: 3rem;
	a {
		text-decoration: none;
	}
}


.List {
	a {
		// @include h3;
		// text-decoration: none;
	}
}
