.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-left-hover { background-image: url('png/arrow-left-hover.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right-hover { background-image: url('png/arrow-right-hover.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-cross-hover { background-image: url('png/cross-hover.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon-map-hover { background-image: url('png/map-hover.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon-marker-hover { background-image: url('png/marker-hover.png'); background-repeat: no-repeat; }

.icon-marker { background-image: url('png/marker.png'); background-repeat: no-repeat; }

.icon-overview-hover { background-image: url('png/overview-hover.png'); background-repeat: no-repeat; }

.icon-overview { background-image: url('png/overview.png'); background-repeat: no-repeat; }

.icon-slide-arrow-left { background-image: url('png/slide-arrow-left.png'); background-repeat: no-repeat; }

.icon-slide-arrow-right { background-image: url('png/slide-arrow-right.png'); background-repeat: no-repeat; }

.icon-website-hover { background-image: url('png/website-hover.png'); background-repeat: no-repeat; }

.icon-website { background-image: url('png/website.png'); background-repeat: no-repeat; }

