<div class="Section">
	<div class="Manchet">
		<h1 class="Title">Nyheder</h1>
		<p>Tjek <a href="http://facebook.com/alivefestival" target="_blank">Alive Festival på Facebook</a> for mere.</p>
	</div>

	{{outlet}}
</div>
