<button class="WheelOfFortune-btn NonBtn" {{action 'spinIt'}}>
	<img src="assets/images/moods/lykkehjul.png" alt="Spin that shit" width="100">
</button>

<br><br>

<div class="WheelOfFortune-item">
	{{#if hasBlock}}
		{{yield item}}
	{{else}}
		{{letter-box}}
	{{/if}}
</div>