<p class="BackLink">{{#link-to 'news.index'}}&larr; tilbage{{/link-to}}</p>

<h1>{{model.title}}</h1>
{{{model.content}}}
{{#if model.better_featured_image}}
	<img src="{{model.better_featured_image.source_url}}" alt="{{model.title}}">
{{/if}}