<div id="AnimateBarCounter" class="Bar-galleryCounter">
	<span>{{#liquid-bind selected use="toUp" as |selected|}}{{selected}}{{/liquid-bind}}</span>
	<span></span>
	<span>{{#liquid-bind total use="toDown" as |total|}}{{total}}{{/liquid-bind}}</span>
</div>