<div class="filters">
{{#link-to 'line-up' (query-params tag="all") }}
<div class="Button small-caption filter">
	Alt
</div>
{{/link-to}}

{{#link-to 'line-up' (query-params tag="musik") }}
<div class="Button small-caption filter">
	Musik
</div>
{{/link-to}}

{{#link-to 'line-up' (query-params tag="kunst") }}
<div class="Button small-caption filter">
	Kunst
</div>
{{/link-to}}

{{#link-to 'line-up' (query-params tag="udflugter") }}
<div class="Button small-caption filter">
	Udflugter
</div>
{{/link-to}}



</div>


{{yield}}

