{{#link-to "program" (query-params tag="all") class="Button coral-Button coral"}}
	Hele programmet
{{/link-to}}

<div>
{{#link-to 'program' (query-params tag="music") class="Button coral-Button coral"}}
	Musikprogrammet
{{/link-to}}

{{#link-to 'program' (query-params tag="event") class="Button coral-Button coral"}}
	Dagsprogrammet
{{/link-to}}
</div>





{{yield}}

