<div class="filters">
{{#link-to 'program' (query-params tag="all") }}
<div class="Button small-caption filter">
	Alt
</div>
{{/link-to}}

{{#link-to 'program' (query-params tag="musik") }}
<div class="Button small-caption filter">
	Musik
</div>
{{/link-to}}

{{#link-to 'program' (query-params tag="natur") }}
<div class="Button small-caption filter">
	Natur
</div>
{{/link-to}}

{{#link-to 'program' (query-params tag="kultur") }}
<div class="Button small-caption filter">
	Kultur
</div>
{{/link-to}}

{{#link-to 'program' (query-params tag="samvær") }}
<div class="Button small-caption filter">
	Samvær
</div>
{{/link-to}}

</div>


{{yield}}

