//
// Homepage
//

// .page-Index {
// 	//overflow: hidden;
// 	height: 100%;

// 	.l-Header {
// 		position: absolute;
// 		z-index: 5;
// 		width: 100%;
// 	}
// 	.l-Main {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 	}
// 	.Box {
// 		padding-bottom: 0;
// 	}

// 	// animate bg on load
// 	@include transition-timing-function(cubic-bezier(1,.01,.3,1));
// 	@include transition(background 1s);
// 	background-position: 50% 90%;

// 	.loaded & {
// 		background-position: 50% 100%;
// 	}
// }




#zlayer {
	position: relative;
	width: 100%;
	height: 100%;
}
[class^='Layer'] {
	position: absolute;
}
// volunteer
.Layer1 {
	margin-top: 13em; margin-left: 41em;
	display: none;
	@media (min-width: 740px) {
		display: block;
		margin-top: 13em; margin-left: 41em;
	}
}
// newsletter
.Layer2 {
	margin-top: 22em; margin-left: 39em;
	@media (min-width: 740px) {
		margin-top: 22em; margin-left: 39em;
	}
}
// program
.Layer3 {
	margin-top: 14em; margin-left: 3em;
	@media (min-width: 740px) {
		margin-top: 13em; margin-left: 3em;
	}
}
//social
.Layer4 {
	top: initial !important; bottom: 2em !important; margin-left: 2em;
	@media (min-width: 740px) {
		bottom: 2em !important; margin-left: 6em;
	}
}
//tickets
.Layer5 {
	display: none;
	margin-top: 15em; margin-left: 54em;
	@media (min-width: 740px) {
		display: block;
		//
	}
}

.Box--program,
.Box--volunteer {
	> h2 {
		color: #fff;
	}
}

.Layer--volunteer {} // volunteer
.Box--volunteer {
	background-image: url(../images/gallery/278815_10150999577681714_644388252_o.jpg);
	background-size: contain;
}

.Layer--newsletter {} // newsletter

.Layer--program {} // program
.Box--program {
	background-image: url(../images/2013/artists/raveonettes.jpg);
	background-image: url(../images/2013/program.jpg);
	background-size: cover;
	width: 450px;
	max-width: 100%;
	padding-top: 0;
}

.Layer--social {
	.Box {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}
