//
// Homepage
//

.page-Index {
	overflow: hidden;
	height: 100%;
	padding: 0;
	.l-Main {
		margin-bottom: 0;
	}
	
	// animate bg on load
	@include transition-timing-function(cubic-bezier(1,.01,.3,1));
	@include transition(background 1s);
	background-position: 50% 90%;
	.loaded & {
		background-position: 50% 100%;
	}
}
.Newsletter {
	padding: 13px 14px 50px;
	h2 { margin-bottom: em(5); }
	label { display: none; }
	input { display: inline-block; float: left; font-size: (16/18)*1rem;}
	.email { width: 140px;}
	.button { padding: em(10) em(15); margin: -2px 0 0 -2px; }
}



#zlayer {
	position: relative;
	width: 100%;
	height: 100%;
}
[class^='Layer'] {
	position: absolute;
}
.Layer1 { margin-top: 2em; margin-left: 41em;}
.Layer2 { margin-top: 27em; margin-left: 60em;}
.Layer3 { margin-top: 6em; margin-left: 4em;}
.Layer-social { top: initial !important; bottom: 2em !important; margin-left: 17em;}
.Layer-logo {
	max-width: 500px;
	top: 50% !important;
	left: 50% !important;
	margin-top: -57px;
	margin-left: -250px;
	z-index: 5;
	img { max-width: none;}
}
.Layer6 { margin-top: 10em; margin-left: 60em;}
.Layer-social .Box { padding-top: 1em; padding-bottom: 1em;}
.page-Index .l-Header .Logo { display: none;}
.page-Index .Logo { position: static;}
.Box--program,
.Box--volunteer {
	> h2 {
		color: #fff;
	}
}
.Box--program {
	background-image: url(../images/2013/artists/raveonettes.jpg);
	background-image: url(../images/2013/program.jpg);
	background-size: cover;
	min-width: 600px;
}
.Box--volunteer {
	background-image: url(../images/gallery/278815_10150999577681714_644388252_o.jpg);
	background-size: contain;
}

.Layer1 {} // volunteer
.Layer2 {} // newsletter
.Layer3 {} // program
.Layer-social {} 
.Layer-logo {}
