//
// Lines
//

.Line {
	width: 0.5em;
	height: 20%;
	position: fixed;
	bottom: -10%;
	left: 50%;
}
$degrees: 20deg;
$exponential-spacing: 0.3;
.Line {
	@include transform-origin(bottom);
	//background-color: $red;
	// position
	@include translate3d(0,1em,0);
	&:nth-child(2n) { @include translateY(2em); }
	&:nth-child(3n) { @include translateY(4em); }
	// amimate
	@include animation-duration(1s);
	@include animation-iteration-count(infinite);
	@include animation-direction(alternate);
}

@for $i from 1 through 20 {
	.Line:nth-of-type(#{$i}) {
		left: 2% * $i * ($i * $exponential-spacing);
		@include animation-name(r#{$i});
		@include animation-delay(1*$i*50ms);
		background-color: lighten($red,4%*$i);
	}
	@include keyframes(r#{$i}) {
		0% { @include rotate(($degrees/2)*-1); }
		100% { @include rotate(($degrees/2)*1); }
	}
}
