//
// Masonry
// Fluid widths are hard and it is easiter not to use Susy here.
//


// Small version
$small-columns: 2;
$small-gutter: 2%;
$small-from: 400px;

// Medium version
$medium-columns: 4;
$medium-gutter: 2%;
$medium-from: 1200px;

// Large version
$large-columns: 6;
$large-gutter: 2%;
$large-from: 1650px;




// Mixin to calculate the width
@mixin calcWidth($columns, $gutter: $gutter) {
	width: (100% - ($gutter * ($columns - 1))) / $columns;
}

.grid-sizer {
	width: columns(1,2);
	@media (min-width: em($medium-from)) {
		width: columns(1,4);
	}
	@media (min-width: em($large-from)) {
		width: columns(1,5) - 0.5;
	}
}

.Artist.raveonettes,
.Artist.veto,
.Artist.ebo-taylor {
	width: columns(2,2);
	@media (min-width: em($medium-from)) {
		width: columns(2,4);
	}
	@media (min-width: em($large-from)) {
		width: columns(3,5) - 0.5;
	}
}
.Artist.den-sorte-skole {
	@media (min-width: em($medium-from)) {
		width: columns(2,4);
	}
	@media (min-width: em($large-from)) {
		width: columns(2,5) - 0.5;
	}
}
.Artist.workers-in-songs {
	@media (min-width: em($medium-from)) {
		width: columns(2,4);
	}
	@media (min-width: em($large-from)) {
		width: columns(2,5) - 0.5;
	}
}



.gutter-sizer {
	width: gutter();
}

.js-masonry {
	@include pie-clearfix;
	background-color: teal;
}
// Apply the grid-sizer to the item in the grid.
// The .Article selector is just an example.
.Artist {
	@extend .grid-sizer;
	float: left;
	margin-bottom: 2%;
	img {
		max-width: 100%;
	}
}
