//
// Modules
//

// Try not to write anything in here. Create a new .scss file instead.

//
// Modules
//



//
// Social
//
div.fb_iframe_widget {
}


//
// Page titles
//
.PageTitle {
	font-size: 40px;
	min-height: 1.5em;
	line-height: 1;
  	text-align: center;
  	padding-top: em(10,40);
  	background: transparent url(../images/pensel1.png) no-repeat center center;
  	background-size: cover;
  	color: #222;

	// span {
	// 	display: inline-block;
	// 	position: relative;  
	// }
	// span:before,
	// span:after {
	// 	content: "";
	// 	position: absolute;
	// 	border-top: 4px solid darken(rgb(240, 238, 234),10);
	// 	top: 0.4em;
	// 	width: 600px;
	// }
	// span:before {
	// 	right: 100%;
	// 	margin-right: 15px;
	// }
	// span:after {
	// 	left: 100%;
	// 	margin-left: 15px;
	// }
}






.tabList {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.tabList a {
  display: block;
  float: left;
  border: 1px solid #000;
  padding: .25em 2em;
  margin: 0 0 -1px .25em;
  border-radius: .5em .5em 0 0;
  background-color: #aaa;
}

.tabList a:link, .tabList a:visited, .tabList a:hover, .tabList a:focus, .tabList a:active {
  text-decoration: none;
  color: #000;
}

.tabList a:hover, .tabList a:focus {
  background-color: #ccc;
}

.tabList a.selected {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tabPanels div {
  clear: left;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid #000;
  border-radius: .25em;
  background-color: #fff;
  color: #000;
  display: none;
}

.tabPanels div.selected, div[aria-hidden=false] {
  display: block;
}

.hide, div[aria-hidden=true] {
  display: none;
}