//
// Modules
//

// Try not to write anything in here. Create a new .scss file instead.

//
// Modules
//



//
// Newsletter
//
#mc_embed_signup {
	overflow: auto;
	padding-bottom: 1em;
}
.Newsletter {
	padding: 13px 14px 50px;
	h2 { margin-bottom: em(5); }
	label { display: none; }
	input { display: inline-block; float: left; font-size: (16/18)*1rem;}
	.email { width: 140px;}
	.button { padding: em(10) em(15); margin: -2px 0 0 -2px; }
}


//
// Page titles
//
.PageTitle {
	font-size: 40px;
	min-height: 1.5em;
	line-height: 1;
	text-align: center;
	padding-top: em(10,40);
	background: transparent url(../images/pensel1.png) no-repeat center center;
	background-size: cover;
	color: #222;

	// span {
	// 	display: inline-block;
	// 	position: relative;  
	// }
	// span:before,
	// span:after {
	// 	content: "";
	// 	position: absolute;
	// 	border-top: 4px solid darken(rgb(240, 238, 234),10);
	// 	top: 0.4em;
	// 	width: 600px;
	// }
	// span:before {
	// 	right: 100%;
	// 	margin-right: 15px;
	// }
	// span:after {
	// 	left: 100%;
	// 	margin-left: 15px;
	// }
}
