//
// Modules
//

// Try not to write anything in here. Create a new .scss file instead.

//
// Modules
//



//
// Newsletter
//
#mc_embed_signup {
	overflow: auto;
	padding-bottom: 1em;
}
.Newsletter {
	padding: 13px 14px 50px;
	h2 { margin-bottom: em(5); }
	label { display: none; }
	input { display: inline-block; float: left; font-size: (16/18)*1rem;}
	.email { width: 140px;}
	.button { padding: em(10) em(15); margin: -2px 0 0 -2px; }
}


//
// Page titles
//
.PageTitle {
	font-size: 40px;
	min-height: 1.5em;
	line-height: 1;
	text-align: center;
	padding-top: em(10,40);
	background: transparent url(../images/pensel1.png) no-repeat center center;
	background-size: cover;

	.TabsNav & {
		font-size: rem(20);
		padding-left: 0.25em;
		padding-right: 0.25em;
		margin-bottom: 0;
	}
}
