//
// Primary navigation
//

.Navigation--primary {
	@include pie-clearfix;
	font-family: $font-header;
	text-align: center;

	font-size: rem(20);
	@media (min-width: em(700)) {
		> li > a {
			font-size: rem(26);
		}
	}

	li {
		display: inline-block;
		@include transition(transform 1000ms);
	}
	a {
		@include transition(background 200ms);
		background-size: 1%;
		display: inline-block;
		padding: 0.25em 0.5em;
		color: white;
		text-decoration: none;
		&:hover {
			@include scale(1.15);
		}
	}
	a:hover,
	.is-active > a, // perch selector
	a.is-active, // praktisk/history
	a.active, // drupal selector
	.js-hover > a {
		background: transparent url(../images/pensel1.png) no-repeat center center;
		background-size: contain;
		color: #222;
	}

	// Dropdowns
	ul {

	}
}
