//
// Navigation
//

.Navigation {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	.selected {
		color: $red;
	}
}
.DropdownParent {
	position: relative;
}
.Dropdown {
	position: absolute;
	top: auto;
	left: 0;
	display: none;
	z-index: 20;
	border-radius: 0.5em;
	background: lighten($green, 10%);
	width: 8em;
	text-align: center;
}
//li:hover > .Dropdown,
.js-hover > .Dropdown {
	display: block;
}
.js-hover > a {
	color: #f1f1f1;
	border-color: #f1f1f1;
	background-color: rgba($green, 0.9);
	@include scale(1.15);
}


.Navigation--history {
	top: initial;
	left: 50%;
	margin-left: -4em;
	bottom: 4.5em;
	.page-Index & {
		//left: 21%;
		bottom: 6.5em;
	}
	
	li,
	a {
		display: block;
	}
}




@include keyframes(fadeInLeft) {
	0% {
		opacity: 0;
		@include transform(translateY(5px) rotate(-5deg));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0) rotate(-15deg));
	}
}
@include keyframes(fadeInRight) {
	0% {
		opacity: 0;
		@include transform(translateY(5px) rotate(5deg));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0) rotate(15deg));
	}
}


