//
// Primary navigation 
//

.Navigation--primary {
	@include pie-clearfix;
	font-family: $font-header;
	text-align: center;	
	
	@media (min-width: em(700)) {
		font-size: rem(26);
	}

	li {
		display: inline-block;
		@include transition(transform 1000ms);
	}
	a {
		display: inline-block;
		padding: 0.25em 0.5em;
		color: white;
		text-decoration: none;
		&:hover,
		&.is-active,
		.js-hover > a {
			background: transparent url(../images/pensel1.png) no-repeat center center;
			background-size: contain;
			color: #222;
		}
		&:hover {
			@include scale(1.15);
		}
	}
	&.is-hidden {}
}
.page-Index .Navigation--primary > li {
	//@include animation-fill-mode(both);
}

.Navigation--history {
	@include transition-timing-function(cubic-bezier(1,.01,.3,1));
	@include transition(all 300ms);
	@include translateY(150%);
	.js-hover > & {
		@include translateY(0);
	}
	
	li,
	a {
		display: block;
	}
}
