<div class="Social-Links">
	<a href="https://facebook.com/alivefestival" target="_blank" title="Alive på Facebook">
						<img width="300" class="lazyload" data-src="/assets/images/icons/facebook.png" alt="">
	</a>
	<a class="middle" href="https://www.instagram.com/thyalive/" target="_blank" title="Alive på Instagram">
						<img width="300" class="lazyload" data-src="/assets/images/icons/instagram.png" alt="">
	</a>
	<a href="https://open.spotify.com/user/1133931389/playlist/5mbdqkSLMYmZJ3n5EU85ZM" target="_blank" title="Alive på Spotify">
						<img width="300" class="lazyload" data-src="/assets/images/icons/spotify-sketch.png" alt="">
	</a>
</div>

{{yield}}